// Define all colours here

$color-title-has: #df5e0e;
$color-title-geek: #816894;
$color-title-jobs: #f0a40c;

$color-stickie: #ffffff;
$color-stickie-date: #816894;
$color-stickie-location: #816894;
$color-stickie-new: #df5e0e;

$color-stickie-info: #f6f6f6;
$color-stickie-fulltime: #ffffa2;
$color-stickie-parttime: #ffffa2;//#df5e0e;
$color-stickie-volunteer: #ffffa2;//#f0a40c;

$color-shadow: rgba(0, 0, 0, 0.4);
$color-header: #DDF7F5;
$color-sheet: #fff;
$color-sheet-border: #afafaf;
$color-post-date: gray;

$color-outline: #b7b7b7;
$color-outline-thin: #e8e8e8;

$color-radio-selected: $color-title-jobs;
