@import url('http://fonts.googleapis.com/css?family=Walter+Turncoat');
@import url('http://fonts.googleapis.com/css?family=Permanent+Marker');

$font-stickie-header: 'Walter Turncoat', sans-serif;
$font-stickie-date: 'Walter Turncoat', sans-serif;
$font-stickie-headline: 'Permanent Marker', sans-serif;