$font-site-title: ff-meta-web-pro-1, ff-meta-web-pro-2, sans-serif;
$font-stickie-header: 'Walter Turncoat', sans-serif;
$font-stickie-date: 'Architects Daughter', sans-serif;
$font-stickie-location: 'Walter Turncoat', sans-serif;
$font-stickie-new: 'Walter Turncoat', sans-serif;
$font-stickie-info: 'Walter Turncoat', sans-serif;
$font-stickie-headline: 'Architects Daughter', sans-serif;
$font-post-date: 'Walter Turncoat', sans-serif;
$font-button: ff-meta-web-pro-1, ff-meta-web-pro-2, sans-serif;
$font-input: ff-meta-web-pro-1, ff-meta-web-pro-2, sans-serif;