#stickie-area {
    margin: 0;
    padding: 10px;
    list-style: none;
}
.stickie {
    font-size: 150%;
    width: 240px;
    background: $color-stickie;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 1.2em;
    margin: 10px 10px;
    @include border-radius(2px);
    @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset);
    //-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    //   -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    //        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    &:before, &:after {
        content: "";
        position: absolute;
        z-index: -2;
        bottom: 15px;
        left: 10px;
        width: 50%;
        height: 20%;
        max-width: 300px;
        @include single-box-shadow($color-shadow, 0, 15px, 10px);
        @include rotate(-3deg);
    }
    &:after {
        right: 10px;
        left: auto;
        @include rotate(3deg);
    }
    a, a:hover, a:active, a:visited, a:focus {
        /* Make stickies clickable */
        text-decoration: none !important;
        color: black !important;
        color: inherit !important;
        display: block;
        width: 100%;
        height: 100%;
        margin: -1em;
        padding: 1em;
        border-bottom: 0;
        overflow-x: hidden;
    }
    header & {
        width: 120px;
        margin: 10px;
        font-family: $font-stickie-header;
    }
    .headline {
        font-family: $font-stickie-headline;
    }
    .date {
        font-size: 80%;
        color: $color-stickie-date;
        font-family: $font-stickie-date;
        position: absolute;
        top: 0.25em;
        right: 0.5em;
    }
    .location {
        font-size: 80%;
        color: #FBCACA;
        font-family: $font-stickie-location;
        position: absolute;
        top: 0.25em;
        left: 0.5em;
        //padding-left: 12px;
        // Don't let location get too long
        height: 1.2em;
        width: 75%;
        overflow: hidden;
        @include transition-property(color);
        @include transition-duration(0.5s);
    }
    .company {
        font-size: 80%;
        color: #FBCACA;
        font-family: $font-stickie-location;
        position: absolute;
        left: 0.5em;
        bottom: 0.25em;
        height: 1.2em;
        width: 75%;
        overflow: hidden;
        @include transition-property(color);
        @include transition-duration(0.5s);
    }
    &:hover .location, &:hover .company {
        //background: transparent url(../img/location1.png) no-repeat 2px 4px;
        color: $color-stickie-location;
        @include transition-property(color);
        @include transition-duration(0.5s);
    }
    .new {
        font-size: 80%;
        color: $color-stickie-new;
        font-family: $font-stickie-new;
        text-transform: lowercase;
        position: absolute;
        right: 0.5em;
        bottom: 0.25em;
    }
}

#newpost, #filtered, #nojobs {
    font-family: $font-stickie-info;
    background-color: $color-stickie-info;
    @include transition-property(background-color);
    @include transition-duration(0.5s);
    /* &:focus, &:hover {
        background-color: $color-stickie-fulltime;
        @include transition-property(background-color);
        @include transition-duration(0.5s);
        textarea {
            background-color: $color-stickie-fulltime;
            @include transition-property(background-color);
            @include transition-duration(0.5s);
        }
    } */
}

.stickie.special {
    font-family: $font-stickie-info;
    background-color: $color-stickie-info;
}

#newpost {
    textarea {
        font-family: $font-stickie-headline;
        width: 100%;
        border: 0;
        background-color: $color-stickie-info;
        resize: none;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
        @include transition-property(background-color);
        @include transition-duration(0.5s);
    }
    #newpost_details {
        margin-top: 0.5em;
        text-align: right;
    }
    input[type="submit"] {
        height: 27px;
        border: 1px solid $color-outline;
        font-family: $font-button;
        font-size: 14px;
        @include border-radius(3px);
        padding: 0 12px;
        background: #e6e6e6;
        @include background-image(linear-gradient(#e6e6e6, #d6d6d6));
        font-weight: bold;
        color: #444;
        &:hover {
            //text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
            background: #d6d6d6;
            @include background-image(linear-gradient(#d6d6d6, #c6c6c6));
            //color: #fff;
        }
    }
}



.stickie.info {
    font-family: $font-stickie-info;
    background-color: $color-stickie-info;
}
