web:
  build: .
  command: python /code/hasjob/runserver.py &
  volumes:
   - .:/code/hasjob
  environment:
    SERVER_NAME: hasjob.docker.dev
    LASTUSER_SERVER: https://auth.hasgeek.com
    LASTUSER_CLIENT_ID: client-key-here
    LASTUSER_CLIENT_SECRET: client-secret-here
  links:
   - pg
   - redis
  ports:
   - "5000:5000"
   - "5432:5432"
   - "6379:6379"
pg:
  image: postgres
  environment:
    POSTGRES_PASSWORD: postgres
    POSTGRES_USER: postgres
redis:
  image: redis