Flask==1.1.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
Flask-Mail==0.9.1
Flask-Assets==2.0
Flask-RQ2==18.3
Flask-Testing==0.8.0
Flask-Redis>=0.3.0
Pillow==7.1.2
sqlalchemy_utils==0.36.4
SQLAlchemy>=1.0.0
pytz==2020.1
markdown==3.2.1
tweepy==3.8.0
coverage==5.1
bleach==3.1.5
ordereddict==1.1
jsmin==2.2.2
psycopg2==2.8.5
dnspython==1.16.0
html2text==2020.1.16
premailer==3.6.1
langid>=1.1.4dev
tldextract==2.2.2
geoip2==3.0.0
git+https://github.com/maxcountryman/flask-uploads.git
git+https://github.com/hasgeek/coaster
git+https://github.com/hasgeek/flask-lastuser
git+https://github.com/hasgeek/baseframe
Flask-Migrate==2.5.3
progressbar2==3.50.1
