Flask
Flask-SQLAlchemy
Flask-WTF
Flask-Mail
Flask-Assets
Flask-Uploads
Flask-RQ
Flask-Testing
Flask-Redis
Pillow
SQLAlchemy
pytz
markdown
tweepy
bitlyapi
whoosh
coverage
bleach
ordereddict
jsmin
dnspython
html2text
premailer
langid>=1.1.4dev
tldextract
unicodecsv
geoip2
Flask-Script==0.5.3
psycopg2
https://github.com/hasgeek/coaster/zipball/master
https://github.com/hasgeek/flask-lastuser/zipball/master
https://github.com/hasgeek/baseframe/zipball/master
https://github.com/jace/flask-alembic/zipball/master
