<!DOCTYPE html>
<html>
  <head>
    <title>HasGeek Jobs</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <script type="text/javascript" src="http://use.typekit.com/qzn6otx.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <div id="logo" class="ir">
        <h1><a href="{{url_for('index')}}">HasGeek Job Board</a></h1>
      </div>
      <div class="stickie" style="background-color: #df5e0e">
        <a href="/fulltime">
          Full time
        </a>
      </div>
      <div class="stickie" style="background-color: #816894">
        <a href="/parttime">
          Part time
        </a>
      </div>
      <div class="stickie" style="background-color: #f0a40c">
        <a href="/freelance">
          Freelance
        </a>
      </div>
      <div class="stickie">
        <a href="/volunteer">
          Volunteer
        </a>
      </div>
      <div class="stickie" style="background-color: #fff">
        <a href="/new">
          Post a job
        </a>
      </div>
    </header>
    <div class="container">
      <div class="stickie hand1">
        Marketing guru at HasGeek Media LLP
      </div>
      <div class="stickie hand2">
        Logistics coordinator at HasGeek
      </div>
      <div class="stickie hand3">
        Senior Project Manager at DotAhead
      </div>
      <div class="stickie hand1">
        Test note<br/>Could be longer
      </div>
      <!-- Repeat -->
      <div class="stickie hand1">
        <p>Marketing guru at HasGeek Media LLP</p>
        <p>We are a startup that seriously needs assistance. We're overloaded otherwise.</p>
      </div>
      <div class="stickie hand2">
        Logistics coordinator at HasGeek
      </div>
      <div class="stickie hand3">
        Senior Project Manager at DotAhead
      </div>
      <div class="stickie hand1">
        Test note<br/>Could be longer
      </div>
      <!-- Repeat -->
      <div class="stickie hand1">
        <p>Marketing guru at HasGeek Media LLP</p>
        <p>We are a startup that seriously needs assistance. We're overloaded otherwise.</p>
      </div>
      <div class="stickie hand2">
        Logistics coordinator at HasGeek
      </div>
      <div class="stickie hand3">
        Senior Project Manager at DotAhead
      </div>
      <div class="stickie hand1">
        Test note<br/>Could be longer
      </div>
      <!-- Repeat -->
      <div class="stickie hand1">
        <p>Marketing guru at HasGeek Media LLP</p>
        <p>We are a startup that seriously needs assistance. We're overloaded otherwise.</p>
      </div>
      <div class="stickie hand2">
        Logistics coordinator at HasGeek
      </div>
      <div class="stickie hand3">
        Senior Project Manager at DotAhead
      </div>
      <div class="stickie hand1">
        Test note<br/>Could be longer
      </div>
    </div>
    <div class="clear"><!-- --></div>
  </body>
</html>
