/*  HTML5 ✰ Boilerplate  */
/* line 8, ../../sass/_boilerplate.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 17, ../../sass/_boilerplate.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 20, ../../sass/_boilerplate.scss */
nav ul {
  list-style: none;
}

/* line 21, ../../sass/_boilerplate.scss */
blockquote, q {
  quotes: none;
}

/* line 23, ../../sass/_boilerplate.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 24, ../../sass/_boilerplate.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 25, ../../sass/_boilerplate.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 26, ../../sass/_boilerplate.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 27, ../../sass/_boilerplate.scss */
del {
  text-decoration: line-through;
}

/* line 28, ../../sass/_boilerplate.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 29, ../../sass/_boilerplate.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 30, ../../sass/_boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 31, ../../sass/_boilerplate.scss */
input, select {
  vertical-align: middle;
}

/* line 34, ../../sass/_boilerplate.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

/* line 35, ../../sass/_boilerplate.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 36, ../../sass/_boilerplate.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 38, ../../sass/_boilerplate.scss */
body, select, input, textarea {
  color: #444;
}

/* line 39, ../../sass/_boilerplate.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 40, ../../sass/_boilerplate.scss */
html {
  overflow-y: scroll;
}

/* line 42, ../../sass/_boilerplate.scss */
a:hover, a:active {
  outline: none;
}

/* line 43, ../../sass/_boilerplate.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 44, ../../sass/_boilerplate.scss */
a:hover {
  color: #036;
}

/* line 46, ../../sass/_boilerplate.scss */
ul, ol {
  margin-left: 1.8em;
}

/* line 47, ../../sass/_boilerplate.scss */
ol {
  list-style-type: decimal;
}

/* line 49, ../../sass/_boilerplate.scss */
nav ul, nav li {
  margin: 0;
}

/* line 50, ../../sass/_boilerplate.scss */
small {
  font-size: 85%;
}

/* line 51, ../../sass/_boilerplate.scss */
strong, th {
  font-weight: bold;
}

/* line 52, ../../sass/_boilerplate.scss */
td, td img {
  vertical-align: top;
}

/* line 53, ../../sass/_boilerplate.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 54, ../../sass/_boilerplate.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 55, ../../sass/_boilerplate.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 56, ../../sass/_boilerplate.scss */
textarea {
  overflow: auto;
}

/* line 57, ../../sass/_boilerplate.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 58, ../../sass/_boilerplate.scss */
input[type="radio"] {
  vertical-align: baseline;
}

/* line 59, ../../sass/_boilerplate.scss */
input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 60, ../../sass/_boilerplate.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 61, ../../sass/_boilerplate.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 62, ../../sass/_boilerplate.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 63, ../../sass/_boilerplate.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 65, ../../sass/_boilerplate.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 67, ../../sass/_boilerplate.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 69, ../../sass/_boilerplate.scss */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 70, ../../sass/_boilerplate.scss */
::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 71, ../../sass/_boilerplate.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* line 73, ../../sass/_boilerplate.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 74, ../../sass/_boilerplate.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 76, ../../sass/_boilerplate.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 77, ../../sass/_boilerplate.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 78, ../../sass/_boilerplate.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 79, ../../sass/_boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* line 80, ../../sass/_boilerplate.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 81, ../../sass/_boilerplate.scss */
.clearfix:after {
  clear: both;
}

/* line 82, ../../sass/_boilerplate.scss */
.clearfix {
  zoom: 1;
}

@charset "UTF-8";
/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/static/img/button_bg.png?1299679187') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.0.6/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus {
  outline: none;
}

/* Background textures by Rüdiger Appel from http://www.3quarks.com/en/BackgroundPattern/ */
/* line 3, ../../sass/_layout.scss */
body {
  font-family: sans-serif;
  background: url('/static/img/canvas.jpg?881083570');
}

/* Header area */
/* line 10, ../../sass/_layout.scss */
header {
  *zoom: 1;
  padding: 10px 20px;
  background: url('/static/img/paper.jpg?884184256');
  border-bottom: 1px solid #afafaf;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) -5px 1px 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) -5px 1px 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.4) -5px 1px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.4) -5px 1px 5px 0;
}
/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 17, ../../sass/_layout.scss */
header form#search {
  float: right;
  padding-left: 1.2em;
}
/* line 22, ../../sass/_layout.scss */
header #sections li {
  float: left;
  list-style-image: none;
  list-style-type: none;
  border: 1px solid black;
  margin: 0.25em;
  padding: 0.5em;
}
/* line 31, ../../sass/_layout.scss */
header #pitch {
  max-width: 60em;
}

/* line 36, ../../sass/_layout.scss */
#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/static/img/logo-star.png?1298309415');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 170px;
  height: 170px;
  float: left;
}

/* line 41, ../../sass/_layout.scss */
#logo a, #logo a:hover, #logo a:active, #logo a:visited {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

/* line 51, ../../sass/_layout.scss */
#site-title {
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, sans-serif;
  float: left;
  padding-right: 0.5em;
  font-size: 30px;
  font-weight: bold;
}
/* line 57, ../../sass/_layout.scss */
#site-title .has {
  color: #df5e0e;
}
/* line 60, ../../sass/_layout.scss */
#site-title .geek {
  color: #816894;
}
/* line 63, ../../sass/_layout.scss */
#site-title .jobs {
  color: #f0a40c;
}
/* line 66, ../../sass/_layout.scss */
#site-title a, #site-title a:hover, #site-title a:focus, #site-title a:active, #site-title a:visited {
  text-decoration: none;
  border-bottom: 5px solid transparent;
  -moz-transition-property: border-bottom;
  -webkit-transition-property: border-bottom;
  -o-transition-property: border-bottom;
  transition-property: border-bottom;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 72, ../../sass/_layout.scss */
#site-title a:hover, #site-title a:focus, #site-title a:active {
  border-bottom: 5px solid #f0a40c;
  -moz-transition-property: border-bottom;
  -webkit-transition-property: border-bottom;
  -o-transition-property: border-bottom;
  transition-property: border-bottom;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

/* line 79, ../../sass/_layout.scss */
#main {
  overflow: hidden;
  *zoom: 1;
}

/* line 10, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
}
/* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container #main_footer {
  height: 40px;
}

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer {
  clear: both;
  position: relative;
  height: 40px;
}

/* line 84, ../../sass/_layout.scss */
footer {
  background: url('/static/img/paper.jpg?884184256');
  -moz-box-shadow: rgba(0, 0, 0, 0.4) -5px -1px 5px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) -5px -1px 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.4) -5px -1px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.4) -5px -1px 5px 0;
  font-size: 100%;
  background-color: white;
  text-align: center;
}
/* line 90, ../../sass/_layout.scss */
.bp footer p, footer p {
  border-top: 1px solid #afafaf;
  padding: 10px 20px;
  margin: 0;
}

/* line 97, ../../sass/_layout.scss */
.flash, #guide {
  background: white;
  max-width: 860px;
  font-size: 120%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  border: 1px solid #afafaf;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 10px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 10px 0;
}
/* line 110, ../../sass/_layout.scss */
.flash div.flashmessage, .flash div.guidecontent, #guide div.flashmessage, #guide div.guidecontent {
  margin: 1em 2em;
}
/* line 113, ../../sass/_layout.scss */
.flash p, .flash blockquote, .flash ul, .flash ol, #guide p, #guide blockquote, #guide ul, #guide ol {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 117, ../../sass/_layout.scss */
.flash form, #guide form {
  margin-bottom: 2em;
}

/* line 126, ../../sass/_layout.scss */
.flash-interactive:before, #guide:before {
  content: "";
  display: block;
  /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -21px;
  /* value = - border-top-width - border-bottom-width */
  left: 30px;
  /* controls horizontal position */
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #afafaf;
}

/* creates the smaller  triangle */
/* line 139, ../../sass/_layout.scss */
.flash-interactive:after, #guide:after {
  content: "";
  display: block;
  /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -20px;
  /* value = - border-top-width - border-bottom-width */
  left: 30px;
  /* value = (:before left) + (:before border-left) - (:after border-left) */
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: white;
}

/* line 151, ../../sass/_layout.scss */
#sheet {
  *zoom: 1;
  background: white;
  max-width: 860px;
  font-size: 120%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em 0;
  border: 1px solid #afafaf;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  /* Form elements */
}
/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#sheet:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 169, ../../sass/_layout.scss */
#sheet #company-info {
  color: #816894;
  margin: 1em 0;
}
/* line 173, ../../sass/_layout.scss */
#sheet #post-meta {
  color: #816894;
}
/* line 176, ../../sass/_layout.scss */
#sheet .section {
  *zoom: 1;
  padding: 0 2em;
  border-top: 1px solid #e8e8e8;
}
/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#sheet .section:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 181, ../../sass/_layout.scss */
#sheet .section.first {
  border-top: 0;
}
/* line 184, ../../sass/_layout.scss */
#sheet .section.columns {
  padding-left: 2em;
  padding-right: 0;
}
/* line 188, ../../sass/_layout.scss */
#sheet p.post-date {
  margin-top: 0.5em;
  font-size: 80%;
  color: #666;
}
/* line 193, ../../sass/_layout.scss */
#sheet .post-company-name {
  font-weight: bold;
}
/* line 196, ../../sass/_layout.scss */
#sheet #detailed-info {
  float: left;
  max-width: 600px;
  line-height: 1.5;
  padding-right: 1em;
}
/* line 203, ../../sass/_layout.scss */
#sheet #detail-sidebar {
  float: right;
  width: 200px;
  font-size: 90%;
}
/* line 207, ../../sass/_layout.scss */
#sheet #detail-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 211, ../../sass/_layout.scss */
#sheet #detail-sidebar ul li {
  border-bottom: 1px solid #e8e8e8;
}
/* line 213, ../../sass/_layout.scss */
#sheet #detail-sidebar ul li a, #sheet #detail-sidebar ul li a:link, #sheet #detail-sidebar ul li a:hover, #sheet #detail-sidebar ul li a:focus, #sheet #detail-sidebar ul li a:active, #sheet #detail-sidebar ul li a:visited {
  display: block;
  padding: 1em 2em 1em 1em;
  text-decoration: none;
}
/* line 218, ../../sass/_layout.scss */
#sheet #detail-sidebar ul li #sidebar-email {
  background: transparent url('/static/img/email.png?1299843650') no-repeat 15px center;
  padding-left: 40px;
}
/* line 222, ../../sass/_layout.scss */
#sheet #detail-sidebar ul li #sidebar-tweet {
  background: transparent url('/static/img/twitter.png?1299843629') no-repeat 15px center;
  padding-left: 40px;
}
/* line 226, ../../sass/_layout.scss */
#sheet #detail-sidebar ul li #sidebar-share {
  background: transparent url('/static/img/share.png?1299843635') no-repeat 15px center;
  padding-left: 40px;
}
/* line 230, ../../sass/_layout.scss */
#sheet #detail-sidebar ul li #sidebar-report {
  background: transparent url('/static/img/flag.png?1299854677') no-repeat 15px center;
  padding-left: 40px;
}
/* line 237, ../../sass/_layout.scss */
#sheet p, #sheet blockquote, #sheet ul, #sheet ol {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 242, ../../sass/_layout.scss */
#sheet div.field {
  *zoom: 1;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#sheet div.field:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 246, ../../sass/_layout.scss */
#sheet div.field .checkbox label {
  padding-left: 0.5em;
}
/* line 249, ../../sass/_layout.scss */
#sheet div.field.small div.label {
  float: left;
  clear: left;
  width: 5em;
  padding-top: 6px;
}
/* line 254, ../../sass/_layout.scss */
#sheet div.field.small div.label label {
  font-weight: bold;
}
/* line 258, ../../sass/_layout.scss */
#sheet div.field.small div.control {
  float: left;
  width: 35em;
}
/* line 261, ../../sass/_layout.scss */
#sheet div.field.small div.control ul {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  list-style: none;
  margin: 0;
}
/* line 265, ../../sass/_layout.scss */
#sheet div.field.small div.control ul li {
  padding: 0.5em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 268, ../../sass/_layout.scss */
#sheet div.field.small div.control ul li label {
  padding-left: 0.5em;
}
/* line 272, ../../sass/_layout.scss */
#sheet div.field.small div.control ul li.selected {
  background-color: #f0a40c;
}
/* line 277, ../../sass/_layout.scss */
#sheet div.field.check div.label {
  display: none;
}
/* line 280, ../../sass/_layout.scss */
#sheet div.field.wide div.label {
  float: none;
  clear: left;
}
/* line 283, ../../sass/_layout.scss */
#sheet div.field.wide div.label label {
  font-weight: bold;
}
/* line 287, ../../sass/_layout.scss */
#sheet div.field.wide div.control {
  margin-top: 0.25em;
  float: none;
  clear: left;
}
/* line 293, ../../sass/_layout.scss */
#sheet div.error {
  position: relative;
  background-color: #df5e0e;
  color: #fff;
  margin: 1em 0;
  padding: 0.5em 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 300, ../../sass/_layout.scss */
#sheet div.error:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -19px;
  left: 6em;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #df5e0e;
}
/* line 313, ../../sass/_layout.scss */
#sheet span.description {
  font-size: 90%;
  color: #666;
}
/* line 317, ../../sass/_layout.scss */
#sheet form {
  margin-bottom: 1em;
}
/* line 320, ../../sass/_layout.scss */
#sheet input, #sheet textarea {
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, sans-serif;
}
/* line 323, ../../sass/_layout.scss */
#sheet fieldset {
  *zoom: 1;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#sheet fieldset:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 328, ../../sass/_layout.scss */
#sheet textarea {
  width: 90%;
  height: 10em;
}
/* line 333, ../../sass/_layout.scss */
#sheet textarea, #sheet input[type="text"], #sheet input[type="password"], #sheet input[type="email"], #sheet input[type="url"], #sheet select {
  padding: 5px;
  color: #444;
  border: 1px solid #b7b7b7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 341, ../../sass/_layout.scss */
#sheet textarea, #sheet input[type="text"], #sheet input[type="password"], #sheet input[type="email"], #sheet input[type="url"] {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
/* line 347, ../../sass/_layout.scss */
#sheet input[type="text"], #sheet input[type="email"], #sheet input[type="password"], #sheet input[type="url"] {
  width: 250px;
  height: 20px;
  margin-bottom: 5px;
  background: #fff;
}
/* line 353, ../../sass/_layout.scss */
#sheet #job_headline {
  width: 95%;
  font-size: 120%;
  font-weight: bold;
}

/* line 361, ../../sass/_layout.scss */
#sheet input[type="submit"], #guide input[type="submit"] {
  height: 27px;
  border: 1px solid #b7b7b7;
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, sans-serif;
  font-size: 14px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 0 12px;
  background: #e6e6e6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #d6d6d6));
  background-image: -moz-linear-gradient(top, #e6e6e6 0%, #d6d6d6 100%);
  background-image: linear-gradient(top, #e6e6e6 0%, #d6d6d6 100%);
  font-weight: bold;
  color: #444;
  vertical-align: text-bottom;
}
/* line 373, ../../sass/_layout.scss */
#sheet input[type="submit"]:hover, #guide input[type="submit"]:hover {
  background: #d6d6d6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d6d6d6), color-stop(100%, #c6c6c6));
  background-image: -moz-linear-gradient(top, #d6d6d6 0%, #c6c6c6 100%);
  background-image: linear-gradient(top, #d6d6d6 0%, #c6c6c6 100%);
}

/* line 384, ../../sass/_layout.scss */
#search input {
  padding: 0 5px;
  margin: 0;
  font-size: 14px;
  float: left;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  border: none;
}
/* line 393, ../../sass/_layout.scss */
#search input[type="text"] {
  border: 1px solid #b7b7b7;
  border-right: 0;
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, sans-serif;
  background: white url('/static/img/search.png?1299763894') 4px center no-repeat;
  padding-left: 20px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -khtml-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -khtml-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 15em;
  height: 25px;
}
/* line 405, ../../sass/_layout.scss */
#search input[type="submit"] {
  height: 27px;
  border: 1px solid #b7b7b7;
  border-left: 0;
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, sans-serif;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -khtml-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -khtml-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0 12px;
  background: #e6e6e6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #d6d6d6));
  background-image: -moz-linear-gradient(top, #e6e6e6 0%, #d6d6d6 100%);
  background-image: linear-gradient(top, #e6e6e6 0%, #d6d6d6 100%);
  font-weight: bold;
  color: #666;
}
/* line 417, ../../sass/_layout.scss */
#search input[type="submit"]:hover {
  background: #d6d6d6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d6d6d6), color-stop(100%, #c6c6c6));
  background-image: -moz-linear-gradient(top, #d6d6d6 0%, #c6c6c6 100%);
  background-image: linear-gradient(top, #d6d6d6 0%, #c6c6c6 100%);
}

/*
input[type=search], input.search {
    @include border-radius(100px);
    background: white image_url('search.png') 4px center no-repeat;
    padding: 0.1em 0 0.1em 20px;
    vertical-align: baseline;
    font-family: $font-input;
    width: 15em;
    border: 1px solid $color-outline;
    &:focus {
        outline: none;
        border: 1px solid $color-title-geek;
    }
}

button {
    @include fancy-button;
    @include fancy-button-colors-matte(#dddddd);
    font-size: 100%;
    font-weight: bold;
    font-family: $font-button;
}
*/
/* line 451, ../../sass/_layout.scss */
h1 {
  font-size: 200%;
  color: #df5e0e;
  margin: 0;
}

/* line 457, ../../sass/_layout.scss */
h2 {
  font-size: 150%;
  color: #816894;
  margin: 1em 0 0;
}

/* line 1, ../../sass/_stickie.scss */
#stickie-area {
  *zoom: 1;
  padding: 10px;
}
/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#stickie-area:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 5, ../../sass/_stickie.scss */
.stickie {
  font-size: 150%;
  width: 240px;
  background: white;
  position: relative;
  float: left;
  padding: 1.2em;
  margin: 10px 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
}
/* line 17, ../../sass/_stickie.scss */
.stickie:before, .stickie:after {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 15px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 15px 10px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0 15px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0 15px 10px 0;
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
/* line 29, ../../sass/_stickie.scss */
.stickie:after {
  right: 10px;
  left: auto;
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
/* line 34, ../../sass/_stickie.scss */
.stickie a, .stickie a:hover, .stickie a:active, .stickie a:visited, .stickie a:focus {
  /* Make stickies clickable */
  text-decoration: none !important;
  color: black !important;
  color: inherit !important;
  display: block;
  width: 100%;
  height: 100%;
  margin: -1em;
  padding: 1em;
  border-bottom: 0;
}
/* line 46, ../../sass/_stickie.scss */
header .stickie {
  width: 120px;
  margin: 10px;
  font-family: "Walter Turncoat", sans-serif;
}
/* line 51, ../../sass/_stickie.scss */
.stickie .headline {
  font-family: "Architects Daughter", sans-serif;
}
/* line 54, ../../sass/_stickie.scss */
.stickie .date {
  font-size: 80%;
  color: #816894;
  font-family: "Architects Daughter", sans-serif;
  position: absolute;
  top: 0.25em;
  right: 0.5em;
}
/* line 62, ../../sass/_stickie.scss */
.stickie .location {
  font-size: 80%;
  color: #FBCACA;
  font-family: "Walter Turncoat", sans-serif;
  position: absolute;
  top: 0.25em;
  left: 0.5em;
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 73, ../../sass/_stickie.scss */
.stickie:hover .location {
  color: #816894;
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 79, ../../sass/_stickie.scss */
.stickie .new {
  font-size: 80%;
  color: #df5e0e;
  font-family: "Walter Turncoat", sans-serif;
  text-transform: lowercase;
  position: absolute;
  right: 0.5em;
  bottom: 0.25em;
}

/* line 90, ../../sass/_stickie.scss */
#newpost, #filtered, #nojobs {
  font-family: "Walter Turncoat", sans-serif;
  background-color: #f6f6f6;
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  /* &:focus, &:hover {
      background-color: $color-stickie-fulltime;
      @include transition-property(background-color);
      @include transition-duration(0.5s);
      textarea {
          background-color: $color-stickie-fulltime;
          @include transition-property(background-color);
          @include transition-duration(0.5s);
      }
  } */
}

/* line 108, ../../sass/_stickie.scss */
#newpost textarea {
  font-family: "Architects Daughter", sans-serif;
  width: 100%;
  border: 0;
  background-color: #f6f6f6;
  resize: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 120, ../../sass/_stickie.scss */
#newpost #newpost_details {
  margin-top: 0.5em;
  text-align: right;
}
/* line 124, ../../sass/_stickie.scss */
#newpost input[type="submit"] {
  height: 27px;
  border: 1px solid #b7b7b7;
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, sans-serif;
  font-size: 14px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 0 12px;
  background: #e6e6e6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #d6d6d6));
  background-image: -moz-linear-gradient(top, #e6e6e6 0%, #d6d6d6 100%);
  background-image: linear-gradient(top, #e6e6e6 0%, #d6d6d6 100%);
  font-weight: bold;
  color: #444;
}
/* line 135, ../../sass/_stickie.scss */
#newpost input[type="submit"]:hover {
  background: #d6d6d6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d6d6d6), color-stop(100%, #c6c6c6));
  background-image: -moz-linear-gradient(top, #d6d6d6 0%, #c6c6c6 100%);
  background-image: linear-gradient(top, #d6d6d6 0%, #c6c6c6 100%);
}

/* line 146, ../../sass/_stickie.scss */
.info {
  font-family: "Walter Turncoat", sans-serif;
  background-color: #f6f6f6;
}

/* line 151, ../../sass/_stickie.scss */
.fulltime {
  background-color: #ffffa2;
}

/* line 155, ../../sass/_stickie.scss */
.parttime {
  background-color: #ffffa2;
}

/* line 159, ../../sass/_stickie.scss */
.volunteer {
  background-color: #ffffa2;
}

/* TODO: Make stickies wrap */
@media all and (min-width: 960px) {
  /* line 165, ../../sass/_stickie.scss */
  #main .stickie:nth-child(4n+1) {
    clear: left;
  }
}

@media all and (min-width: 60.01em) and (max-width: 75em) {
  /* line 170, ../../sass/_stickie.scss */
  #main .stickie:nth-child(3n+1) {
    clear: left;
  }
}

@media all and (min-width: 45.51em) and (max-width: 60em) {
  /* line 175, ../../sass/_stickie.scss */
  #main .stickie:nth-child(2n+1) {
    clear: left;
  }
}

@media all and (max-width: 380px) {
  /* line 180, ../../sass/_stickie.scss */
  #main .stickie {
    float: none;
  }
}

/* line 1, ../../sass/_40x.scss */
#main-40x {
  text-align: center;
}

/* line 4, ../../sass/_40x.scss */
#stickie-40x {
  background-color: #ffffa2;
  float: none;
  display: inline-block;
  text-align: center;
  width: auto;
  margin-top: 2em;
}

/* line 12, ../../sass/_40x.scss */
#i40x {
  font-size: 150px;
  font-weight: bold;
  letter-spacing: -0.2em;
  margin-left: -0.2em;
}

/* line 18, ../../sass/_40x.scss */
#i40x:after {
  display: block;
  color: #f0a40c;
  content: "︵";
  margin-top: -0.75em;
}

/* line 24, ../../sass/_40x.scss */
.i4 {
  color: #df5e0e;
  position: relative;
}

/* line 28, ../../sass/_40x.scss */
.i0 {
  color: #f0a40c;
  z-index: -1;
}

/* line 32, ../../sass/_40x.scss */
.i5 {
  color: #816894;
  position: relative;
}

/* line 36, ../../sass/_40x.scss */
#i40x-message {
  font-family: 'Walter Turncoat', sans-serif;
  color: #816894;
}

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  /* line 2, ../../sass/_print.scss */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  /* line 3, ../../sass/_print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 4, ../../sass/_print.scss */
  a:after {
    content: " (" attr(href) ")";
  }

  /* line 5, ../../sass/_print.scss */
  abbr:after {
    content: " (" attr(title) ")";
  }

  /* line 6, ../../sass/_print.scss */
  .ir a:after {
    content: "";
  }

  /* line 7, ../../sass/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 8, ../../sass/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 9, ../../sass/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 11, ../../sass/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 12, ../../sass/_print.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
