@import url('http://fonts.googleapis.com/css?family=Walter+Turncoat');
@import url('http://fonts.googleapis.com/css?family=Permanent+Marker');
/* Define all colours here */
/*  HTML5 ✰ Boilerplate  */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

body, select, input, textarea {
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

html {
  overflow-y: scroll; }

a:hover, a:active {
  outline: none; }

a, a:active, a:visited {
  color: #607890; }

a:hover {
  color: #036; }

ul, ol {
  margin-left: 1.8em; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  margin: 0; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #FF5E99; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

body {
  background: url(../img/cardboard.jpg);
  overflow-x: hidden; }

p, ul, ol, blockquote, dt, dd,
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0; }

/* Header area */
header {
  padding: 1em;
  background-color: #ddf7f5;
  border-bottom: 1px solid #afafaf;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); }
  header form#search {
    float: right; }
  header #sections li {
    float: left;
    list-style-image: none;
    list-style-type: none;
    border: 1px solid black;
    margin: 0.25em;
    padding: 0.5em; }

#logo {
  width: 170px;
  height: 170px;
  background: url(../img/logo-star.png) no-repeat;
  float: left;
  padding: 0; }

#logo h1, #logo a, #logo a:hover, #logo a:active, #logo a:visited {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%; }

#sheet {
  background: white;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em 2em;
  border: 1px solid #afafaf;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); }

.stickie {
  font-size: 150%;
  width: 240px;
  background: #ffffa2;
  position: relative;
  float: left;
  padding: 1.2em;
  margin: 1em 10px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /* Enabling this kills performance
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  */ }
  .stickie:before, .stickie:after {
    content: "";
    position: absolute;
    z-index: -2;
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg); }
  .stickie:after {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg); }
  .stickie a, .stickie a:hover, .stickie a:active, .stickie a:visited, .stickie a:focus {
    /* Make stickies clickable */
    text-decoration: none;
    color: black;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    margin: -1em;
    padding: 1em;
    border: 0; }
  header .stickie {
    width: 120px;
    margin: 10px;
    font-family: "Walter Turncoat", sans-serif; }
  .stickie .headline {
    font-family: "Permanent Marker", sans-serif; }
  .stickie .date {
    font-size: 80%;
    color: gray;
    float: right;
    margin-top: -1.3em;
    margin-right: -1.1em;
    font-family: "Walter Turncoat", sans-serif; }

/* Make stickies wrap */
@media all and (min-width: 960px) {
  .container .stickie:nth-child(4n+1) {
    clear: left; } }

@media all and (min-width: 60.01em) and (max-width: 75em) {
  .container .stickie:nth-child(3n+1) {
    clear: left; } }

@media all and (min-width: 45.51em) and (max-width: 60em) {
  .container .stickie:nth-child(2n+1) {
    clear: left; } }

@media all and (max-width: 380px) {
  .container .stickie {
    float: none; } }

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */ }

@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a:after {
    content: " (" attr(href) ")"; }

  abbr:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
