{% extends "layout.html" %}
{% block title %}404 Not Found{% endblock %}
{% block pageheaders %}
{% endblock %}
{%block content %}
  <div id="main-40x">
    <div class="stickie" id="stickie-40x">
      <a href="{{ url_for('index') }}">
        <div id="i40x">
          &nbsp;<span class="i4">4</span><span class="i0">0</span><span class="i4">4</span>&nbsp;
        </div>
        <div id="i40x-message">
          Not found. Maybe you want to look at something else?
        </div>
      </a>
    </div>
  </div>
{% endblock %}