{% extends "inc/email_layout_lite.html" %}
{% block content %}
<p>
  <strong>{{ job_application.fullname }}</strong> has applied for <a href="{{ url_for('jobdetail', hashid=post.hashid, _external=True) }}" target="_blank">{{ post.headline }}</a>:
</p>
<blockquote>
  {{ job_application.message|safe }}
</blockquote>
<p>
  <a class="btn" href="{{ archive_url }}" target="_blank">Respond&nbsp;to&nbsp;candidate</a>
  or
  <a class="btn" href="{{ archive_url }}" target="_blank">report&nbsp;this</a>
</p>
<p>
  <strong>Note:</strong> The message above is exactly as the candidate submitted it. We do not accept attachments or reformat documents.
</p>
{% endblock %}
