{% extends "sheet.html" %}
{% from "macros.html" import jobheader %}
{% block title %}{{ job_application.fullname }} &mdash; {{ post.headline }}{% endblock %}

{% block content %}
  <div class="sheet">
    <div class="section first">
      {{ jobheader(post) }}
    </div>
    <div class="section"><div class="row">
      <div class="col-md-9">
        <h2>{{ job_application.fullname }}</h2>
        <p class="post-date">Applied {{ job_application.created_at|longdate }}</p>
        {{ job_application.message|safe }}
        <hr>
        <form id="response_form" method="POST" action="{{ url_for('process_application', hashid=post.hashid, application=job_application.hashid) }}">
          <input type="hidden" name="_charset_"/>
          <input type="hidden" name="form.id" value="process_application_form"/>
          {{ response_form.hidden_tag() }}
          {%- if job_application.is_new() or job_application.is_pending() or job_application.is_ignored() %}
            <p>
              <button class="btn btn-success" id="appl-reply" name="action" value="reply">Respond...</button>
              <button class="btn btn-info" id="appl-reject" name="action" value="reject">Reject...</button>
              {% if not job_application.is_ignored() %}<button class="btn btn-info" type="submit" name="action" value="ignore">Ignore candidate</button>{% endif %}
              <button class="btn btn-danger" type="submit" name="action" value="flag">Report spam</button>
            </p>
            <p id="appl-instructions">
              {%- if job_application.is_ignored() %}
                You have ignored this candidate.
              {%- endif %}
              Respond to the candidate to see their contact information.
              Rejected candidates will receive a message, but your contact information
              will not be shared. Spam reports are manually processed.
            </p>
          {%- elif job_application.is_flagged() %}
            <p>
              <button type="submit" name="action" value="unflag">Report not spam</button>
            </p>
            <p>
              You have flagged this application as spam.
            </p>
          {%- elif job_application.is_spam() %}
            <p>
              An administrator flagged this application as spam.
            </p>
          {%- elif job_application.is_replied() %}
            <p>
              <strong>Email:</strong> {{ job_application.email }}<br>
              <strong>Phone:</strong> {{ job_application.phone }}
              {%- if job_application.replied_by -%}<br>
                <strong>Correspondent:</strong> {{ job_application.replied_by.fullname }}
              {%- endif %}
            </p>
            {%- if job_application.response_message %}
              {{ job_application.response_message|safe }}
            {%- endif %}
          {%- elif job_application.is_rejected() %}
            {%- if job_application.response_message %}
              {{ job_application.response_message|safe }}
            {%- endif %}
          {%- endif %}
        </form>
        <div id="appl-response" class="hidden">
          <p>
            <strong>From:</strong> {{ g.user.fullname if post.admin_is(g.user) else post.fullname or post.company_name }} (via {{ config['SITE_TITLE'] }}) &lt;{{ config['MAIL_SENDER'] }}&gt;<br>
            <span id="appl-yesreply" class="hidden"><strong>Reply-To:</strong> {{ g.user.fullname if post.admin_is(g.user) else post.fullname or post.company_name }} &lt;{{ post.email }}&gt;<br></span>
            <strong>To:</strong> {{ job_application.fullname }}<br>
            <strong>Subject:</strong> Regarding your job application for {{ post.headline }}
          </p>
          <p id="appl-responded" class="hidden">
            <em>{{ g.user.fullname if post.admin_is(g.user) else post.fullname or post.company_name }} has responded to your application for {{ post.headline }}:</em>
          </p>
          <p id="appl-rejected" class="hidden">
            <em>{{ g.user.fullname if post.admin_is(g.user) else post.fullname or post.company_name }} has declined your application for {{ post.headline }}:</em>
          </p>
          {% include "inc/replyform.html" %}
        </div>
      </div>
      <div class="col-md-3">
        {%- if post.admin_is(g.user) %}
          <div class="list-group">
            {%- for appl in post.applications %}
              <a class="list-group-item status_{{ appl.status|lower }}" href="{{ url_for('view_application', hashid=post.hashid, application=appl.hashid) }}">
                {%- if appl == job_application -%}
                  <strong>{{ appl.fullname }}</strong>
                {%- else -%}
                  {{ appl.fullname }}
                {%- endif -%}
                <br><span class="post-date">{{ appl.created_at|shortdate }} &middot;
                {%- if appl.is_new() %} <strong>{{ appl.status }}</strong>{% else %} {{ appl.status }}{% endif %}
                </span>
              </a>
            {%- endfor %}
          </div>
        {%- endif %}
      </div>
    </div></div>
  </div>
{% endblock %}
{% block footerscripts %}
  {% assets "js_tinymce" %}<script src="{{ ASSET_URL }}" type="text/javascript"></script>{% endassets %}
  <script type="text/javascript">
    {% include "inc/tinymce.js" %}
    $(function() {
      $("#appl-response").hide().removeClass('hidden');

      $("#appl-reply").click(function(e) {
        $("#appl-instructions").hide();
        $("#appl-yesreply").removeClass('hidden');
        $("#appl-responded").removeClass('hidden');
        $("#appl-rejected").addClass('hidden');
        $("#appl-response").fadeIn({
          complete: function() {
            // This doesn't work. We don't know why.
            tinymce.execCommand('mceFocus', false, 'response_message');
          }
        });
        $("#response_form").find('button').attr('disabled', 'disabled');
        $("#appl-send").val('reply');
        e.preventDefault();
        return false;
      });

      $("#appl-reject").click(function(e) {
        $("#appl-instructions").hide();
        $("#appl-yesreply").addClass('hidden');
        $("#appl-responded").addClass('hidden');
        $("#appl-rejected").removeClass('hidden');
        $("#appl-response").fadeIn({
          complete: function() {
            // This doesn't work. We don't know why.
            tinymce.execCommand('mceFocus', false, 'response_message');
          }
        });        
        $("#response_form").find('button').attr('disabled', 'disabled');
        $("#appl-send").val('reject');
        e.preventDefault();
        return false;
      });

      $("#appl-cancel").click(function(e) {
        $("#appl-response").hide();
        $("#appl-instructions").fadeIn();
        $("#response_form").find('button').removeAttr('disabled');
        $("#appl-send").val('');
        e.preventDefault();
        return false;
      });
    });
  </script>
{% endblock %}
