{% extends "sheet.html" %}
{% from "baseframe/forms.html" import ajaxform, widgetscripts %}
{% from "macros.html" import jobheader %}
{% block title %}{{ job_application.fullname }} &mdash; {{ post.headline }}{% endblock %}
{% block metareferrer %}origin{% endblock %}

{% block content %}
  <div class="sheet">
    <div class="section first">
      {{ jobheader(post, return=true) }}
    </div>
    <div class="section"><div class="row">
      <div class="col-md-9">
        <h2>{{ job_application.fullname }}</h2>
        <p class="post-date">
          Applied {{ job_application.created_at|longdate }}
          {%- with counts = job_application.application_count() %}{% if counts.count %}
            &middot;
            in ± a week, applied {{ counts.count }}
            {%- if counts.replied %}, got response {{ counts.replied }}{% endif %}
            {%- if counts.rejected %}, got rejected {{ counts.rejected }}{% endif %}
            {%- if counts.ignored %}, got ignored {{ counts.ignored }}{% endif %}
            {%- if counts.flagged %}, got flagged {{ counts.flagged }}{% endif %}
            {%- if counts.spam %}, spam {{ counts.spam }}{% endif %}
          {%- endif %}{% endwith %}
        </p>
        {{ job_application.message|safe }}
        <hr>
        <form id="response_form" method="POST" action="{{ url_for('process_application', hashid=post.hashid, application=job_application.hashid) }}">
          <input type="hidden" name="_charset_"/>
          <input type="hidden" name="form.id" value="process_application_form"/>
          {{ response_form.hidden_tag() }}
          {%- if job_application.is_new() or job_application.is_pending() or job_application.is_ignored() %}
            <div id="appl-options">
              <p>
                <button class="btn btn-success" id="appl-reply" name="action" value="reply">Respond...</button>
                <button class="btn btn-info" id="appl-reject" name="action" value="reject">Reject...</button>
                {% if not job_application.is_ignored() %}<button class="btn btn-info" type="submit" name="action" value="ignore">Ignore candidate</button>{% endif %}
                <button class="btn btn-danger" type="submit" name="action" value="flag">Report spam</button>
              </p>
              <p id="appl-instructions">
                {%- if job_application.is_ignored() %}
                  You have ignored this candidate.
                {%- endif %}
                Respond to the candidate to see their contact information.
                Rejected candidates will receive a message, but your contact information
                will not be shared. Spam reports are manually processed.
              </p>
            </div>
          {%- elif job_application.is_flagged() %}
            <p>
              <button class="btn btn-info" type="submit" name="action" value="unflag">Report not spam</button>
            </p>
            <p>
              You have flagged this application as spam.
            </p>
          {%- elif job_application.is_spam() %}
            <p>
              An administrator flagged this application as spam.
            </p>
          {%- elif job_application.is_replied() %}
            <p>
              <strong>Email:</strong> {{ job_application.email }}<br>
              <strong>Phone:</strong> {{ job_application.phone }}
              {%- if job_application.replied_by -%}<br>
                <strong>Correspondent:</strong> {{ job_application.replied_by.pickername }}
              {%- endif %}
            </p>
            {%- if job_application.response_message %}
              {{ job_application.response_message|safe }}
            {%- endif %}
          {%- elif job_application.is_rejected() %}
              {%- if job_application.replied_by -%}
                <p><strong>Correspondent:</strong> {{ job_application.replied_by.pickername }}</p>
              {%- endif %}
            {%- if job_application.response_message %}
              {{ job_application.response_message|safe }}
            {%- endif %}
          {%- endif %}
        </form>
        <div id="appl-response" class="hidden">
          <p>
            <strong>From:</strong> {{ g.user.fullname if post.admin_is(g.user) else post.fullname or post.company_name }} (via {{ config['SITE_TITLE'] }}) &lt;{{ config['MAIL_SENDER'] }}&gt;<br>
            <span class="appl-msg-reply hidden"><strong>Reply-To:</strong> {{ g.user.fullname if post.admin_is(g.user) else post.fullname or post.company_name }} &lt;{{ post.email }}&gt;<br></span>
            <strong>To:</strong> {{ job_application.fullname }}<br>
            <strong>Subject:</strong> <span class="appl-msg-reply hidden">Job response:</span><span class="appl-msg-reject hidden">Job declined:</span> {{ post.headline }}
          </p>
          <p class="appl-msg-reply hidden">
            <em>{{ g.user.fullname if post.admin_is(g.user) else post.fullname or post.company_name }} has responded to your application for {{ post.headline }}:</em>
          </p>
          <p class="appl-msg-reject hidden">
            <em>{{ g.user.fullname if post.admin_is(g.user) else post.fullname or post.company_name }} has declined your application for {{ post.headline }}:</em>
          </p>
          {% include "inc/replyform.html" %}
        </div>
      </div>
      <div class="col-md-3">
        <div class="list-group">
          {%- for appl in post.applications %}
            <a class="list-group-item status_{{ appl.status|lower }}" href="{{ url_for('view_application', hashid=post.hashid, application=appl.hashid) }}">
              {%- if appl == job_application -%}
                <strong>{{ appl.fullname }}</strong>
              {%- else -%}
                {{ appl.fullname }}
              {%- endif -%}
              <br><span class="post-date">{{ appl.created_at|shortdate }} &middot;
              {%- if appl.is_new() %} <strong>{{ appl.status }}</strong>{% else %} {{ appl.status }}{% endif %}
              </span>
            </a>
          {%- endfor %}
        </div>
      </div>
    </div></div>
  </div>
{% endblock %}
{% block footerscripts %}
  {% assets "js_tinymce" %}<script src="{{ ASSET_URL }}" type="text/javascript"></script>{% endassets %}
  {{ widgetscripts(response_form, script=true) }}
  <script type="text/javascript">
    $(function() {
      $("#appl-response").hide().removeClass('hidden');

      $("#appl-reply").click(function(e) {
        $(".appl-msg-reply").removeClass('hidden');
        $(".appl-msg-reject").addClass('hidden');
        $("#appl-response").slideDown({
          complete: function() {
            // This doesn't work. We don't know why.
            tinymce.execCommand('mceFocus', false, 'response_message');
          }
        });
        $("#response_form").find('button').prop('disabled', true);
        $("#appl-options").slideUp();
        $("#appl-send").val('reply');
        e.preventDefault();
        return false;
      });

      $("#appl-reject").click(function(e) {
        $(".appl-msg-reply").addClass('hidden');
        $(".appl-msg-reject").removeClass('hidden');
        $("#appl-response").slideDown({
          complete: function() {
            // This doesn't work. We don't know why.
            tinymce.execCommand('mceFocus', false, 'response_message');
          }
        });        
        $("#response_form").find('button').prop('disabled', true);
        $("#appl-options").slideUp();
        $("#appl-send").val('reject');
        e.preventDefault();
        return false;
      });

      $("#appl-cancel").click(function(e) {
        $("#appl-response").slideUp();
        $("#response_form").find('button').prop('disabled', false);
        $("#appl-options").slideDown();
        $("#appl-send").val('');
        e.preventDefault();
        return false;
      });
    });
  </script>
{% endblock %}
