<table class="table table-hover">
  <thead>
    <tr>
      <th><a href="{{ sortarchive('date') }}">Date</a></th>
      <th><a href="{{ sortarchive('headline') }}">Headline</a></th>
      <th><a href="{{ sortarchive('company') }}">Company</a></th>
      <th><a href="{{ sortarchive('location') }}">Location</a></th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    {%- set link = url_for('jobdetail', hashid=post.hashid) %}
    <tr class="link">
      <td class="nowrap"><a href="{{ link }}">{{ post.datetime|longdate }}</a></td>
      <td><a href="{{ link }}">{{ post.headline }}</a></td>
      <td><a href="{{ link }}">{{ post.company_name }}</a></td>
      <td><a href="{{ link }}">{{ post.location }}</a></td>
    </tr>
    {% else %}
    <tr>
      <th colspan="4"><em>(No jobs in the archive)</em></th>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>
  Showing {{ start + 1 }} to {{ min(start+limit, count) }} of {{ count }}.
  {% if start > 0 %}<a href="{{ url_for('archive',
    order_by=order_by,
    reverse=request.args.get('reverse'),
    limit=request.args.get('limit'),
    start=max(0, start-limit)) }}">Previous</a>.{% endif %}
  {% if start+limit < count %}<a href="{{ url_for('archive',
    order_by=order_by,
    reverse=request.args.get('reverse'),
    limit=request.args.get('limit'),
    start=min(start+limit, count-1)) }}">Next</a>.{% endif %}
</p>
