{% extends "sheet.html" %}
{% block title %}Campaign archive{% endblock %}

{% block content %}
  <div class="sheet">
    <div class="sheet__section--first">
      <h1>{{ self.title() }}</h1>
      <p>
      All campaigns, future and past.
      </p>
      <ol>
        {%- for campaign in campaigns %}
          <li>
            <a href="{{ url_for('campaign_view', campaign=campaign.name) }}">{{ campaign.title }}</a>
            <p class="sheet__section__post-date">
              {%- if campaign.is_live %}<strong>Live</strong>{% elif campaign.public %}Offline{% else %}Disabled{% endif %} —
              <time datetime="{{ campaign.start_at.isoformat() }}Z">{{ campaign.start_at|longdate }}</time> –
              <time datetime="{{ campaign.end_at.isoformat() }}Z">{{ campaign.end_at|longdate }}</time>
            </p>
          </li>
        {%- endfor %}
        <li>
          <a href="{{ url_for('campaign_new') }}">New campaign &rarr;</a>
        </li>
      </ol>
    </div>
  </div>
{% endblock %}
