{% extends "sheet.html" %}
{% block title %}{{ campaign.title }}{% endblock %}

{% block content %}
  <div class="sheet">
    <div class="section first">
      <div class="row">
        <div class="img-container col-xs-12 col-sm-3 col-sm-push-9 post-company-logo">
          {% if campaign.banner_image %}<img alt="Logo" src="{{ campaign.banner_image }}"/>{% endif %}
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
          <h3><a href="{{ url_for('campaign_list') }}">Campaigns</a> <i class="fa fa-angle-right"></i></h3>
          <h1>{{ self.title() }}</h1>
          <p class="post-date">
            {%- if campaign.is_live %}<strong>Live</strong>{% elif campaign.public %}Offline{% else %}Disabled{% endif %} —
            <time datetime="{{ campaign.start_at.isoformat() }}Z">{{ campaign.start_at|longdate }}</time> –
            <time datetime="{{ campaign.end_at.isoformat() }}Z">{{ campaign.end_at|longdate }}</time>
          </p>
        </div>
      </div>      
    </div>
    <div class="section">
      <div class="row">
        <div class="col-md-9">
          <h2>{{ campaign.subject }}</h2>
          {{ campaign.blurb|safe }}
          {{ campaign.description|safe }}

          <p class="button-bar">
            {%- for action in campaign.actions %}
              <a href="{{ url_for('campaign_action_edit', campaign=campaign.name, action=action.name) }}" class="btn btn-sm btn-{{ action.category }}">{% if action.icon %}<i class="fa fa-{{ action.icon }}"></i> {% endif %}{{ action.title }}{% if not action.public %} <i class="fa fa-eye-slash"></i>{% endif %}</a>
            {%- endfor %}
            <a title="New action" href="{{ url_for('campaign_action_new', campaign=campaign.name) }}" class="btn btn-sm btn-default"><i class="fa fa-plus"></i></a>
          </p>
        </div>
        <div class="col-md-3">
          <div class="list-group">
            <a class="list-group-item" href="{{ url_for('index', preview=campaign.name) }}">
              <i class="fa fa-fw fa-eye"></i>&nbsp;&nbsp; Preview this
            </a>
            <a class="list-group-item" href="{{ url_for('campaign_edit', campaign=campaign.name) }}">
              <i class="fa fa-fw fa-pencil"></i>&nbsp;&nbsp; Edit this
            </a>
            <a class="list-group-item" href="{{ url_for('campaign_delete', campaign=campaign.name) }}">
              <i class="fa fa-fw fa-trash-o"></i>&nbsp;&nbsp; Delete this
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
