<div class="row">
  <div class="img-container col-xs-12 col-sm-3 col-sm-push-9 post-company-logo">
    {% if campaign.banner_image %}<img alt="Logo" src="{{ campaign.banner_image }}"/>{% endif %}
  </div>
  <div class="col-xs-12 col-sm-9 col-sm-pull-3">
    <h1><a href="{{ campaign.url_for() }}">{{ campaign.title }}</a></h1>
    <p class="post-date">
      {%- if campaign.state.is_live %}<strong>Live</strong>{% else %}{{ campaign.state.label.title }}{% endif %} —
      <time datetime="{{ campaign.start_at.isoformat() }}">{{ campaign.start_at|longdate }}</time> –
      <time datetime="{{ campaign.end_at.isoformat() }}">{{ campaign.end_at|longdate }}</time>
    </p>
  </div>
</div>
