{% extends "sheet.html" %}
{% from "baseframe/forms.html" import renderfield %}
{% block title %}{{ post.headline|e }}{% endblock %}
{% block content %}
  <div class="sheet">
    <div class="section first">
      <h1>Close job post?</h1>
      <h2>{{ post.headline }}</h2>
      <p>
        Your job post will not be able to accept applications henceforth, but will still be publicly available. Please confirm that you wish to close this job post.
      </p>
      <form method="POST" class="form-horizontal">
        {{ form.hidden_tag() }}
        <button type="submit" class="btn btn-danger">Close job post</button>
        <a class="btn btn-default" href="{{ post.url_for() }}">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
