{% extends "inc/email_layout_lite.html.jinja2" %}
{% block content %}
  <div itemscope itemtype="http://schema.org/EmailMessage">
    <div itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
      <meta itemprop="name" content="Confirm job post"/>
      <div itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
        <link itemprop="url" href="{{ post.url_for('confirm-link', _external=true) }}"/>
      </div>
    </div>
    <meta itemprop="description" content="This is a confirmation email for the job you listed."/>
    <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="{{ config['SITE_TITLE'] }}"/>
    <link itemprop="url" href="{{ url_for('index', subdomain=none, _external=true) }}"/>
    </div>
  </div>
  <p>Hello,</p>
  <p>This is a confirmation email for the job you listed at {% if g.board -%} {{ g.board.title }} {%- else -%} {{ config['SITE_TITLE'] }} {%- endif %}:
  <strong>{{ post.headline|e }}</strong></p>
  <p><a class="btn" href="{{ post.url_for('confirm-link', _external=true) }}">Confirm job post</a></p>
  <p>Save this email for the next 30 days while the post is active. Use these
  links if you need to edit the post, or if the position has been filled
  and you wish to withdraw it:</p>
  <ul>
    <li><a href="{{ post.url_for('edit', _external=true) }}">Edit job post</a></li>
    <li><a href="{{ post.url_for('withdraw', _external=true) }}">Withdraw job post</a></li>
  </ul>
  <p>
    {% if g.board and g.board.not_root %}[{{ g.board.title }}][board] is powered by Hasjob. {% endif -%}
    <a href="{{ url_for('index', subdomain=none, _external=true) }}">Hasjob</a> is a service of <a href="https://hasgeek.com/">HasGeek</a>. Write to us at <a href="mailto:{{ config['SUPPORT_EMAIL'] }}">{{ config['SUPPORT_EMAIL'] }}</a> if you have suggestions or questions on this service.
  </p>
  <p>If you did not post a job, you may safely ignore this email.</p>
{% endblock %}
