{% extends "sheet.html.jinja2" %}
{% from "baseframe/forms.html.jinja2" import renderfield %}
{% block title %}{{ post.headline|e }}{% endblock %}
{% block sheet %}
  {% if post.state.DRAFT %}
    <div class="sheet">
      <div class="section first">
        <div class="page-header">
          <h1>Terms of service</h1>
        </div>
        {% include "inc/tos.html.jinja2" %}
        <form method="POST" class="form-horizontal">
          <input type="hidden" name="_charset_"/>
          <input type="hidden" name="form.id" value="confirmjob"/>
          {{ form.hidden_tag() }}
          {{ renderfield(form.terms_accepted, style="wide") }}
          <input type="submit" class="btn btn-primary" value="Accept terms and publish"/>
        </form>
      </div>
    </div>
  {% else %}
    <div class="flash">
        <p>Nothing to confirm. <a href="{{ post.url_for() }}">See the post</a>?</p>
    </div>
  {% endif %}
{% endblock %}
