{% extends "sheet.html" %}
{%- from "baseframe/forms.html" import ajaxform %}
{%- from "macros.html" import jobheader, stickie %}
{% block title %}{{ headline }}{% endblock %}
{% block description %}{{ post.company_name }}, {{ post.location }}, {{ post.type.title }}, {{ post.category.title }}{% endblock %}
{% block canonical_url %}
  {%- if g.board and g.board.not_root %}
    <link rel="canonical" href="{{ post.url_for(subdomain=none) }}" />
    <meta property="og:url" content="{{ post.url_for(subdomain=none) }}" />
  {%- else %}
    <link rel="canonical" href="{{ request.base_url }}" />
    <meta property="og:url" content="{{ request.base_url }}" />
  {%- endif %}
{% endblock %}
{%- block image_src %}
  {%- if post.company_logo %}
    <link rel="image_src" href="{{ post.url_for('logo', _external=true) }}" />
    <meta property="og:image" content="{{ post.url_for('logo', _external=true) }}" />
  {%- else %}
    {{ super() }}
  {%- endif %}
{%- endblock %}
{% block pageheaders %}
  {%- if post.is_old() %}
    <meta name="robots" content="nofollow" />
  {%- endif %}
{% endblock %}
{% block content %}
  {% if post.is_unpublished() %}
  <div class="guide">
    <div class="page-header"><h2>Review this post</h2></div>
    <p>
      This is a preview. It is only visible to you. You may edit again or confirm this post.
    </p>
    <form action="{{ post.url_for('confirm')|usessl }}" method="POST" class="form-group button-bar">
      <input type="submit" class="btn btn-primary btn-sm" value="This looks good, confirm it"/>
      <a href="{{ post.url_for('edit')|usessl }}" class="btn btn-info btn-sm">Edit again</a>
    </form>
  </div>
  {% elif post.is_flagged() %}
  <div class="guide">
    <div class="page-header"><h2>This post has been flagged for review</h2></div>
    <p>
      Previous viewers of this post flagged it for review by a moderator.
      A review is currently pending.
    </p>
  </div>
  {% elif post.is_moderated() %}
  <div class="guide">
    <p>
      This post has been marked by a moderator as carrying potentially inaccurate or incomplete
      information. Please proceed with caution.
    </p>
  </div>
  {% elif post.is_old() %}
  <div class="guide">
    <p>
      This post is over 30 days old. The position may no longer be available.
    </p>
  </div>
  {% elif post.from_webmail_domain %}
  <div class="guide">
    <p>
      This post was made with a public webmail address. The employer’s identity has not been verified.
    </p>
  </div>
  {% elif domain_mismatch %}
  <div class="guide">
    <p>
      This post is from {{ post.email_domain }}, which may or may not be affiliated with
      {{ post.company_url_domain_zone }}. Please proceed with caution.
    </p>
  </div>
  {% elif post.is_unacceptable() %}
  <div class="guide">
    <p>
      Your post is not in compliance with our <a href="https://hasjob.co/tos">Terms of Service</a> and has been taken down. Your post was reviewed by {{ post.reviewer.fullname }}, who left the following comment:</p>
      <hr>
      <p>{{ post.review_comments }}</p>
    </p>
  </div>
  {% endif %}

  <div itemscope itemtype="http://schema.org/Article" class="sheet">
    <div class="section first">
      {{ jobheader(post, kiosk=g.kiosk, user=g.user, headline=headline) }}
    </div>
    <div class="section">
      <div class="row">
        <div itemprop="articleBody" class="col-md-9 jobdescription">
          {{ post.description|safe }}
          {% if post.perks %}
            <h2>Job Perks</h2>
            {{ post.perks|safe }}
          {% endif %}
        </div>
        <div class="col-md-3">{% if not g.kiosk %}
          <div class="list-group">
            {%- if g.user %}
              <a class="list-group-item sidebar-pstar" href="#">
                <i class="fa fa-fw fa-star{% if post not in g.user.starred_jobs %}-o{% endif %} pstar"
                   data-id="{{ post.hashid }}"></i>
                &nbsp;&nbsp; <span class="pstar-caption">{% if post not in g.user.starred_jobs %}Bookmark this{% else %}Bookmarked{% endif %}</span>
              </a>
            {%- endif %}
            <a class="list-group-item" href="mailto:?subject=Job%3A%20{{ headline|urlquoteplus }}&amp;body={{ post.url_for(utm_campaign='share', utm_medium='email', _external=true)|urlquoteplus }}">
              <i class="fa fa-fw fa-envelope"></i>&nbsp;&nbsp; Email this
            </a>
            <a class="list-group-item visible-xs-block visible-sm-block" href="whatsapp://send?text={{ headline|urlquoteplus }}+{{ post.url_for(utm_campaign='share', utm_medium='whatsapp', _external=true)|urlquoteplus }}">
              <i class="fa fa-fw fa-whatsapp"></i>&nbsp;&nbsp; Share on WhatsApp
            </a>
            <a class="list-group-item share-popup" data-width="550" data-height="250" target="_blank" href="https://twitter.com/share?url={{ post.url_for(utm_campaign='share', utm_medium='twitter', _external=true)|urlquoteplus }}&amp;counturl={{ post.url_for(_external=true)|urlquoteplus }}&amp;via=hasjob&amp;related=hasjob:HasGeek%20Job%20Board&amp;text=Job%3A%20{{ headline|urlquoteplus }}">
              <span class="badge" id="tweet-count"></span><i class="fa fa-fw fa-twitter"></i>&nbsp;&nbsp; Tweet this
            </a>
            <a class="list-group-item share-popup" data-width="520" data-height="230" target="_blank" href="http://www.facebook.com/sharer.php?s=100&p[url]={{ post.url_for(utm_campaign='share', utm_medium='facebook', _external=true)|urlquoteplus }}">
              <i class="fa fa-fw fa-facebook"></i>&nbsp;&nbsp; Share on Facebook
            </a>
            {%- if not g.kiosk and not post.is_announcement() %}
              <div class="list-group-item">
                <a class="popup" href="#report">
                  <i class="fa fa-fw fa-flag"></i>&nbsp;&nbsp; {% if report -%} Reported {%- else -%} Report this {%- endif %}
                  {%- if is_siteadmin and post.flags %}
                    <span class="badge">{% for report in post.reports() -%}
                      {%if not loop.first %} &middot; {% endif %}<span title="{{ report.title }}">{{ report.count }}</span>
                    {%- endfor %}</span>
                  {%- endif -%}
                </a>
                <div class="popup-box" id="report">
                  <a class="close-popup" href="#">&#10005;</a>
                  {%- if g.user %}
                    <h2>What’s wrong with it?</h2>
                    {% include "inc/reportform.html" %}
                  {%- else %}
                    <p>You need to be logged in to report a post</p>
                    <p><a class="btn btn-primary btn-sm" href="{{ url_for('login') }}">Login with Twitter or Google</a></p>
                  {%- endif %}
                </div>
              </div>
            {%- endif %}
            {%- if post.admin_is(g.user) %}
              <a class="list-group-item" href="{{ post.url_for('edit') }}">
                <i class="fa fa-fw fa-pencil"></i>&nbsp;&nbsp; Edit this
              </a>
              {%- if post.is_closed() %}
                <a class="list-group-item" href="{{ post.url_for('reopen') }}">
                  <i class="fa fa-fw fa-check"></i>&nbsp;&nbsp; Reopen this
                </a>
              {%- elif post.is_public() %}
                <a class="list-group-item" href="{{ post.url_for('close') }}">
                  <i class="fa fa-fw fa-times"></i>&nbsp;&nbsp; Close this
                </a>
                <a class="list-group-item" href="{{ post.url_for('withdraw') }}">
                  <i class="fa fa-fw fa-trash-o"></i>&nbsp;&nbsp; Withdraw this
                </a>
              {%- endif %}
              {%- if post.is_old() %}
                <a class="list-group-item" href="{{ url_for('newjob', template=post.hashid) }}">
                  <i class="fa fa-fw fa-refresh"></i>&nbsp;&nbsp; Repost this
                </a>
              {%- endif %}
            {%- endif %}
            {%- if is_siteadmin %}
              <div class="list-group-item">
                <a class="popup" href="#reject">
                  <i class="fa fa-fw fa-trash-o"></i>&nbsp;&nbsp; Reject this
                </a>
                <div class="popup-box" id="reject">
                  <a class="close-popup" href="#">&#10005;</a>
                  <h2>What’s wrong with it?</h2>
                  {% include "inc/rejectform.html" %}
                </div>
              </div>
              <div class="list-group-item">
                <a class="popup" href="#moderate">
                  <i class="fa fa-fw fa-thumbs-down"></i>&nbsp;&nbsp; Moderate this
                </a>
                <div class="popup-box" id="moderate">
                  <a class="close-popup" href="#">&#10005;</a>
                  <h2>What’s wrong with it?</h2>
                  {% include "inc/moderateform.html" %}
                </div>
              </div>
            {%- endif %}
            {%- if is_siteadmin or (g.user and g.board and g.board.owner_is(g.user)) %}
              <div class="list-group-item">
                <a class="popup" href="#makepinned">
                  <i class="fa fa-fw fa-thumb-tack"></i>&nbsp;&nbsp; Pin this
                </a>
                <div class="popup-box" id="makepinned">
                  <a class="close-popup" href="#">&#10005;</a>
                  {% include "inc/pinnedform.html" %}
                </div>
              </div>
            {%- endif %}
            {%- if g.user and g.user.flags.has_boards %}
              <div class="list-group-item">
                <a class="popup" href="#add-to-board">
                  <i class="fa fa-fw fa-plus"></i>&nbsp;&nbsp; Add to board
                </a>
                <div class="popup-box" id="add-to-board">
                  <a class="close-popup" href="#">&#10005;</a>
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ url_for('board_new', add=post.hashid) }}">New board...</a></li>
                    {% for board in g.user.boards() %}
                      <li><a href="{{ url_for('board_add', board=board.name, hashid=post.hashid) }}">{{ board.title }}</a></li>
                    {% endfor -%}
                  </ul>
                </div>
              </div>
            {%- endif %}
            {%- if is_siteadmin or post.admin_is(g.user) %}
              {%- if post.pay_type is not none and not post.is_announcement() %}
                <span class="list-group-item">
                  <i class="fa fa-fw fa-money"></i>&nbsp;&nbsp; {{ post.pay_label() }}
                </span>
              {%- endif %}
              {%- with appl=post.viewcounts['applied'], newappl=post.new_applications, replappl=post.replied_applications %}{% if appl %}
                <a class="list-group-item" href="{{ post.url_for('manage') }}">
                  <i class="fa fa-fw fa-file-text-o"></i>&nbsp;&nbsp; View candidates
                  {%- if newappl %} <span class="badge badge-new">{{ newappl }}/{{ appl }}{% if is_siteadmin and replappl %} › {{ replappl }}{% endif %}</span>
                  {%- else %} <span class="badge">{{ appl }}{% if is_siteadmin and replappl %} › {{ replappl }}{% endif %}</span>
                  {%- endif -%}
                </a>
              {%- endif %}{% endwith -%}
            {%- endif %}
            {%- if is_siteadmin or post.admin_is(g.user) or (g.user and g.user.flags.is_employer_month) %}
              <div class="list-group-item no-border">
                <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;&nbsp; <span title="Viewed › Opened form › Applied">{{ post.viewcounts['viewed'] }} › {{ post.viewcounts['opened'] }} › {{ post.viewcounts['applied'] }}</span> &middot;
                {%- with unittype = post.viewstats[0] %}
                  {%- if unittype == 'q' %} Per 15m:
                  {%- elif unittype == 'h' %} Per hour:
                  {%- elif unittype == 'd' %} Per day:
                  {%- endif %}
                {%- endwith %}<br>
                <div id="statsline" class="hidden"></div>
              </div>
            {%- endif %}
            {#<div class="list-group-item" id="banner">
              <a href="https://rootconf.in/2014/" target="_blank" title="Rootconf 2014"><img src="{{
                url_for('static', filename='img/banner.png') }}" width="170" height="156" alt="Rootconf" /></a>
            </div>#}
          </div>
        {% endif %}</div>
      </div>
    </div>
    {%- if post.is_closed() %}
      <div class="section">
        <h2>No longer accepting applications</h2>
      </div>
    {% elif not post.is_announcement() %}
      <div class="section" id="apply-info">
        {%- if g.kiosk %}
          <img align="right" src="//chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl={{ post.url_for(subdomain=none, _external=true) }}&amp;choe=UTF-8"/>
        {%- endif %}
        <h2>Apply for this position
          {%- if not post.pays_cash %}
            {%- if post.pays_equity %}
              <small>No pay, equity only</small>
            {%- else %}
              <small>No pay, no equity</small>
            {%- endif -%}
          {%- endif -%}
        </h2>
        {%- if g.kiosk %}
          <p>
            {% if g.peopleflow_url %}
              <strong>Tap your badge</strong> on the attached reader to connect with the employer. You can also open this link on your phone or computer:<br/>
            {% else %}
              Open this link on your phone or computer:<br/>
            {% endif %}
            {%- with len = post.hashid|length %}
              <big>{{ post.url_for(subdomain=none, _external=true)[:-len] }}<strong>{{ post.hashid }}</strong></big>
            {%- endwith %}
          </p>
        {%- else %}
          <p id="apply-info-para">
            {%- if post.is_draft() %}{# Always show when in draft state #}
              {{ post.how_to_apply|hideemail }}
            {%- elif g.user %}
              {% if jobview.applied %}{# User has already hit the reveal button #}
                {{ post.how_to_apply|hideemail }}
              {%- else %}
                <a class="btn btn-primary" id="reveal-button" href="{{ post.url_for('reveal') }}">Show instructions</a>
              {%- endif %}
            {%- else %}
              <a class="btn btn-primary" href="{{ post.url_for('reveal') }}">Login with Twitter or Google</a>
              to see instructions on how to apply.
              Your identity will not be revealed to the employer.
            {%- endif %}
          </p>
        {%- endif %}
      </div>
      {%- if not post.is_draft() and (g.user or g.kiosk) and applyform %}
        <div id="apply-section" class="section {%- if g.kiosk or (jobview and not jobview.applied) %} hidden {%- endif -%}">
          {#- This form must be part of the page (even if hidden) in kiosk mode, so remember that if we ever remove it pre-reveal #}
          {% include "inc/applyform.html" %}
        </div>
      {%- endif %}
      {%- if post.hr_contact is not none %}{# Don't display notice on old posts #}
        <div class="section" id="recruiter-notice">
        {%- if post.hr_contact %}
          <p>
            It is <strong>OK</strong> for recruiters, HR consultants, and other intermediaries to contact this employer
          </p>
        {%- else %}
          <p>
            It is <strong>NOT OK</strong> for recruiters, HR consultants, and other intermediaries to contact this employer
          </p>
        {%- endif %}
        </div>
      {%- endif %}
    {%- else %}
      <div class="section" id="recruiter-notice">
        <p>
          This is a special announcement from {{ post.company_name }}
        </p>
      </div>
    {%- endif %}
    {%- if job_application %}
      <div class="section">
        <h3>You have applied for this position</h3>
        <p>
          <strong>Name:</strong> {{ job_application.fullname }}<br>
          <strong>Email:</strong> {{ job_application.email }}<br>
          <strong>Phone:</strong> {{ job_application.phone }}
        </p>
        {{ job_application.message|safe }}
      </div>
    {%- endif %}
    {%- if is_siteadmin %}
      <div class="section unmarked" id="tagcloud">
        <p>
        {%- for taglink in post.taglinks %}{% with label=taglink.status_label %}
          <a href="/tag/{{ taglink.tag.name }}" class="label label-info tag-{{ label.name }}">{{ taglink.tag.title }}</a>
        {% endwith %}{%- endfor %}
        </p>
      </div>
    {%- endif %}
  </div>
  {%- if post.headlineb and (is_siteadmin or post.admin_is(g.user)) %}
    <div class="post-guide">
      <h2>A/B test results</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th><span data-toggle="tooltip" data-placement="bottom" title="No A/B test flag was included">N/A</span></th>
            <th>A</th>
            <th>B</th>
            <th></th>
          </tr>
        </thead>
        <tbody>{% with abi = post.ab_impressions, abv=post.ab_views %}
          <tr>
            <th>Impressions</th>
            <td>{{ abi.NA }}</td>
            <td>{{ abi.A }}</td>
            <td>{{ abi.B }}</td>
            <td>Number of sessions in which the job post was listed</td>
          </tr>
          <tr>
            <th>Conversions</th>
            <td>{{ abv.C_NA }}</td>
            <td>{{ abv.C_A }}{% if abi.A > 0 %} <small>({{ (abv.C_A*100/abi.A)|round(1) }}%)</small>{% endif %}</td>
            <td>{{ abv.C_B }}{% if abi.B > 0 %} <small>({{ (abv.C_B*100/abi.B)|round(1) }}%)</small>{% endif %}</td>
            <td>Views from an A/B tested listing</td>
          </tr>
          <tr>
            <th>External</th>
            <td>{{ abv.E_NA }}</td>
            <td>{{ abv.E_A }}</td>
            <td>{{ abv.E_B }}</td>
            <td>Views from external links with a static A/B group</td>
          </tr>
          <tr>
            <th>Second times</th>
            <td>{{ abv.X_NA }}</td>
            <td>{{ abv.X_A }}</td>
            <td>{{ abv.X_B }}</td>
            <td>Shown both and only responded the second time</td>
          </tr>
        {% endwith %}</tbody>
      </table>
    </div>
  {%- endif %}
{% endblock %}
{% block postcontent %}
  {%- if related_posts %}
  <ul id="stickie-area" class="row">
    {%- for post in related_posts -%}
      <li class="col-xs-12 col-md-3 col-sm-4">
        {{ stickie(post, post.url_for(), false, show_viewcounts=is_siteadmin or g.user and g.user.flags.is_employer_month, show_pay=is_siteadmin, starred=g.user and post.id in g.starred_ids) }}
      </li>
    {%- endfor -%}
  </ul>
  {%- endif %}
{% endblock %}
{% block footerscripts %}
<script type="text/javascript">
  $(function() {
    {%- if g.kiosk %}
      $('.jobdescription a').contents().unwrap();
    {%- endif %}
    jQuery.getJSON(
      '//cdn.api.twitter.com/1/urls/count.json?url={{ post.url_for(_external=true)|urlquoteplus }}&callback=?',
      function (data) {
        if (data.count > 0) {
          $("#tweet-count").html(data.count);
        }
      }
    );
    $('.share-popup').click(function(e) {
      var winWidth = $(this).data('width') || 550, winHeight = $(this).data('height') || 250;
      var left = Math.round((screen.width / 2) - (winWidth / 2));
      var top = (screen.height > winHeight) ? Math.round((screen.height / 2) - (winHeight / 2)) : 0;
      window.open($(this).attr('href'), 'share',
        'left=' + left + ',top=' + top + ',width=' + winWidth + ',height=' + winHeight + ',personalbar=0,toolbar=0,scrollbars=1,resizable=1');
      e.preventDefault();
      return false;
    });
  });
  $(function() {
    $('.sidebar-pstar').click(function(e) {
      $('.sidebar-pstar .pstar').click();
      e.preventDefault();
      return false;
    });
    $('span[data-toggle="tooltip"]').tooltip();
    $(".popup-box").hide();
    $(".popup-box:target").show();
    $("body").click(function() {
      // Hide popups
      $(".popup-box").fadeOut("fast");
    });
    $(".popup").click(function(event) {
      $($(event.target).attr('href')).fadeToggle("fast");
      return false;
    });
    $(".popup-box").click(function(event) {
      // Prevent clicks within popup from hiding it
      event.stopPropagation();
    });
    $(".close-popup").click(function(event) {
      $(event.target).closest('.popup-box').fadeOut("fast");
      return false;
    });
  });
  $(function() {
    $("#reveal-button").on('click dblclick', function(e) {
      e.preventDefault();
      $(this).attr('disabled', 'disabled');
      $.ajax($(this).attr('href')).done(function(html) {
        $("#apply-info-para").html(html);
        {%- if applyform %}
          $("#apply-section").removeClass('hidden');
        {%- endif %}
      })
      .fail(function(msg){
        $(this).removeAttr("disabled");
      });
      return false;
    });
  });
</script>
{{ ajaxform('reportform', request, force=true) }}
{{ ajaxform('rejectform', request, force=true) }}
{{ ajaxform('pinnedform', request, force=true) }}
{{ ajaxform('moderateform', request, force=true) }}
{% if applyform %}
  {{ ajaxform('applyform', request, force=true) }}
  {% assets "js_tinymce" %}<script src="{{ ASSET_URL }}" type="text/javascript"></script>{% endassets %}
  <script type="text/javascript">
    {% include "inc/tinymce.js" %}
  </script>
{% endif %}
{%- if is_siteadmin or post.admin_is(g.user) or (g.user and g.user.flags.is_employer_month) %}{% with stats = post.viewstats[1], max = stats.max|tojson %}
  <script type="text/javascript">
    $(function() {
      $("#statsline").removeClass('hidden').sparkline(
        {{ stats.viewed|tojson }},
        {type: 'line', chartRangeMin: 0, chartRangeMax: {{ max }}, lineColor: '#f0a40c', fillColor: false, tooltipSuffix: ' viewed', height: '2em', width: {{ stats.length|tojson }} * 4}
      ).sparkline(
        {{ stats.opened|tojson }},
        {type: 'line', chartRangeMin: 0, chartRangeMax: {{ max }}, lineColor: '#df5e0e', fillColor: false, tooltipSuffix: ' opened', composite: true}
      ).sparkline(
        {{ stats.applied|tojson }},
        {type: 'bar', chartRangeMin: 0, chartRangeMax: {{ max }}, barColor: '#816894', tooltipSuffix: ' applied', barWidth: 3, barSpacing: 1, composite: true}
      );
    });
  </script>
{%- endwith %}{%- endif %}
{%- if g.kiosk and g.peopleflow_url %}
  <script src="http://127.0.0.1:8008/assets/js/lib.js"></script>
  <script type="text/javascript" src="{{ g.peopleflow_url }}"></script>
{%- endif %}
{% endblock %}
