{% extends "sheet.html.jinja2" %}
{%- from "baseframe/forms.html.jinja2" import ajaxform %}
{%- from "macros.html.jinja2" import jobheader, stickie %}
{% block title %}{{ headline }} / {{ post.company_name }} / {{ post.location }}{% endblock %}
{% block description %}{{ post.company_name }}, {{ post.location }}, {{ post.type.title }}, {{ post.category.title }}{% endblock %}
{% block canonical_url %}
  {%- if g.board and g.board.not_root %}
    <link rel="canonical" href="{{ post.url_for(subdomain=none) }}" />
    <meta property="og:url" content="{{ post.url_for(subdomain=none) }}" />
  {%- else %}
    <link rel="canonical" href="{{ request.base_url }}" />
    <meta property="og:url" content="{{ request.base_url }}" />
  {%- endif %}
{% endblock %}
{%- block image_src %}
  {%- if post.company_logo %}
    <link rel="image_src" href="{{ post.url_for('logo', _external=true) }}" />
    <meta property="og:image" content="{{ post.url_for('logo', _external=true) }}" />
  {%- else %}
    {{ super() }}
  {%- endif %}
{%- endblock %}
{% block pageheaders %}
  {%- if post.is_old() %}
    <meta name="robots" content="nofollow" />
  {%- endif %}
  {%- if can_see_post_stats %}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.14/c3.css">
  {%- endif %}
{% endblock %}
{% block presheet %}
  {% if post.is_unpublished() %}
  <div class="guide">
    <div class="page-header"><h2>Review this post</h2></div>
    <p>
      This is a preview. It is only visible to you. You may edit again or confirm this post.
    </p>
    <form action="{{ post.url_for('confirm')|usessl }}" method="POST" class="form-group button-bar">
      <input type="submit" class="btn btn-primary btn-sm" value="This looks good, confirm it"/>
      <a href="{{ post.url_for('edit')|usessl }}" class="btn btn-info btn-sm">Edit again</a>
    </form>
  </div>
  {% elif post.is_flagged() %}
  <div class="guide">
    <div class="page-header"><h2>This post has been flagged for review</h2></div>
    <p>
      Previous viewers of this post flagged it for review by a moderator.
      A review is currently pending
    </p>
  </div>
  {% elif post.is_moderated() %}
  <div class="guide">
    <p>
      This post has been marked by a moderator as carrying potentially inaccurate or incomplete
      information. Please proceed with caution
    </p>
  </div>
  {% elif post.is_old() %}
  <div class="guide">
    <p>
      This post is over 30 days old. The position may no longer be available
    </p>
  </div>
  {% elif post.from_webmail_domain %}
  <div class="guide">
    <p>
      This post was made with a public webmail address. The employer’s identity has not been verified
    </p>
  </div>
  {% elif domain_mismatch %}
  <div class="guide">
    <p>
      This post is from {{ post.email_domain }}, which may or may not be affiliated with
      {{ post.company_url_domain_zone }}
    </p>
  </div>
  {% elif post.is_unacceptable() %}
  <div class="guide">
    <p>
      Your post is not in compliance with our <a href="{{ url_for('terms_of_service') }}">Terms of Service</a> and has been taken down. Your post was reviewed by {{ post.reviewer.fullname }}, who left the following comment:</p>
      <hr>
      <p>{{ post.review_comments }}</p>
    </p>
  </div>
  {% endif %}
{% endblock %}
{% block content %}
    <div class="section first">
      {{ jobheader(post, kiosk=g.kiosk, user=g.user, headline=headline) }}
    </div>
    <div class="section">
      <div class="row">
        <div itemprop="articleBody" class="col-md-9 jobdescription">
          {{ post.description|safe }}
          {% if post.perks %}
            <h2>Job Perks</h2>
            {{ post.perks|safe }}
          {% endif %}
        </div>
        <div class="col-md-3">{% if not g.kiosk %}
          <div class="list-group">
            {%- if g.user %}
              {% if g.user.has_starred_post(post) %}
                <a class="list-group-item pstar" href="#">
                  <i class="fa fa-fw fa-star" data-id="{{ post.hashid }}"></i>
                  &nbsp;&nbsp; <span class="pstar-caption">Bookmarked</span>
                </a>
              {% else %}
                <a class="list-group-item pstar" href="#">
                  <i class="fa fa-fw fa-star-o" data-id="{{ post.hashid }}"></i>
                  &nbsp;&nbsp; <span class="pstar-caption">Bookmark this</span>
                </a>
              {%- endif %}
            {%- endif %}
            <a class="list-group-item" href="mailto:?subject=Job%3A%20{{ headline|urlquoteplus }}&amp;body={{ post.url_for(utm_campaign='share', utm_medium='email', _external=true)|urlquoteplus }}">
              <i class="fa fa-fw fa-envelope"></i>&nbsp;&nbsp; Email this
            </a>
            <a class="list-group-item visible-xs-block visible-sm-block" href="whatsapp://send?text={{ headline|urlquoteplus }}+{{ post.url_for(utm_campaign='share', utm_medium='whatsapp', _external=true)|urlquoteplus }}">
              <i class="fa fa-fw fa-whatsapp"></i>&nbsp;&nbsp; Share on WhatsApp
            </a>
            <a class="list-group-item share-popup" data-width="550" data-height="250" rel="noopener" target="_blank" href="https://twitter.com/share?url={{ post.url_for(utm_campaign='share', utm_medium='twitter', _external=true)|urlquoteplus }}&amp;counturl={{ post.url_for(_external=true)|urlquoteplus }}&amp;via=hasjob&amp;related=hasjob:HasGeek%20Job%20Board&amp;text=Job%3A%20{{ headline|urlquoteplus }}">
              <span class="badge" id="tweet-count"></span><i class="fa fa-fw fa-twitter"></i>&nbsp;&nbsp; Tweet this
            </a>
            <a class="list-group-item share-popup" data-width="520" data-height="230" rel="noopener" target="_blank" href="http://www.facebook.com/sharer.php?s=100&p[url]={{ post.url_for(utm_campaign='share', utm_medium='facebook', _external=true)|urlquoteplus }}">
              <i class="fa fa-fw fa-facebook"></i>&nbsp;&nbsp; Share on Facebook
            </a>
            {%- if not g.kiosk and not post.is_announcement() %}
              <div class="list-group-item">
                <a class="popup" href="#report">
                  <i class="fa fa-fw fa-flag"></i>&nbsp;&nbsp; {% if report -%} Reported {%- else -%} Report this {%- endif %}
                  {%- if is_siteadmin and post.flags %}
                    <span class="badge">{% for report in post.reports() -%}
                      {%if not loop.first %} &middot; {% endif %}<span title="{{ report.title }}">{{ report.count }}</span>
                    {%- endfor %}</span>
                  {%- endif -%}
                </a>
                <div class="popup-box" id="report">
                  <a class="close-popup" href="#">&#10005;</a>
                  {%- if g.user %}
                    <h2>What’s wrong with it?</h2>
                    {% include "inc/reportform.html.jinja2" %}
                  {%- else %}
                    <p>You need to be logged in to report a post</p>
                    <p><a class="btn btn-primary btn-sm" href="{{ url_for('login') }}">Login with Twitter or Google</a></p>
                  {%- endif %}
                </div>
              </div>
            {%- endif %}
            {%- if post.admin_is(g.user) %}
              <a class="list-group-item" href="{{ post.url_for('edit') }}">
                <i class="fa fa-fw fa-pencil"></i>&nbsp;&nbsp; Edit this
              </a>
              {%- if post.is_closed() %}
                <a class="list-group-item" href="{{ post.url_for('reopen') }}">
                  <i class="fa fa-fw fa-check"></i>&nbsp;&nbsp; Reopen this
                </a>
              {%- elif post.is_public() %}
                <a class="list-group-item" href="{{ post.url_for('close') }}">
                  <i class="fa fa-fw fa-times"></i>&nbsp;&nbsp; Close this
                </a>
                <a class="list-group-item" href="{{ post.url_for('withdraw') }}">
                  <i class="fa fa-fw fa-trash-o"></i>&nbsp;&nbsp; Withdraw this
                </a>
              {%- endif %}
              {%- if post.is_old() %}
                <a class="list-group-item" href="{{ url_for('newjob', template=post.hashid) }}">
                  <i class="fa fa-fw fa-refresh"></i>&nbsp;&nbsp; Repost this
                </a>
              {%- endif %}
            {%- endif %}
            {%- if is_siteadmin %}
              <div class="list-group-item">
                <a class="popup" href="#reject">
                  <i class="fa fa-fw fa-trash-o"></i>&nbsp;&nbsp; Reject this
                </a>
                <div class="popup-box" id="reject">
                  <a class="close-popup" href="#">&#10005;</a>
                  <h2>What’s wrong with it?</h2>
                  {% include "inc/rejectform.html.jinja2" %}
                </div>
              </div>
              <div class="list-group-item">
                <a class="popup" href="#moderate">
                  <i class="fa fa-fw fa-thumbs-down"></i>&nbsp;&nbsp; Moderate this
                </a>
                <div class="popup-box" id="moderate">
                  <a class="close-popup" href="#">&#10005;</a>
                  <h2>What’s wrong with it?</h2>
                  {% include "inc/moderateform.html.jinja2" %}
                </div>
              </div>
            {%- endif %}
            {%- if is_siteadmin or (g.user and g.board and g.board.owner_is(g.user)) %}
              <div class="list-group-item">
                <a class="popup" href="#makepinned">
                  <i class="fa fa-fw fa-thumb-tack"></i>&nbsp;&nbsp; Pin this
                </a>
                <div class="popup-box" id="makepinned">
                  <a class="close-popup" href="#">&#10005;</a>
                  {% include "inc/pinnedform.html.jinja2" %}
                </div>
              </div>
            {%- endif %}
            {%- if g.user and g.user.flags.has_boards %}
              <div class="list-group-item">
                <a class="popup" href="#add-to-board">
                  <i class="fa fa-fw fa-plus"></i>&nbsp;&nbsp; Add to board
                </a>
                <div class="popup-box" id="add-to-board">
                  <a class="close-popup" href="#">&#10005;</a>
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ url_for('board_new', add=post.hashid) }}">New board...</a></li>
                    {% for board in g.user.boards() %}
                      <li><a href="{{ url_for('board_add', board=board.name, hashid=post.hashid) }}">{{ board.title }}</a></li>
                    {% endfor -%}
                  </ul>
                </div>
              </div>
            {%- endif %}
            {%- if is_siteadmin or post.admin_is(g.user) %}
              {%- if post.pay_type is not none and not post.is_announcement() %}
                <span class="list-group-item">
                  <i class="fa fa-fw fa-money"></i>&nbsp;&nbsp; {{ post.pay_label() }}
                </span>
              {%- endif %}
              {%- with appl=post_viewcounts['applied'], newappl=post.new_applications, replappl=post.replied_applications %}{% if appl %}
                <a class="list-group-item" href="{{ post.url_for('manage') }}">
                  <i class="fa fa-fw fa-file-text-o"></i>&nbsp;&nbsp; View candidates
                  {%- if newappl %} <span class="badge badge-new">{{ newappl }}/{{ appl }}{% if is_siteadmin and replappl %} › {{ replappl }}{% endif %}</span>
                  {%- else %} <span class="badge">{{ appl }}{% if is_siteadmin and replappl %} › {{ replappl }}{% endif %}</span>
                  {%- endif -%}
                </a>
              {%- endif %}{% endwith -%}
            {%- endif %}
          </div>
        {% endif %}</div>
      </div>
    </div>
    {%- if post.is_closed() %}
      <div class="section">
        <h2>No longer accepting applications</h2>
      </div>
    {% elif not post.is_announcement() %}
      <div class="section" id="apply-info">
        {%- if g.kiosk %}
          <img align="right" src="//chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl={{ post.url_for(subdomain=none, _external=true) }}&amp;choe=UTF-8"/>
        {%- endif %}
        <h2>Apply for this position
          {%- if not post.pays_cash %}
            {%- if post.pays_equity %}
              <small>No pay, equity only</small>
            {%- else %}
              <small>No pay, no equity</small>
            {%- endif -%}
          {%- endif -%}
        </h2>
        {%- if g.kiosk %}
          <p>
            {% if g.peopleflow_url %}
              <strong>Tap your badge</strong> on the attached reader to connect with the employer. You can also open this link on your phone or computer:<br/>
            {% else %}
              Open this link on your phone or computer:<br/>
            {% endif %}
            {%- with len = post.hashid|length %}
              <big>{{ post.url_for(subdomain=none, _external=true)[:-len] }}<strong>{{ post.hashid }}</strong></big>
            {%- endwith %}
          </p>
        {%- else %}
          <p id="apply-info-para">
            {%- if post.is_draft() %}{# Always show when in draft state #}
              {{ post.how_to_apply|hideemail }}
            {%- elif g.user %}
              <a class="btn btn-primary" id="reveal-button" href="{{ post.url_for('reveal') }}">Show instructions</a> <span class="loading hidden"></span>
            {%- else %}
              <a class="btn btn-primary" href="{{ url_for('login') }}">Login with Twitter or Google</a>
              to see instructions on how to apply.
              Your identity will not be revealed to the employer.
            {%- endif %}
          </p>
        {%- endif %}
      </div>
      {%- if not post.is_draft() and (g.user or g.kiosk) and applyform %}
        <div id="apply-section" class="section hidden">
        </div>
      {%- endif %}
      {%- if post.hr_contact is not none %}{# Don't display notice on old posts #}
        <div class="section" id="recruiter-notice">
        {%- if post.hr_contact %}
          <p>
            It is <strong>OK</strong> for recruiters, HR consultants, and other intermediaries to contact this employer
          </p>
        {%- else %}
          <p>
            It is <strong>NOT OK</strong> for recruiters, HR consultants, and other intermediaries to contact this employer
          </p>
        {%- endif %}
        </div>
      {%- endif %}
    {%- else %}
      <div class="section" id="recruiter-notice">
        <p>
          This is a special announcement from {{ post.company_name }}
        </p>
      </div>
    {%- endif %}
    {%- if is_siteadmin %}
      <div class="section unmarked" id="tagcloud">
        <p>
        {%- for taglink in post.taglinks %}{% with label=taglink.status_label %}
          <a href="/tag/{{ taglink.tag.name }}" class="label label-info tag-{{ label.name }}">{{ taglink.tag.title }}</a>
        {% endwith %}{%- endfor %}
        </p>
      </div>
    {%- endif %}
{% endblock %}
{% block postsheet %}
  {%- if can_see_post_stats %}
    <div class="post-guide hidden" id="viewstats">
      <h2>Statistics</h2>
      <div>Logged-in users: <span id="post-viewed">⋯</span> viewed › <span id="post-opened">⋯</span> opened form › <span id="post-applied">⋯</span> applied &middot; Per <span id="post-stats-unit"></span>:</div>
      <div id="viewstats-chart"></div>
      {%- if post.headlineb and (is_siteadmin or post.admin_is(g.user)) %}
        <h2>A/B test results</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th><span data-toggle="tooltip" data-placement="bottom" title="No A/B test flag was included (shown default headline A)">N/A</span></th>
              <th><span data-toggle="tooltip" data-placement="bottom" title="{{ post.headline }}">A</span></th>
              <th><span data-toggle="tooltip" data-placement="bottom" title="{{ post.headlineb }}">B</span></th>
              <th></th>
            </tr>
          </thead>
          <tbody>{% with abi = post.ab_impressions, abv=post.ab_views %}
            <tr>
              <th>Impressions</th>
              <td>{{ abi.NA|numberformat }}</td>
              <td>{{ abi.A|numberformat }}</td>
              <td>{{ abi.B|numberformat }}</td>
              <td>Number of sessions in which the job post was listed</td>
            </tr>
            <tr>
              <th>Conversions</th>
              <td>{{ abv.C_NA|numberformat }}</td>
              <td>{{ abv.C_A|numberformat }}{% if abi.A > 0 %} <small>({{ (abv.C_A/abi.A)|decimalformat('##0.0%') }})</small>{% endif %}</td>
              <td>{{ abv.C_B|numberformat }}{% if abi.B > 0 %} <small>({{ (abv.C_B/abi.B)|decimalformat('##0.0%') }})</small>{% endif %}</td>
              <td>Views from an A/B tested listing</td>
            </tr>
            <tr>
              <th>External</th>
              <td>{{ abv.E_NA|numberformat }}</td>
              <td>{{ abv.E_A|numberformat }}</td>
              <td>{{ abv.E_B|numberformat }}</td>
              <td>Views from external links with a static A/B group</td>
            </tr>
            <tr>
              <th>Second times</th>
              <td>{{ abv.X_NA|numberformat }}</td>
              <td>{{ abv.X_A|numberformat }}</td>
              <td>{{ abv.X_B|numberformat }}</td>
              <td>Shown both and only responded the second time</td>
            </tr>
          {% endwith %}</tbody>
        </table>
      {%- endif %}
    </div>
  {%- endif %}
{% endblock %}
{% block postcontent %}
  <ul id="stickie-area" class="row">
  </ul>
{% endblock %}
{% block sheetscripts %}

{%- if can_see_post_stats %}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.14/c3.min.js"></script>
{%- endif %}

<script type="text/javascript">
  $(function() {
    {%- if g.kiosk %}
      $('.jobdescription a').contents().unwrap();
    {%- endif %}
    jQuery.getJSON(
      '//cdn.api.twitter.com/1/urls/count.json?url={{ post.url_for(_external=true)|urlquoteplus }}&callback=?',
      function (data) {
        if (data.count > 0) {
          $("#tweet-count").html(data.count);
        }
      }
    );
    $('.share-popup').click(function(e) {
      var winWidth = $(this).data('width') || 550, winHeight = $(this).data('height') || 250;
      var left = Math.round((screen.width / 2) - (winWidth / 2));
      var top = (screen.height > winHeight) ? Math.round((screen.height / 2) - (winHeight / 2)) : 0;
      window.open($(this).attr('href'), 'share',
        'left=' + left + ',top=' + top + ',width=' + winWidth + ',height=' + winHeight + ',personalbar=0,toolbar=0,scrollbars=1,resizable=1');
      e.preventDefault();
      return false;
    });
    // ================
    $('span[data-toggle="tooltip"]').tooltip();
    $(".popup-box").hide();
    $(".popup-box:target").show();
    $("body").click(function() {
      // Hide popups
      $(".popup-box").fadeOut("fast");
    });
    $(".popup").click(function(event) {
      $($(event.target).attr('href')).fadeToggle("fast");
      return false;
    });
    $(".popup-box").click(function(event) {
      // Prevent clicks within popup from hiding it
      event.stopPropagation();
    });
    $(".close-popup").click(function(event) {
      $(event.target).closest('.popup-box').fadeOut("fast");
      return false;
    });
    // ===============
    $("#reveal-button").on('click dblclick', function(e) {
      var reveal_button = this;
      e.preventDefault();
      $(reveal_button).attr('disabled', 'disabled');
      $('#reveal-button + .loading').removeClass('hidden');
      $.ajax($(reveal_button).attr('href'), {method: 'POST'}).done(function(html) {
        $("#apply-info-para").replaceWith(html);
        {%- if applyform %}
          $("#apply-section").removeClass('hidden');
        {%- endif %}
      })
      .fail(function(msg){
        $('#reveal-button + .loading').addClass('hidden');
        $(reveal_button).removeAttr('disabled');
      });
      return false;
    });
    // ===============
    // Fetch the related posts once the given view is on the display.
    // triggered_related is a boolean that makes sure we dont call the
    // related posts endpoint more than once.
    var triggered_related = false;
    var triggered_viewstats = false;
    $('#apply-info').appear().on('appear', function(event, element) {
      if (!triggered_related) {
        triggered_related = true;
        $.get("{{ post.url_for('related_posts') }}", function (data) {
            $('#stickie-area').html(data);
          }
        );
      }

      {%- if can_see_post_stats %}
      if (!triggered_viewstats) {
        triggered_viewstats = true;
        var UNITTYPE = {
          'h': 'four hours',
          'd': 'day'
        }
        $.get("{{ post.url_for('viewstats') }}", function(data) {
          $('#post-viewed').text(data['counts']['viewed']);
          $('#post-opened').text(data['counts']['opened']);
          $('#post-applied').text(data['counts']['applied']);
          $('#post-stats-unit').text(UNITTYPE[data['unittype']]);

          $('#viewstats').hide().removeClass('hidden').slideDown();
          c3.generate({
            bindto: '#viewstats-chart',
            size: {
              height: 200
            },
            data: {
              types: {
                viewed: 'spline',
                opened: 'spline',
                applied: 'bar'
              },
              x: 'datehour',
              columns: [
                ['datehour'].concat(data['stats']['buckets']),
                ['viewed'].concat(data['stats']['viewed']),
                ['opened'].concat(data['stats']['opened']),
                ['applied'].concat(data['stats']['applied'])
              ],
              names: {
                viewed: "Viewed",
                opened: "Opened",
                applied: "Applied"
              }
            },
            axis: {
              x: {
                type: 'category',
                height: 60
              },
              y: {
                tick: {
                  format: d3.format('d'),
                  values: data['stats']['max']<10?(function (max) {for(var i,a=[i=0];i<=max;a[i]=i++); return a})(data['stats']['max']):undefined
                }
              }
            }
          });
          // c3 initially draws the width too big,
          // a window resize event forces it to redraw the chart properly
          // http://stackoverflow.com/a/27180464/257944
          $(window).trigger('resize');
        })
      }
      {%- endif %}
    });
  });
</script>
{{ ajaxform('reportform', request, force=true) }}
{{ ajaxform('rejectform', request, force=true) }}
{{ ajaxform('pinnedform', request, force=true) }}
{{ ajaxform('moderateform', request, force=true) }}
{% assets "js_tinymce" %}<script src="{{ ASSET_URL }}" type="text/javascript"></script>{% endassets %}
{%- if g.kiosk and g.peopleflow_url %}
  <script src="http://127.0.0.1:8008/assets/js/lib.js"></script>
  <script type="text/javascript" src="{{ g.peopleflow_url }}"></script>
{%- endif %}
{% endblock %}
