{% extends "sheet.html" %}
{% from "baseframe/forms.html" import ajaxform %}
{% from "macros.html" import jobheader %}
{% block title %}{{ post.headline }}{% endblock %}
{% block description %}{{ post.company_name }}, {{ post.location }}, {{ post.type.title }}, {{ post.category.title }}{% endblock %}
{% block pageheaders %}
  {%- if post.is_old() %}
    <meta name="robots" content="nofollow" />
  {%- endif %}
  {%- if g.board %}
    <link rel="canonical" href="{{ url_for('jobdetail', hashid=post.hashid, subdomain=none) }}" />
  {%- endif %}
{% endblock %}
{% block content %}
  {% if post.is_unpublished() %}
  <div class="guide">
    <div class="page-header"><h2>Review this listing</h2></div>
    <p>
      This is a preview. It is only visible to you. You may edit again or confirm this listing.
    </p>
    <form action="{{ url_for('confirm', hashid=post.hashid)|usessl }}" method="POST" class="form-group">
      <input type="submit" class="btn btn-primary btn-sm" value="This looks good, confirm it"/>
      <a href="{{ url_for('editjob', hashid=post.hashid)|usessl }}" class="btn btn-info btn-sm">Edit again</a>
    </form>
  </div>
  {% elif post.is_flagged() %}
  <div class="guide">
    <div class="page-header"><h2>This listing has been flagged for review</h2></div>
    <p>
      Previous viewers of this listing flagged it for review by a moderator.
      A review is currently pending.
    </p>
  </div>
  {% elif post.is_moderated() %}
  <div class="guide">
    <p>
      This listing has been marked by a moderator as carrying potentially inaccurate or incomplete
      information. Please proceed with caution.
    </p>
  </div>
  {% elif post.is_old() %}
  <div class="guide">
    <p>
      This listing is over 30 days old. The position may no longer be available.
    </p>
  </div>
  {% elif post.from_webmail_domain %}
  <div class="guide">
    <p>
      This listing was made with a public webmail address. The employer's identity has not been verified.
    </p>
  </div>
  {% elif domain_mismatch %}
  <div class="guide">
    <p>
      This listing is from {{ post.email_domain }}, which may or may not be affiliated with
      {{ post.company_url_domain_zone }}. Please proceed with caution.
    </p>
  </div>
  {% endif %}

  <div class="sheet">
    <div class="section first">
      {{ jobheader(post, kiosk=g.kiosk) }}
    </div>
    <div class="section">
      <div class="row">
        <div class="col-md-9 jobdescription">
          {{ post.description|safe }}
          {% if post.perks %}
            <h2>Job Perks</h2>
            {{ post.perks|safe }}
          {% endif %}
        </div>
        <div class="col-md-3">{% if not g.kiosk %}
          <div class="list-group">
            <a class="list-group-item" href="mailto:?subject=Job%3A%20{{ post.headline|urlquote }}&amp;body={{ request.url|urlquote }}">
              <i class="fa fa-fw fa-envelope"></i>&nbsp;&nbsp; Email this
            </a>
            <a class="list-group-item" target="_blank" href="https://twitter.com/share?url={{ request.url|urlquote }}&amp;counturl={{ request.url|urlquote }}&amp;via=hasjob&amp;related=hasjob:HasGeek%20Job%20Board&amp;text=Job%3A%20{{ post.headline|urlquote }}">
              <span class="badge" id="tweet-count"></span><i class="fa fa-fw fa-twitter"></i>&nbsp;&nbsp; Tweet this
            </a>
            {%- if not g.kiosk and not post.is_announcement() %}
              <div class="list-group-item">
                <a class="popup" href="#report">
                  {%- if siteadmin and post.flags %}
                    <span class="badge">{% for report in post.reports() -%}
                      {%if not loop.first %} &middot; {% endif %}<span title="{{ report.title }}">{{ report.count }}</span>
                    {%- endfor %}</span>
                  {%- endif -%}
                  <i class="fa fa-fw fa-flag"></i>&nbsp;&nbsp; {% if report -%} Reported {%- else -%} Report this {%- endif %}
                </a>
                <div class="popup-box" id="report">
                  <a class="close-popup" href="#">&#10005;</a>
                  {%- if g.user %}
                    <h2>What’s wrong with it?</h2>
                    {% include "inc/reportform.html" %}
                  {%- else %}
                    <p>You need to be logged in to report a listing</p>
                    <p><a class="btn btn-primary btn-sm" href="{{ url_for('login') }}">Login with Twitter or Google</a></p>
                  {%- endif %}
                </div>
              </div>
            {%- endif %}
            {%- if post.admin_is(g.user) %}
              <a class="list-group-item" href="{{ url_for('editjob', hashid=post.hashid) }}">
                <i class="fa fa-fw fa-pencil"></i>&nbsp;&nbsp; Edit this
              </a>
              <a class="list-group-item" href="{{ url_for('withdraw', hashid=post.hashid) }}">
                <i class="fa fa-fw fa-trash-o"></i>&nbsp;&nbsp; Withdraw this
              </a>
            {%- endif %}
            {%- if siteadmin %}
              <div class="list-group-item">
                <a class="popup" href="#reject">
                  <i class="fa fa-fw fa-trash-o"></i>&nbsp;&nbsp; Reject this
                </a>
                <div class="popup-box" id="reject">
                  <a class="close-popup" href="#">&#10005;</a>
                  <h2>What’s wrong with it?</h2>
                  {% include "inc/rejectform.html" %}
                </div>
              </div>
              <div class="list-group-item">
                <a class="popup" href="#moderate">
                  <i class="fa fa-fw fa-thumbs-down"></i>&nbsp;&nbsp; Moderate this
                </a>
                <div class="popup-box" id="moderate">
                  <a class="close-popup" href="#">&#10005;</a>
                  <h2>What’s wrong with it?</h2>
                  {% include "inc/moderateform.html" %}
                </div>
              </div>
            {%- endif %}
            {%- if siteadmin or (g.user and g.board and g.board.owner_is(g.user)) %}
              <div class="list-group-item">
                <a class="popup" href="#makepinned">
                  <i class="fa fa-fw fa-thumb-tack"></i>&nbsp;&nbsp; Pin this
                </a>
                <div class="popup-box" id="makepinned">
                  <a class="close-popup" href="#">&#10005;</a>
                  {% include "inc/pinnedform.html" %}
                </div>
              </div>
            {%- endif %}
            {%- if g.user and g.user.has_boards %}
              <div class="list-group-item">
                <a class="popup" href="#add-to-board">
                  <i class="fa fa-fw fa-plus"></i>&nbsp;&nbsp; Add to board
                </a>
                <div class="popup-box" id="add-to-board">
                  <a class="close-popup" href="#">&#10005;</a>
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ url_for('board_new', add=post.hashid) }}">New board...</a></li>
                    {% for board in g.user.boards() %}
                      <li><a href="{{ url_for('board_add', board=board.name, hashid=post.hashid) }}">{{ board.title }}</a></li>
                    {% endfor -%}
                  </ul>
                </div>
              </div>
            {%- endif %}
            {%- if siteadmin or post.admin_is(g.user) %}
              {%- if post.pay_type is not none and not post.is_announcement() %}
                <span class="list-group-item">
                  <i class="fa fa-fw fa-money"></i>&nbsp;&nbsp; {{ post.pay_label() }}
                </span>
              {%- endif %}
              <a class="list-group-item" href="{{ url_for('managejob', hashid=post.hashid) }}">
                <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;&nbsp; <span title="Applied">{{ post.viewcounts.applied }}</span> &middot; <span title="Opened form">{{ post.viewcounts.opened }}</span> &middot; <span title="Viewed">{{ post.viewcounts.viewed }}</span> &middot;
                {%- with unittype = post.viewstats[0] %}
                  {%- if unittype == 'q' %} Per 15m:
                  {%- elif unittype == 'h' %} Per hour:
                  {%- elif unittype == 'd' %} Per day:
                  {%- endif %}
                {%- endwith %}<br>
                <div id="statsline" class="hidden"></div>
              </a>
            {%- endif %}
            {#<div class="list-group-item" id="banner">
              <a href="https://rootconf.in/2014/" target="_blank" title="Rootconf 2014"><img src="{{
                url_for('static', filename='img/banner.png') }}" width="170" height="156" alt="Rootconf" /></a>
            </div>#}
          </div>
        {% endif %}</div>
      </div>
    </div>
    {% if not post.is_announcement() %}
      <div class="section" id="apply-info">
        {%- if g.kiosk %}
          <img align="right" src="//chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{ url_for('jobdetail', hashid=post.hashid, subdomain=None, _external=True) }}&choe=UTF-8"/>
        {%- endif %}
        <h2>Apply for this position
          {%- if not post.pays_cash %}
            {%- if post.pays_equity %}
              <small>Equity only</small>
            {%- else %}
              <small>No pay</small>
            {%- endif -%}
          {%- endif -%}
        </h2>
        {%- if g.kiosk %}
          <p>
            {% if g.peopleflow_url %}
              <strong>Tap your badge</strong> on the attached reader to connect with the employer. You can also open this link on your phone or computer:<br/>
            {% else %}
              Open this link on your phone or computer:<br/>
            {% endif %}
            {%- with len = post.hashid|length %}
              <big>{{ url_for('jobdetail', hashid=post.hashid, _external=True)[:-len] }}<strong>{{ post.hashid }}</strong></big>
            {%- endwith %}
          </p>
        {%- else %}
          <p id="apply-info-para">
            {%- if post.is_draft() %}{# Always show when in draft state #}
              {{ post.how_to_apply|hideemail }}
            {%- elif g.user %}
              {% if jobview.applied %}{# User has already hit the reveal button #}
                {{ post.how_to_apply|hideemail }}
              {%- else %}
                <a class="btn btn-primary" id="reveal-button" href="{{ url_for('revealjob', hashid=post.hashid) }}">Show instructions</a>
              {%- endif %}
            {%- else %}
              <a class="btn btn-primary" href="{{ url_for('revealjob', hashid=post.hashid) }}">Login with Twitter or Google</a>
              to see instructions on how to apply.
              Your identity will not be revealed to the employer.
            {%- endif %}
          </p>
        {%- endif %}
      </div>
      {%- if not post.is_draft() and (g.user or g.kiosk) and applyform %}
        <div id="apply-section" class="section {%- if g.kiosk or (jobview and not jobview.applied) %} hidden {%- endif -%}">
          {#- This form must be part of the page (even if hidden) in kiosk mode, so remember that if we ever remove it pre-reveal #}
          {% include "inc/applyform.html" %}
        </div>
      {%- elif job_application %}
        <div class="section">
          <h3>You have applied for this position</h3>
          <p>
            <strong>Name:</strong> {{ job_application.fullname }}<br>
            <strong>Email:</strong> {{ job_application.email }}<br>
            <strong>Phone:</strong> {{ job_application.phone }}
          </p>
          {{ job_application.message|safe }}
        </div>
      {%- endif %}
      {%- if post.hr_contact is not none %}{# Don't display notice on old listings #}
        <div class="section" id="recruiter-notice">
        {%- if post.hr_contact %}
          <p>
            It is <strong>OK</strong> for recruiters, HR consultants, and other intermediaries to contact this employer
          </p>
        {%- else %}
          <p>
            It is <strong>NOT OK</strong> for recruiters, HR consultants, and other intermediaries to contact this employer
          </p>
        {%- endif %}
        </div>
      {%- endif %}
    {%- else %}
      <div class="section" id="recruiter-notice">
        <p>
          This is a special announcement from {{ post.company_name }}
        </p>
      </div>
    {%- endif %}
  </div>
{% endblock %}
{% block footerscripts %}
<script type="text/javascript">
  $(function() {
    {%- if g.kiosk %}
      $('.jobdescription a').contents().unwrap();
    {%- endif %}
    jQuery.getJSON(
      '//cdn.api.twitter.com/1/urls/count.json?url={{ request.url|urlquote }}&callback=?',
      function (data) {
        if (data.count>0) {
          $("#tweet-count").html(data.count);
        }
      }
    );
    $("#sidebar-tweet").click(function() {
      var d=550,a=450;
      var c=screen.height;
      var b=screen.width;
      var h=Math.round((b/2)-(d/2));
      var g=0;
      if (c>a) {
        g=Math.round((c/2)-(a/2))
      }
      window.open($(this).attr("href"), "twitter_tweet",
        "left="+h+",top="+g+",width="+d+",height="+a+",personalbar=0,toolbar=0,scrollbars=1,resizable=1");
      return false;
    });
  });
  $(function() {
    $('#post-location').tooltip();
    $(".popup-box").hide();
    $(".popup-box:target").show();
    $("body").click(function() {
      // Hide popups
      $(".popup-box").fadeOut("fast");
    });
    $(".popup").click(function(event) {
      $($(event.target).attr('href')).fadeToggle("fast");
      return false;
    });
    $(".popup-box").click(function(event) {
      // Prevent clicks within popup from hiding it
      event.stopPropagation();
    });
    $(".close-popup").click(function(event) {
      $(event.target).closest('.popup-box').fadeOut("fast");
      return false;
    });
  });
  $(function() {
    $("#reveal-button").on('click dblclick', function(e) {
      e.preventDefault();
      $(this).attr('disabled', 'disabled');
      $.ajax($(this).attr('href')).done(function(html) {
        $("#apply-info-para").html(html);
        {%- if applyform %}
          $("#apply-section").removeClass('hidden');
        {%- endif %}
      })
      .fail(function(msg){
        $(this).removeAttr("disabled");
      });
      return false;
    });
  });
</script>
{{ ajaxform('reportform', request, force=true) }}
{{ ajaxform('rejectform', request, force=true) }}
{{ ajaxform('pinnedform', request, force=true) }}
{{ ajaxform('moderateform', request, force=true) }}
{% if applyform %}
  {{ ajaxform('applyform', request, force=true) }}
  {% assets "js_tinymce" %}<script src="{{ ASSET_URL }}" type="text/javascript"></script>{% endassets %}
  <script type="text/javascript">
    {% include "inc/tinymce.js" %}
  </script>
{% endif %}
{%- if siteadmin or post.admin_is(g.user) %}{% with stats = post.viewstats[1], max = stats.max|tojson %}
  <script type="text/javascript">
    $(function() {
      $("#statsline").removeClass('hidden').sparkline(
        {{ stats.viewed|tojson }},
        {type: 'line', chartRangeMin: 0, chartRangeMax: {{ max }}, lineColor: '#f0a40c', fillColor: false, tooltipSuffix: ' viewed', height: '2em', width: {{ stats.length|tojson }} * 4}
      ).sparkline(
        {{ stats.opened|tojson }},
        {type: 'line', chartRangeMin: 0, chartRangeMax: {{ max }}, lineColor: '#df5e0e', fillColor: false, tooltipSuffix: ' opened', composite: true}
      ).sparkline(
        {{ stats.applied|tojson }},
        {type: 'bar', chartRangeMin: 0, chartRangeMax: {{ max }}, barColor: '#816894', tooltipSuffix: ' applied', barWidth: 3, barSpacing: 1, composite: true}
      );
    });
  </script>
{%- endwith %}{%- endif %}
{%- if g.kiosk and g.peopleflow_url %}
  <script src="http://127.0.0.1:8008/assets/js/lib.js"></script>
  <script type="text/javascript" src="{{ g.peopleflow_url }}"></script>
{%- endif %}
{% endblock %}
