{% macro org_profile(domain) %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
      <div itemscope itemtype="http://schema.org/Article" class="sheet">
        {#<ul class="nav nav-tabs sheet__nav">
          <li role="presentation" class="active"><a href="{{ domain.url_for() }}" role="tab">Profile</a></li>
        </ul>-#}
        <div class="sheet__section--first">
          {%- if domain.logo_url %}
            <div class="row">
              <div class="img-container col-xs-12 col-sm-3 col-sm-push-9 sheet__section__logo">
                <img itemprop="image" alt="Logo" src="{{ domain.logo_url }}" class="img-responsive"/>
              </div>
              <div class="col-xs-12 col-sm-9 col-sm-pull-3">
          {%- endif %}
          <h1>{{ domain.use_title }}</h1>
          {%- if domain.legal_title %}
            <p class="sheet__section__post-date">{{ domain.legal_title }}</p>
          {%- endif %}
          {%- if domain.logo_url %}
              </div>
            </div>
          {%- endif %}
        </div>
        <div class="sheet__section">
          {{ domain.description|safe }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
