{%- extends "layout.html.jinja2" -%}

{%- block layoutheaders %}
  <link rel="icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{{ manifest('app-css') }}" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i|McLaren&amp;subset=latin-ext">
  {#
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=McLaren" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Fira+Sans:400,700,400italic,700italic&subset=latin,latin-ext">
  <link rel="stylesheet" type="text/css" href="//code.cdn.mozilla.net/fonts/fira.css">
  -#}
  <script>
    if (typeof window.Hasjob === 'undefined') {
      window.Hasjob = {};
    }
    // Use Hasjob.Config for server-generated responses
    if (typeof window.Hasjob.Config === 'undefined') {
      window.Hasjob.Config = {
        baseURL: "/"
      }
    }
  </script>
{%- endblock %}

{% block bodyattrs %}class="hasjob-iframe"{% endblock %}

{% block headerbox %}
{% endblock %}

{% block basecontent -%}
  <div id='main-content'>
    {% block pagecontent %}
      {% block content %}{% endblock %}
    {% endblock %}
  </div>
{%- endblock %}

{% block basefooter -%}
{% endblock %}

{% block footer %}
{% endblock %}

{% block layoutscripts %}
  <script type="text/javascript">
    window.Hasjob.sendIframeSize = function() {
      window.parent.postMessage(JSON.stringify({
        context: "iframe.resize",
        height: document.body.scrollHeight,
        width: document.body.scrollWidth,
        id: {{ request.args.get('iframeid') | tojson }}
        }), '*');
    };
    window.addEventListener('resize', window.Hasjob.sendIframeSize, false);
    window.addEventListener('load', window.Hasjob.sendIframeSize, false);
  </script>
{% endblock %}
