{%- if current_view.tabs -%}
  {%- extends "tablayout.html.jinja2" -%}
{%- else -%}
  {%- extends "sheet.html.jinja2" -%}
{%- endif -%}
{% block pagecontent %}
  <div class="section first">
    {%- block headline %}
      {%- with form_header = current_view.form_header %}{% if form_header %}
        {{ form_header }}
      {%- else %}
        <div class="page-header"><h1>{{ self.title()|e }}</h1></div>
        {%- if current_view and current_view.message %}
          <p>{{ current_view.message }}</p>
        {%- endif %}
      {%- endif %}{% endwith %}
    {%- endblock %}
  </div>
  <div class="section">
    {%- if current_view.form_header %}
      <h2>{{ title }}</h2>
    {%- endif %}
    {% block content %}{% endblock %}
  </div>
{% endblock %}
{% block layoutscripts %}
  {%- if header_campaign %}{{ campaign_script() }}{% endif %}
  {% assets "js_tinymce" %}<script src="{{ ASSET_URL }}" type="text/javascript"></script>{% endassets %}
  {% block footerscripts %}{% endblock %}
{% endblock %}
