{% extends "layout.html" %}
{% block titletags -%}
  <title>{%if title %}{{ title }} &mdash; {% endif %}{% if g.board %}{{ g.board.title }}{% else %}{{ config['SITE_TITLE'] }}{% endif %}</title>
  <meta name="DC.title" content="{%if title %}{{ title }} &mdash; {% endif %}{{ config['SITE_TITLE'] }}"/>
{%- endblock %}

{% block pageheaders %}
{%- if jobtype %}<link rel="alternate" type="application/atom+xml"  title="{{ jobtype.title }} – {{ config['SITE_TITLE']|e }}" href="{{ url_for('feed_by_type', name=jobtype.name) }}" />{% endif -%}
{%- if jobcategory %}<link rel="alternate" type="application/atom+xml"  title="{{ jobcategory.title }} – {{ config['SITE_TITLE']|e }}" href="{{ url_for('feed_by_category', name=jobcategory.name) }}" />{% endif -%}
{%- if md5sum %}<link rel="alternate" type="application/atom+xml" title="Jobs at {{ employer_name }} – {{ config['SITE_TITLE'] }}" href="{{ url_for('feed_by_email', md5sum=md5sum) }}" />{% endif -%}
{%- if domain %}<link rel="alternate" type="application/atom+xml" title="Jobs at {{ employer_name }} – {{ config['SITE_TITLE'] }}" href="{{ url_for('feed_by_domain', domain=domain) }}" />{% endif -%}
{%- if location %}<link rel="alternate" type="application/atom+xml" title="Jobs in {{ location['short_title'] }} – {{ config['SITE_TITLE'] }}" href="{{ url_for('feed_by_location', location=location['name']) }}" />{% endif -%}
{% endblock %}

{% block content %}
  {%- if g.board %}
    <div class="flash info">
      {{ g.board.description|safe }}
      {%- if g.kiosk and g.peopleflow_url %}
        <p>If you find a job worth applying for here, tap your badge on the reader attached to this kiosk and we’ll send an email connecting you with the employer.</p>
      {%- endif %}
    </div>
  {%- endif %}
  <ul id="stickie-area" class="row">
    {%- if jobtype or jobcategory -%}
      <li class="col-xs-12 col-md-3 col-sm-4">
        <a href="{{ url_for('index') }}" class="stickie special">
          You are viewing
          {% if jobtype %}{{ jobtype.title.lower() }}{% endif %}
          {% if jobcategory %}{{ jobcategory.title.lower() }}{% endif %}
          jobs. View all jobs?
        </a>
      </li>
    {%- elif domain -%}
      <li class="col-xs-12 col-md-3 col-sm-4">
        <a href="{{ url_for('index') }}" class="stickie special">
          You are viewing jobs at {{ domain }}. View all jobs?
        </a>
      </li>
    {%- elif md5sum -%}
      <li class="col-xs-12 col-md-3 col-sm-4">
        <a href="{{ url_for('index') }}" class="stickie special">
          You are viewing jobs at {{ employer_name }}. View all jobs?
        </a>
      </li>
    {%- elif location -%}
      <li class="col-xs-12 col-md-3 col-sm-4">
        <a href="{{ url_for('index') }}" class="stickie special">
          You are viewing jobs in {{ location['short_title'] }}. View all jobs?<!-- Id: {{ location['geonameid'] }} -->
        </a>
      </li>
    {%- else -%}
      {%- if not g.kiosk -%}
        <li class="col-xs-12 col-md-3 col-sm-4">
          <form id="newpost" action="{{ url_for('newjob')|usessl }}" method="POST" class="stickie special">
            <input type="hidden" name="_charset_"/>
            <input type="hidden" name="form.id" value="newheadline"/>
            <label class="annotation top-left" for="newpost_headline">Post a job</label>
            <textarea id="newpost_headline" name="job_headline" class="expand form-control">Pragmatic programmer wanted at outstanding organisation</textarea>
            <div id="newpost_details"><input type="submit" class="btn btn-default btn-sm" value="Add details…"/></div>
          </form>
        </li>
      {%- endif -%}
      {#-<li class="col-xs-12 col-md-3 col-sm-4">
        <a class="stickie stickiead" style="background-color:#212530;" href="https://rootconf.in/2014/" target="_blank"><img src="{{ url_for('static', filename='img/banner.png') }}"></a>
      </li>-#}
    {%- endif -%}
    {%- if grouped %}
      {%- for grouping, group in grouped.items() -%}{%- with post = group[0] -%}
        {%- if group|length == 1 -%}
          <li class="col-xs-12 col-md-3 col-sm-4">
            <a class="stickie" href="{{ url_for('jobdetail', hashid=post.hashid) }}" rel="bookmark">
              {%- if post.sticky %}<span class="pinned">Pinned!</span>{% endif %}
              <span class="annotation top-left">{{ post.location }}</span>
              <span class="annotation top-right">{{ post.datetime|shortdate }}</span>
              <span class="headline">{{ post.headline }}</span>
              {#{% if siteadmin %}<span class="count">{{ post.viewcounts.applied }}&middot;{{ post.viewcounts.opened }}&middot;{{ post.viewcounts.viewed }} &middot; {{ post.pay_label() }}</span>{% endif %}#}
              <span class="annotation bottom-right">{{ post.company_name }}</span>
              {% if now - post.datetime < newlimit -%}
                <span class="new annotation bottom-left">New!</span>
              {%- endif %}
            </a>
          </li>
        {%- else -%}
          <li class="grouped col-xs-12 col-md-3 col-sm-4">
            <a class="stickie" href="
                {%- if grouping[0] in ['sd', 'nd'] -%}
                  {{ url_for('browse_by_domain', domain=grouping[1]) }}
                {%- elif grouping[0] in ['se', 'ne'] -%}
                  {{ url_for('browse_by_email', md5sum=grouping[1]) }}
                {%- endif -%}">
              {%- if post.pinned %}<span class="pinned">Pinned!</span>{% endif %}
              <span class="annotation top-left">{{ post.location }}</span>
              <span class="annotation top-right">{{ post.datetime|shortdate }}</span>
              <span class="headline">{{ post.headline }}</span>
              {#{% if siteadmin %}<span class="count">{{ post.viewcounts.applied }}&middot;{{ post.viewcounts.opened }}&middot;{{ post.viewcounts.viewed }} &middot; {{ post.pay_label() }}</span>{% endif %}#}
              <span class="annotation bottom-right">{{ post.company_name }}</span>
              {% if now - post.datetime < newlimit -%}
                <span class="new annotation bottom-left">New!</span>
              {%- endif %}
            </a>
            {%- for post in group[1:] -%}
              <div class="stickie grouped under">
                {%- if post.sticky %}<span class="pinned">Pinned!</span>{% endif %}
                <span class="annotation top-left">{{ post.location }}</span>
                <span class="annotation top-right">{{ post.datetime|shortdate }}</span>
                <span class="headline">{{ post.headline }}</span>
                {#{% if siteadmin %}<span class="count">{{ post.viewcounts.applied }}&middot;{{ post.viewcounts.opened }}&middot;{{ post.viewcounts.viewed }} &middot; {{ post.pay_label() }}</span>{% endif %}#}
                <span class="annotation bottom-right">{{ post.company_name }}</span>
                {% if now - post.datetime < newlimit -%}
                  <span class="new annotation bottom-left">New!</span>
                {%- endif %}
              </div>
            {%- endfor -%}
          </li>
        {%- endif %}
      {%- endwith -%}{%- endfor -%}
    {%- else %}
      {%- for post in posts -%}
        <li class="col-xs-12 col-md-3 col-sm-4">
          <a class="stickie" href="{{ url_for('jobdetail', hashid=post.hashid) }}" rel="bookmark">
            {%- if post.sticky %}<span class="pinned">Pinned!</span>{% endif %}
            <span class="annotation top-left">{{ post.location }}</span>
            <span class="annotation top-right">{{ post.datetime|shortdate }}</span>
            <span class="headline">{{ post.headline }}</span>
            {#{% if siteadmin %}<span class="count">{{ post.viewcounts.applied }}&middot;{{ post.viewcounts.opened }}&middot;{{ post.viewcounts.viewed }} &middot; {{ post.pay_label() }}</span>{% endif %}#}
            <span class="annotation bottom-right">{{ post.company_name }}</span>
            {%- if now - post.datetime < newlimit -%}
              <span class="new annotation bottom-left">New!</span>
            {%- endif %}
          </a>
        </li>
      {%- else -%}
        <li class="col-xs-12 col-md-3 col-sm-4">
          <span class="stickie special">Sorry, no jobs listed.</span>
        </li>
      {%- endfor %}
    {%- endif -%}
  </ul>
  {%- if not showall -%}
    <div class="flash info">
      <p>
        You are only seeing jobs listed in the last 24 hours. To see everything,
        <a class="btn btn-primary btn-sm" href="{{ url_for('login') }}">Login with Twitter or Google</a>
      </p>
    </div>
  {%- endif -%}
{% endblock %}
{% block footerscripts %}
<script type="text/javascript">
  $(function() {
    $("#newpost_details").hide();
    $("#newpost_headline").focus(function() {
      $("#newpost_details").slideDown();
    });
  });
</script>
{% endblock %}
