{%- from "macros.html" import stickie %}
{%- from "domain.html" import org_profile with context %}
{% from "baseframe/forms.html" import renderfield, widgetscripts %}
{%- if not request.is_xhr -%}
  {% extends "layout.html" %}
  {% block titletags -%}
    <title>{% block title %}{% if title %}{{ title }} &mdash; {% endif %}{% if g.board %}{{ g.board.title }}{% else %}{{ config['SITE_TITLE'] }}{% endif %}{% endblock %}</title>
    <meta name="DC.title" content="{{ self.title() }}" />
    <meta property="og:title" content="{{ self.title() }}" />
  {%- endblock %}

  {% block pageheaders %}
  {%- if jobtype %}<link rel="alternate" type="application/atom+xml"  title="{{ jobtype.title }} – {{ config['SITE_TITLE']|e }}" href="{{ url_for('feed_by_type', name=jobtype.name) }}" />{% endif -%}
  {%- if jobcategory %}<link rel="alternate" type="application/atom+xml"  title="{{ jobcategory.title }} – {{ config['SITE_TITLE']|e }}" href="{{ url_for('feed_by_category', name=jobcategory.name) }}" />{% endif -%}
  {%- if md5sum %}<link rel="alternate" type="application/atom+xml" title="Jobs at {{ employer_name }} – {{ config['SITE_TITLE'] }}" href="{{ url_for('feed_by_email', md5sum=md5sum) }}" />{% endif -%}
  {%- if domain %}<link rel="alternate" type="application/atom+xml" title="Jobs at {{ employer_name }} – {{ config['SITE_TITLE'] }}" href="{{ url_for('feed_by_domain', domain=domain) }}" />{% endif -%}
  {%- if location %}<link rel="alternate" type="application/atom+xml" title="Jobs in {{ location['use_title'] }} – {{ config['SITE_TITLE'] }}" href="{{ url_for('feed_by_location', location=location['name']) }}" />{% endif -%}
  {% endblock %}
  {% block description %}{% if location and location.description %}{{ location.description|firstline }}{% else %}{{ super() }}{% endif %}{% endblock %}
  {% block hasjob_nav %}
    <div class="header-section">
      <form id="job-filters" action="{{ url_for('search') }}" class="form-inline" role="form">
        <div class="container">
          <div class="filters">
            <select id="job-filters-location" name="l" multiple="multiple" class="job-filters-select2 notselect" placeholder="Location">
              {%- for location in job_locations -%}
                <option value="{{location[0]}}" {% if location[0]|string in request.args.getlist('l') %} selected="selected" {% endif %}>{{location[1]}}</option>
              {%- endfor -%}
            </select>
          </div>
          <div class="filters">
            <select id="job-filters-type" name="t" multiple="multiple" class="job-filters-select2 notselect" placeholder="Job Type">
              {%- for job_type in job_type_choices -%}
                <option value="{{job_type[0]}}" {% if job_type[0]|string in request.args.getlist('t') %} selected="selected" {% endif %}>{{job_type[1]}}</option>
              {%- endfor -%}
            </select>
          </div>
          <div class="filters">
            <select id="job-filters-category" name="c" multiple="multiple" class="job-filters-select2 notselect" placeholder="Job Category">
              {%- for job_category in job_category_choices -%}
                <option value="{{job_category[0]}}" {% if job_category[0]|string in request.args.getlist('c') %} selected="selected" {% endif %}>{{job_category[1]}}</option>
              {%- endfor -%}
            </select>
          </div>
          <div class="filters dropdown">
            <div id="job-filters-pay" data-toggle="dropdown" aria-expanded="true" class="filter-select placeholder-fontcolor">Pay</div>
            <ul class="dropdown-menu pay-filter-dropdown" role="menu" aria-labelledby="job-filters-pay">
              <li class="clearfix">
                <div class="currency-checkbox">
                  <input type="radio" id="job-filters-na" name="currency" value="NA"></input>
                  <label for="job-filters-na">N/A</label>
                </div>
                <div class="currency-checkbox">
                  <input type="radio" id="job-filters-inr" name="currency" value="INR"></input>
                  <label for="job-filters-inr">INR</label>
                </div>
                <div class="currency-checkbox">
                  <input type="radio" id="job-filters-usd" name="currency" value="USD"></input>
                  <label for="job-filters-usd">USD</label>
                </div>
                <div class="currency-checkbox">
                  <input type="radio" id="job-filters-eur" name="currency" value="EUR"></input>
                  <label for="job-filters-eur">EUR</label>
                </div>
              </li>
              <li>
                <div class="pay-filter-slider">
                  <input type="hidden" name="pmin" id="job-filters-pmin">
                  <input type="hidden" name="pmax" id="job-filters-pmax">
                  <div id="pay-slider"></div>
                </div>
              </li>
              <li>
                <input type="checkbox" name="equity" id="job-filters-equity" {% if request.args.get('equity') %} checked="checked" {% endif %} value="1"></input>
                <label for="job-filters-equity">Equity</label>
              </li>
            </ul>
          </div>
          <div class="filters">
            <input id="job-filters-keywords" class="filter-select" type="text" placeholder="Keywords" name="q" value="{{ request.args.q }}"/>
          </div>
          <div class="sumbit-filters">
            <input id='job-filters-submit' type="submit" class="btn btn-default submit-btn" value="Filter"/>
          </div>      
        </div><!--eof container-->
      </form>
    </div><!--eof header-section-->
  {% endblock %}
{% endif %}
{% block content %}{% with gkiosk=g.kiosk, gboard=g.board, guser=g.user, gstarred_ids=g.starred_ids %}
{%- if not request.is_xhr -%}
  {%- if gboard and gboard.not_root %}
    <div class="flash info">
      {{ gboard.description|safe }}
      {%- if gkiosk and g.peopleflow_url %}
        <p>If you find a job worth applying for here, tap your badge on the reader attached to this kiosk and we’ll send an email connecting you with the employer.</p>
      {%- endif %}
    </div>
  {%- endif %}
  {%- if location and location.use_title and location.description %}
    <div class="flash info">
      <h2>{{ location.use_title }}</h2>
      {{ location.description }}
    </div>
  {%- elif location_prompts and not domain %}
    <div class="flash info">
      <p>In {{ location_prompts[0]['use_title'] }}? Filter this view:</p>
      <p class="button-bar">
        {%- for loc in location_prompts %}
          <a class="btn btn-sm btn-default" data-geonameid="{{ loc['geonameid'] }}" href="{{ request.base_url + '?l=' + loc['name']|urlencode }}">{{ loc['picker_title'] }}</a>
        {%- endfor %}
        <a class="btn btn-sm btn-default" href="{{ request.base_url }}?anywhere=1">Anywhere</a>
      </p>
    </div>
  {%- endif %}
  {%- if domain and domain.has_profile %}
    {{ org_profile(domain) }}
  {%- endif %}
  <ul id="stickie-area" class="row">
    {%- if jobtype or jobcategory -%}
      <li class="col-xs-12 col-md-3 col-sm-4">
        <a href="{{ url_for('index') }}" class="stickie special">
          You are viewing
          {% if jobtype %}{{ jobtype.title.lower() }}{% endif %}
          {% if jobcategory %}{{ jobcategory.title.lower() }}{% endif %}
          jobs. View all jobs?
        </a>
      </li>
    {%- elif domain -%}
      {%- if not domain.has_profile %}
        <li class="col-xs-12 col-md-3 col-sm-4">
          <a href="{{ url_for('index') }}" class="stickie special">
            You are viewing jobs at {{ domain.use_title }}. View all jobs?
          </a>
        </li>
      {%- endif -%}
    {%- elif md5sum -%}
      <li class="col-xs-12 col-md-3 col-sm-4">
        <a href="{{ url_for('index') }}" class="stickie special">
          You are viewing jobs at {{ employer_name }}. View all jobs?
        </a>
      </li>
    {%- elif location -%}
      <li class="col-xs-12 col-md-3 col-sm-4">
        <a href="{{ url_for('index') }}" class="stickie special">
          You are viewing jobs in {{ location['use_title'] }}. View all jobs?<!-- Id: {{ location['geonameid'] }} -->
        </a>
      </li>
    {%- elif tag -%}
      <li class="col-xs-12 col-md-3 col-sm-4">
        <a href="{{ url_for('index') }}" class="stickie special">
          You are viewing jobs tagged “{{ tag.title }}”. View all jobs?
        </a>
      </li>
    {%- else -%}
      {%- if (not gkiosk) and ((gboard and 'new-job' in gboard.permissions(guser)) or (not gboard)) -%}
        <li class="col-xs-12 col-md-3 col-sm-4">
          <form id="newpost" action="{{ url_for('newjob')|usessl }}" method="POST" class="stickie special">
            <input type="hidden" name="_charset_"/>
            <input type="hidden" name="form.id" value="newheadline"/>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label class="annotation top-left" for="newpost_headline">Post a job</label>
            {%- if gboard and gboard.newjob_headline -%}
              <textarea id="newpost_headline" name="job_headline" class="form-control" placeholder="{{ gboard.newjob_headline }}"></textarea>
            {%- else -%}
              <textarea id="newpost_headline" name="job_headline" class="form-control" placeholder="Pragmatic programmer wanted at outstanding organisation"></textarea>
            {%- endif -%}
            <div id="newpost_details" class="jshidden"><input type="submit" class="btn btn-default btn-sm" value="Add details…"/></div>
          </form>
        </li>
      {%- endif -%}
    {%- endif -%}
    {%- if search_domains %}
      {%- for domain in search_domains -%}
        <li class="col-xs-12 col-md-3 col-sm-4">
          <a href="{{ domain.url_for() }}" class="stickie org">
            {%- if domain.logo_url -%}
              <img src="{{ domain.logo_url }}" alt="Logo"/><br>
            {%- endif -%}
            {{ domain.use_title }}</a>
        </li>
      {% endfor -%}
    {%- endif -%}
{%- endif -%}
    {%- if grouped %}
      {%- for grouping, group in grouped.items() -%}{%- with pinned, post, is_bgroup=group[0] -%}
        {%- if group|length == 1 -%}
          <li class="col-xs-12 col-md-3 col-sm-4">
            {{ stickie(post, post.url_for(b=is_bgroup), pinned, show_viewcounts=is_siteadmin or guser and guser.flags.is_employer_month, show_pay=is_siteadmin, starred=guser and post.id in gstarred_ids, is_bgroup=is_bgroup) }}
          </li>
        {%- else -%}
          <li class="grouped col-xs-12 col-md-3 col-sm-4">
            {%- if grouping[0] in ['sd', 'nd'] -%}
              {{ stickie(post, url_for('browse_by_domain', domain=grouping[1]), pinned, dataurl=post.url_for(b=is_bgroup), show_viewcounts=is_siteadmin or guser and guser.flags.is_employer_month, show_pay=is_siteadmin, starred=guser and post.id in gstarred_ids, is_bgroup=is_bgroup) }}
            {%- elif grouping[0] in ['se', 'ne'] -%}
              {{ stickie(post, url_for('browse_by_email', md5sum=grouping[1]), pinned, dataurl=post.url_for(b=is_bgroup), show_viewcounts=is_siteadmin or guser and guser.flags.is_employer_month, show_pay=is_siteadmin, starred=guser and post.id in gstarred_ids, is_bgroup=is_bgroup) }}
            {%- endif -%}
            {%- for pinned, post, is_bgroup in group[1:] -%}
              {{ stickie(post, none, false, groupedunder=true, dataurl=post.url_for(b=is_bgroup), show_viewcounts=is_siteadmin or guser and guser.flags.is_employer_month, show_pay=is_siteadmin, starred=guser and post.id in gstarred_ids, is_bgroup=is_bgroup) }}
            {%- endfor -%}
          </li>
        {%- endif %}
      {%- endwith -%}{%- endfor -%}
    {%- else %}
      {%- for pinned, post, is_bgroup in pinsandposts -%}
        <li class="col-xs-12 col-md-3 col-sm-4">
          {{ stickie(post, post.url_for(b=is_bgroup), pinned, show_viewcounts=is_siteadmin or guser and guser.flags.is_employer_month, show_pay=is_siteadmin, starred=guser and post.id in gstarred_ids, is_bgroup=is_bgroup) }}
        </li>
      {%- else -%}
        <li class="col-xs-12 col-md-3 col-sm-4">
          <span class="stickie special">Sorry, no jobs listed.</span>
        </li>
      {%- endfor %}
    {%- endif -%}
    {%- if loadmore -%}
      <form id="loadmore" method="GET" data-appear-top-offset="600">
        <button class="btn btn-default btn-lg" type="submit" name="startdate" value="{{ loadmore.isoformat() }}Z">Load more…</button>
      </form>
    {%- endif -%}
{%- if not request.is_xhr -%}
  </ul>
  {%- if not showall -%}
    <div class="flash info">
      <p>
        You are only seeing jobs listed in the last 24 hours. To see everything,
        <a class="btn btn-primary btn-sm" href="{{ url_for('login') }}">Login with Twitter or Google</a>
      </p>
    </div>
  {%- endif -%}
{%- endif -%}
{%- endwith %}{%- endblock -%}

{%- macro loadmore_script() -%}
  <script type="text/javascript">
    $(function() {
      $(".pstar").off().click(window.Hasjob.JobPost.handleStarClick);
      $("#loadmore").attr('method', 'POST').ajaxForm({
        beforeSubmit: function(formdata, form, options) {
          form.find('button[type="submit"]').prop('disabled', true).addClass('submit-disabled').html('Loading more… <span class="loading">&nbsp;</span>');
          return true;
        },
        success: function(responseText, statusText, xhr, form) {
          target = $("#loadmore").replaceWith(responseText.trim());
        },
        error: function(context, xhr, status, errMsg) {
          var form = $("#loadmore");
          form.find('button[type="submit"]').prop('disabled', false).removeClass('submit-disabled').html('Load more…');
          form.find('.loading').addClass('hidden');
          form.append('<div class="alert alert-danger fade in"><a href="#" class="close" data-dismiss="alert">&times;</a> Could not load more posts. Please try again</div>');
        }
      });
      $("#loadmore").appear().on('appear', function(event, element) {
        element.find('button[type="submit"]').trigger('click');
      });
    });
  </script>
{%- endmacro -%}
{%- block footerscripts -%}
{%- if not request.is_xhr -%}
<script type="text/javascript">
  $(function() {
    $('textarea').autosize();
    $("#newpost_details").hide().removeClass('jshidden');
    $("#newpost_headline").focus(function() {
      $("#newpost_details").slideDown();
    }).keypress(function(event) {
      if(event.which == '13') {
        $(this).closest("form").submit();
        return false;
      }
    }).blur(function() {
      $(this).val($(this).val().replace(/(\r\n|\n|\r)/gm," ").replace(/\s+/g," "));
    });
    
    var setPayTextField = function(currency, pmin, pmax){
      if (currency.toLowerCase() === 'na'){
        $('#job-filters-pay').addClass('placeholder-fontcolor').html('Pay');
      } else {
        $('#job-filters-pay').removeClass('placeholder-fontcolor').html(pmin + ' - ' + pmax);
      }
    }

    // set initial value for the currency radio button
    var presetCurrency = Hasjob.Util.getQueryParam('currency') || 'NA';
    $.each($("input[type='radio'][name='currency']"), function(index, currencyRadio){
      if ($(currencyRadio).val() === presetCurrency) {
        $(currencyRadio).attr('checked', 'checked');
      }
    });
    var getCurrencyVal = function() {
      return $("input[type='radio'][name='currency']:checked").val();
    }
    $("input[type='radio'][name='currency']").on('change',function(){
      setPaySliderVisibility();
      paySlider.resetSlider(getCurrencyVal());
      setPayTextField(getCurrencyVal(), $('#job-filters-pmin').val(), $('#job-filters-pmax').val());
    });

    // prevent the pay filter dropdown from hiding on click
    $('ul.pay-filter-dropdown').click(function(e) {
      e.stopPropagation();
    });

    var setPaySliderVisibility = function(){
      if (getCurrencyVal().toLowerCase() === 'na') {
        $("#pay-slider").hide();
      } else {
        $("#pay-slider").show();
      }
    }
    var paySlider = new Hasjob.PaySlider({
      start: Hasjob.Util.getQueryParam('pmin') || 0, 
      end: Hasjob.Util.getQueryParam('pmax') || 10000000,
      selector: "#pay-slider",
      minField: '#job-filters-pmin',
      maxField: '#job-filters-pmax'
    });
    paySlider.resetSlider(getCurrencyVal());
    $("#pay-slider").on('set', function(){
      setPayTextField(getCurrencyVal(), $('#job-filters-pmin').val(), $('#job-filters-pmax').val());
    });

    setPaySliderVisibility();
    setPayTextField(getCurrencyVal(), $('#job-filters-pmin').val(), $('#job-filters-pmax').val());

    // remove currency formatting before submitting
    $('#job-filters').on('submit', function(e){
      console.log("hello")
      if (getCurrencyVal().toLowerCase() === 'na') {
        $('#job-filters-na').attr('checked', false);
        $('#job-filters-pmin').val('');
        $('#job-filters-pmax').val('');
      } else {
        $('#job-filters-pmin').val(Hasjob.PaySlider.toNumeric($('#job-filters-pmin').val()));
        $('#job-filters-pmax').val(Hasjob.PaySlider.toNumeric($('#job-filters-pmax').val()));
      }
      $.each($('#job-filters-location, #job-filters-pmin, #job-filters-pmax, #job-filters-keywords'), function(index, element){
        if ($(element).val() === '') {
          $(element).attr("disabled", "disabled");
        }
      });
    });
    
    $("#job-filters-location").multiselect();
    $("#job-filters-type").multiselect();
    $("#job-filters-category").multiselect();
  });
</script>
{%- endif -%}
{%- if loadmore -%}
  {{ loadmore_script() }}
{%- endif -%}
{% endblock %}
