{%- from "macros.html" import stickie %}
{%- if not request.is_xhr -%}
  {% extends "layout.html" %}
  {% block titletags -%}
    <title>{% block title %}{% if title %}{{ title }} &mdash; {% endif %}{% if g.board %}{{ g.board.title }}{% else %}{{ config['SITE_TITLE'] }}{% endif %}{% endblock %}</title>
    <meta name="DC.title" content="{{ self.title() }}" />
    <meta property="og:title" content="{{ self.title() }}" />
  {%- endblock %}

  {% block pageheaders %}
  {%- if jobtype %}<link rel="alternate" type="application/atom+xml"  title="{{ jobtype.title }} – {{ config['SITE_TITLE']|e }}" href="{{ url_for('feed_by_type', name=jobtype.name) }}" />{% endif -%}
  {%- if jobcategory %}<link rel="alternate" type="application/atom+xml"  title="{{ jobcategory.title }} – {{ config['SITE_TITLE']|e }}" href="{{ url_for('feed_by_category', name=jobcategory.name) }}" />{% endif -%}
  {%- if md5sum %}<link rel="alternate" type="application/atom+xml" title="Jobs at {{ employer_name }} – {{ config['SITE_TITLE'] }}" href="{{ url_for('feed_by_email', md5sum=md5sum) }}" />{% endif -%}
  {%- if domain %}<link rel="alternate" type="application/atom+xml" title="Jobs at {{ employer_name }} – {{ config['SITE_TITLE'] }}" href="{{ url_for('feed_by_domain', domain=domain) }}" />{% endif -%}
  {%- if location %}<link rel="alternate" type="application/atom+xml" title="Jobs in {{ location['short_title'] }} – {{ config['SITE_TITLE'] }}" href="{{ url_for('feed_by_location', location=location['name']) }}" />{% endif -%}
  {% endblock %}
  {% block description %}{% if location and location.description %}{{ location.description|firstline }}{% else %}{{ super() }}{% endif %}{% endblock %}
  {% block headertoo %}
    <div class="header-section">
      <form id="new-search" action="{{ url_for('search') }}" class="form-inline" role="form">
        <div class="container">
            <div class="filters">
              <select id="location-filter" name="location" multiple="multiple" class="notselect">
                <option value="Bangalore">Bangalore</option>
                <option value="New Delhi">New Delhi</option>
                <option value="Pune">Pune</option>
                <option value="Chennai">Chennai</option>
                <option value="New York">New York</option>
                <option value="Washington">Washington</option>
              </select>
            </div>
            <div class="filters">
              <div class="filter-group category-group">
                <button class="filter-select btn btn-default" title="Type/Category"><span class="filter-text">Type/Category</span><span class="caret"></span></button>
                <ul class="category-filter-dropdown filter-dropdown">
                  <li><p class="category-title">Type</p></li>
                  <li>
                    <input type="checkbox" id="type1" value="Full-time employment" name="t"></input>
                    <label for="type1">Full-time employment</label>
                  </li>
                  <li>
                    <input type="checkbox" id="type2" value="Short-term contract" name="t"></input>
                    <label for="type2">Short-term contract</label>
                  </li>
                  <li>
                    <input type="checkbox" id="type3" value="Freelance or consulting" name="t"></input>
                    <label for="type3">Freelance or consulting</label>
                  </li>
                  <li>
                    <input type="checkbox" id="type4" value="Volunteer contributor" name="t"></input>
                    <label for="type4">Volunteer contributor</label>
                  </li>
                  <li>
                    <input type="checkbox" id="type5" value="Partner for a venture" name="t"></input>
                    <label for="type5">Partner for a venture</label>
                  </li>
                  <li><p class="category-title">Category</p></li>
                  <li>
                    <input type="checkbox" id="category1" value="Programming" name="c"></input>
                    <label for="category1">Programming</label>
                  </li>
                  <li>
                    <input type="checkbox" id="category2" value="Interaction Design" name="c"></input>
                    <label for="category2">Interaction Design</label>
                  </li>
                  <li>
                    <input type="checkbox" id="category3" value="Graphic Design" name="c"></input>
                    <label for="category3">Graphic Design</label>
                  </li>
                  <li>
                    <input type="checkbox" id="category4" value="Testing" name="c"></input>
                    <label for="category4">Testing</label>
                  </li>
                  <li>
                    <input type="checkbox" id="category5" value="Systems Administration" nam="c"></input>
                    <label for="category5">Systems Administration</label>
                  </li>                  
                </ul>
              </div>
            </div>
            <div class="filters">
              <div class="filter-group pay-group">
                <button class="filter-select btn btn-default" title="Pay"><span class="pay-range"></span><span class="filter-text">Pay</span><span class="caret"></span></button>
                <ul class="pay-filter-dropdown filter-dropdown">
                  <li><input type="checkbox" id="pay-salary" value="Pay"></input><label for="pay-salary">Pay</label>
                      <div class="salary-filter-dropdown">
                        <input type="radio" id="salary-inr" name="currency" value="INR"></input><label for="salary-inr">INR</label>
                        <input type="radio" id="salary-usd" name="currency" value="USD"></input><label for="salary-usd">USD</label>
                        <input type="radio" id="salary-eur" name="currency" value="EUR"></input><label for="salary-eur">EUR</label>
                      </div>
                      <div class="pay-filter-slider">
                        <span id="filter_pay_cash_min"></span>
                        <input type="hidden" id="salary-p-min" value="">
                        <span id="filter_pay_cash_max"></span>
                        <input type="hidden" id="salary-p-max" value="">
                        <div id="salary-slider"></div>
                      </div>
                  </li>
                  <li><input type="checkbox" name="equity" id="pay-equity" value="Equity"></input><label for="pay-equity">Equity</label></li>
                </ul>
              </div> 
            </div><!--eof last pay-filter column-->
            <div class="filters">
              <input class="filter-select keyword-search" type="text" placeholder="Find a job…" name="q" value="{{ request.args.q }}"/>
            </div>
            <div class="sumbit-filters">
                  <input type="submit" class="btn btn-default submit-btn" value="Go"/>
            </div>      
        </div><!--eof container-->
    </form>
    </div><!--eof header-section-->
  {% endblock %}
{% endif %}
{% block content %}{% with gkiosk=g.kiosk, gboard=g.board, guser=g.user, gstarred_ids=g.starred_ids %}
{%- if not request.is_xhr -%}
  {%- if gboard and gboard.not_root %}
    <div class="flash info">
      {{ gboard.description|safe }}
      {%- if gkiosk and g.peopleflow_url %}
        <p>If you find a job worth applying for here, tap your badge on the reader attached to this kiosk and we’ll send an email connecting you with the employer.</p>
      {%- endif %}
    </div>
  {%- endif %}
  {%- if location and location.short_title and location.description %}
    <div class="flash info">
      <h2>{{ location.short_title }}</h2>
      {{ location.description }}
    </div>
  {%- endif %}
  <ul id="stickie-area" class="row">
    {%- if jobtype or jobcategory -%}
      <li class="col-xs-12 col-md-3 col-sm-4">
        <a href="{{ url_for('index') }}" class="stickie special">
          You are viewing
          {% if jobtype %}{{ jobtype.title.lower() }}{% endif %}
          {% if jobcategory %}{{ jobcategory.title.lower() }}{% endif %}
          jobs. View all jobs?
        </a>
      </li>
    {%- elif domain -%}
      <li class="col-xs-12 col-md-3 col-sm-4">
        <a href="{{ url_for('index') }}" class="stickie special">
          You are viewing jobs at {{ domain }}. View all jobs?
        </a>
      </li>
    {%- elif md5sum -%}
      <li class="col-xs-12 col-md-3 col-sm-4">
        <a href="{{ url_for('index') }}" class="stickie special">
          You are viewing jobs at {{ employer_name }}. View all jobs?
        </a>
      </li>
    {%- elif location -%}
      <li class="col-xs-12 col-md-3 col-sm-4">
        <a href="{{ url_for('index') }}" class="stickie special">
          You are viewing jobs in {{ location['short_title'] }}. View all jobs?<!-- Id: {{ location['geonameid'] }} -->
        </a>
      </li>
    {%- elif tag -%}
      <li class="col-xs-12 col-md-3 col-sm-4">
        <a href="{{ url_for('index') }}" class="stickie special">
          You are viewing jobs tagged “{{ tag.title }}”. View all jobs?
        </a>
      </li>
    {%- else -%}
      {%- if (not gkiosk) and ((gboard and 'new-job' in gboard.permissions(guser)) or (not gboard)) -%}
        <li class="col-xs-12 col-md-3 col-sm-4">
          <form id="newpost" action="{{ url_for('newjob')|usessl }}" method="POST" class="stickie special">
            <input type="hidden" name="_charset_"/>
            <input type="hidden" name="form.id" value="newheadline"/>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label class="annotation top-left" for="newpost_headline">Post a job</label>
            {%- if gboard and gboard.newjob_headline -%}
              <textarea id="newpost_headline" name="job_headline" class="form-control" placeholder="{{ gboard.newjob_headline }}"></textarea>
            {%- else -%}
              <textarea id="newpost_headline" name="job_headline" class="form-control" placeholder="Pragmatic programmer wanted at outstanding organisation"></textarea>
            {%- endif -%}
            <div id="newpost_details" class="jshidden"><input type="submit" class="btn btn-default btn-sm" value="Add details…"/></div>
          </form>
        </li>
      {%- endif -%}
    {%- endif -%}
{%- endif -%}
    {%- if grouped %}
      {%- for grouping, group in grouped.items() -%}{%- with pinned, post, is_bgroup=group[0] -%}
        {%- if group|length == 1 -%}
          <li class="col-xs-12 col-md-3 col-sm-4">
            {{ stickie(post, post.url_for(b=is_bgroup), pinned, show_viewcounts=is_siteadmin or guser and guser.flags.is_employer_month, show_pay=is_siteadmin, starred=guser and post.id in gstarred_ids, is_bgroup=is_bgroup) }}
          </li>
        {%- else -%}
          <li class="grouped col-xs-12 col-md-3 col-sm-4">
            {%- if grouping[0] in ['sd', 'nd'] -%}
              {{ stickie(post, url_for('browse_by_domain', domain=grouping[1]), pinned, dataurl=post.url_for(b=is_bgroup), show_viewcounts=is_siteadmin or guser and guser.flags.is_employer_month, show_pay=is_siteadmin, starred=guser and post.id in gstarred_ids, is_bgroup=is_bgroup) }}
            {%- elif grouping[0] in ['se', 'ne'] -%}
              {{ stickie(post, url_for('browse_by_email', md5sum=grouping[1]), pinned, dataurl=post.url_for(b=is_bgroup), show_viewcounts=is_siteadmin or guser and guser.flags.is_employer_month, show_pay=is_siteadmin, starred=guser and post.id in gstarred_ids, is_bgroup=is_bgroup) }}
            {%- endif -%}
            {%- for pinned, post, is_bgroup in group[1:] -%}
              {{ stickie(post, none, false, groupedunder=true, dataurl=post.url_for(b=is_bgroup), show_viewcounts=is_siteadmin or guser and guser.flags.is_employer_month, show_pay=is_siteadmin, starred=guser and post.id in gstarred_ids, is_bgroup=is_bgroup) }}
            {%- endfor -%}
          </li>
        {%- endif %}
      {%- endwith -%}{%- endfor -%}
    {%- else %}
      {%- for pinned, post, is_bgroup in pinsandposts -%}
        <li class="col-xs-12 col-md-3 col-sm-4">
          {{ stickie(post, post.url_for(b=is_bgroup), pinned, show_viewcounts=is_siteadmin or guser and guser.flags.is_employer_month, show_pay=is_siteadmin, starred=guser and post.id in gstarred_ids, is_bgroup=is_bgroup) }}
        </li>
      {%- else -%}
        <li class="col-xs-12 col-md-3 col-sm-4">
          <span class="stickie special">Sorry, no jobs listed.</span>
        </li>
      {%- endfor %}
    {%- endif -%}
    {%- if loadmore -%}
      <form id="loadmore" method="GET" data-appear-top-offset="600">
        <button class="btn btn-default btn-lg" type="submit" name="startdate" value="{{ loadmore.isoformat() }}Z">Load more…</button>
      </form>
    {%- endif -%}
{%- if not request.is_xhr -%}
  </ul>
  {%- if not showall -%}
    <div class="flash info">
      <p>
        You are only seeing jobs listed in the last 24 hours. To see everything,
        <a class="btn btn-primary btn-sm" href="{{ url_for('login') }}">Login with Twitter or Google</a>
      </p>
    </div>
  {%- endif -%}
{%- endif -%}
{%- endwith %}{%- endblock -%}

{%- macro loadmore_script() -%}
  <script type="text/javascript">
    $(function() {
      $(".pstar").off().click(window.Hasjob.JobPost.handleStarClick);
      $("#loadmore").attr('method', 'POST').ajaxForm({
        beforeSubmit: function(formdata, form, options) {
          form.find('button[type="submit"]').prop('disabled', true).addClass('submit-disabled').html('Loading more… <span class="loading">&nbsp;</span>');
          return true;
        },
        success: function(responseText, statusText, xhr, form) {
          target = $("#loadmore").replaceWith(responseText.trim());
        },
        error: function(context, xhr, status, errMsg) {
          var form = $("#loadmore");
          form.find('button[type="submit"]').prop('disabled', false).removeClass('submit-disabled').html('Load more…');
          form.find('.loading').addClass('hidden');
          form.append('<div class="alert alert-danger fade in"><a href="#" class="close" data-dismiss="alert">&times;</a> Could not load more posts. Please try again</div>');
        }
      });
      $("#loadmore").appear().on('appear', function(event, element) {
        element.find('button[type="submit"]').trigger('click');
      });
    });
  </script>
{%- endmacro -%}
{%- block footerscripts -%}
{%- if not request.is_xhr -%}
<script type="text/javascript">
  $(function() {
    $('textarea').autosize();
    $("#newpost_details").hide().removeClass('jshidden');
    $("#newpost_headline").focus(function() {
      $("#newpost_details").slideDown();
    }).keypress(function(event) {
      if(event.which == '13') {
        $(this).closest("form").submit();
        return false;
      }
    }).blur(function() {
      $(this).val($(this).val().replace(/(\r\n|\n|\r)/gm," ").replace(/\s+/g," "));
    });
  });
  $(document).ready(function() {
    $('#location-filter').multiselect({
      nonSelectedText: 'Location',
      enableClickableOptGroups: true,
      buttonWidth: '100%',
      numberDisplayed:3,
      onDropdownShow: function(event) {
        if($(".pay-btn-group").hasClass("open")){
          $("#pay-filter-btn").click();
        }
      }
    }); 

    $(".filter-select").click(function(event){
      event.preventDefault();
      var parent_div = $(this).parent("div");
      var other_div = $(".filter-select").not($(this)).parent("div")
      if(other_div.hasClass("open")){
        other_div.removeClass("open");
        other_div.children("ul").hide();
      }
      if(parent_div.hasClass("open"))
      {
        parent_div.removeClass("open");
        parent_div.children("ul").hide();
      }
      else{
        parent_div.addClass("open");
        parent_div.children("ul").show();
      }
    });

    $(document).click(function(e){
      var container1 = $(".category-group");
      var container2 = $(".pay-group");
      if (!container1.is(e.target)&& container1.has(e.target).length === 0 && !container2.is(e.target)&& container2.has(e.target).length === 0)
      {
        if(container1.hasClass("open")) $(".category-group .filter-select").click();
        if(container2.hasClass("open")) $(".pay-group .filter-select").click();
      }
    });
    var filter_text = function(currentfilter) {
      if(currentfilter.find(".filter-dropdown li>input:checked").is(":checked")){
        var counter = 0;
        var selectedval = currentfilter.find('.filter-dropdown li>input:checked').map(function() {
          counter++;
          return this.value;
        }).get();
        if(counter > 2){
          selectedval = counter + " selected";
          currentfilter.find(".filter-select .filter-text").text(selectedval)
        }
        else currentfilter.find(".filter-select .filter-text").text(selectedval);
       }
       else{
        selectedval = currentfilter.find(".filter-select").attr("title")
        currentfilter.find(".filter-select .filter-text").text(selectedval);
       }
    }
    $(".filter-dropdown li>input").on('change', function() {
       filter_text($(this).parents(".filter-group"));
       if($(this).parent("li").hasClass("active"))
       {
          $(this).parent("li").removeClass("active");
          if($(this).val() == "Pay"){
            $(".salary-filter-dropdown").hide();
            $(".pay-filter-slider").hide();
            var btntext = "";
            $(".pay-range").text(btntext);
          }
       }
       else{
          $(this).parent("li").addClass("active");
          if($(this).val() == "Pay"){
            $(".salary-filter-dropdown").show();
            if($('input:radio[name="currency"]:checked').is(":checked")){
              $(".pay-filter-slider").show();
            }
            else{
              $(".pay-filter-slider").hide();
            }
          }
       }
    });

    var cashslider = $("#salary-slider").noUiSlider({
        start: [ 0, 1000000 ],
        step: 1,
        connect: true,
        behaviour: "tap",
        range: {
          'min': [0, 5000],
          '5%':  [100000, 10000],
          '80%': [1000000, 50000],
          '90%': [2000000, 100000],
          'max': [10000000, 1000000],
        },
        format: wNumb({
          decimals: 0,
          thousand: ',',
          prefix: '₹',
          edit: indian_rupee_encoder
        })
      });
    cashslider.Link('lower').to($('#filter_pay_cash_min'));
    cashslider.Link('upper').to($('#filter_pay_cash_max'));

    var indian_rupee_encoder = function(value) {
      value=value.toString();
      value = value.replace(/[^0-9.]/g, '');  // Remove non-digits, assume . for decimals
      var afterPoint = '';
      if (value.indexOf('.') > 0)
        afterPoint = value.substring(value.indexOf('.'), value.length);
      value = Math.floor(value);
      value = value.toString();
      var lastThree = value.substring(value.length - 3);
      var otherNumbers = value.substring(0, value.length - 3);
      if (otherNumbers != '')
          lastThree = ',' + lastThree;
      var res = '₹' + otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree + afterPoint;
      return res;
    };

    var currency_options = function(currency) {
      var start = cashslider.val()[0].slice(1).replace(',', ''),
        end = cashslider.val()[1].slice(1).replace(',', ''),
        prefix = '¤',
        thousand = ',',
        encoder = null;
      switch(currency.val()) {
        case 'INR':
          prefix = '₹';
          // thousand = '';
          encoder = indian_rupee_encoder;
          break;
        case 'USD':
        case 'SGD':
          prefix = '$';
          break;
        case 'EUR':
          prefix = '€';
          break;
        case 'GBP':
          prefix = '£';
          break;
      };
      if (encoder === null) {
        cashslider.noUiSlider({
          start: [start, end],
          format: wNumb({
            decimals: 0,
            thousand: thousand,
            prefix: prefix,
          })
        }, true);
      } else {
        cashslider.noUiSlider({
          start: [start, end],
          format: wNumb({
            decimals: 0,
            thousand: thousand,
            prefix: prefix,
            edit: encoder
          })
        }, true);
      };
      cashslider.Link('lower').to($('#filter_pay_cash_min'));
      cashslider.Link('upper').to($('#filter_pay_cash_max'));
    };
    $('#salary-slider').on('set', function(){
      var selectedvalue = $('input[name="currency"]:checked').val();
      if(selectedvalue){
        if($("#pay-salary").is(":checked")){
        var salarymin = $(this).val()[0].replace(/,/g,"");
        var salarymax = $(this).val()[1].replace(/,/g,"");
          $('#salary-p-min').attr("name","pmin").val(salarymin.substring(1));
          $('#salary-p-max').attr("name","pmax").val(salarymax.substring(1));
          var btntext = $(".pay-range").html();
          btntext = "(" + salarymin +"," + salarymax + ") ";
          $(".pay-range").text(btntext);
        }
      }
    });
    //currency_options($("input[type=radio][name=s]:checked"));
    $("#pay-salary").on('change', function() {
      if(!$(this).is(":checked")){
        $('#salary-p-min').attr("name","");
        $('#salary-p-max').attr("name","");
        $("input[type='radio'][name='currency']:checked").prop('checked', false);
      }
    });
    $("input[type='radio'][name='currency']").on('change', function() {
      currency_options($(this));
      if($('input:radio[name="currency"]:checked').is(":checked")){
        $(".pay-filter-slider").show();
      }
      else{
        $(".pay-filter-slider").hide();
      }
    });

    $("#filter-toggle").click(function(event){
      $("."+$(this).attr("data-target")).slideToggle( "slow" );
    })      

  });
</script>
{%- endif -%}
{%- if loadmore -%}
  {{ loadmore_script() }}
{%- endif -%}
{% endblock %}
