{% from "baseframe/forms.html.jinja2" import ajaxform -%}
<p id="apply-info-para">{{ instructions }}</p>
{%- if job_application %}
  <h3>You have applied for this position</h3>
  <p>
    <strong>Name:</strong> {{ job_application.fullname }}<br>
    <strong>Email:</strong> {{ job_application.email }}<br>
    <strong>Phone:</strong> {{ job_application.phone }}
  </p>
  {{ job_application.message|safe }}
{%- else %}
  {%- if applyform %}
    {% include "inc/applyform.html.jinja2" %}
  {% endif %}
{%- endif %}
