{% extends "baseframe.html" -%}
{% from "baseframe/components.html" import responsive_networkbar with context %}
{% from "macros.html" import campaign_header, campaign_script %}

{% block doctypehtml -%}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" {% block manifest %}{%- if g.kiosk %} manifest="{{ url_for('kiosk_manifest') }}" {%- endif %}{% endblock %}> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" {{ self.manifest() }}> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" {{ self.manifest() }}> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js {%- if g.user %} userlogin {%- else %} no-userlogin {%- endif %}" {{ self.manifest() }}> <!--<![endif]-->
{%- endblock %}

{%- block titletags %}
  <title>{% block title %}{{ title }}{% endblock %} — {% if g.board %}{{ g.board.title }}{% else %}{{ config['SITE_TITLE'] }}{% endif %}</title>
  <meta name="DC.title" content="{{ self.title()|e }}" />
  <meta property="og:title" content="{{ self.title()|e }}" />
{%- endblock %}

{%- block description %}{% if g.board and g.board.description %}{{ g.board.description|firstline }}{% else %}Hasjob is India’s best job board for tech startups{% endif %}{% endblock %}

{% block image_src -%}
  <link rel="image_src" href="{{ url_for('static', filename='img/logo-star.png', _external=true) }}" />
  <meta property="og:image" content="{{ url_for('static', filename='img/logo-star.png', _external=true) }}" />
{%- endblock %}

{%- block layoutheaders %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Walter+Turncoat|McLaren" />
  <link rel="stylesheet" type="text/css" href="//code.cdn.mozilla.net/fonts/fira.css">
  <!-- Feed and search -->
  <link rel="alternate" type="application/atom+xml" title="All jobs – {% if g.board -%} {{ g.board.title }} {%- else -%} {{ config['SITE_TITLE'] }} {%- endif %}" href="{{ url_for('feed') }}" />
  <link rel="search" type="application/opensearchdescription+xml" href="{{ url_for('static', filename='opensearch.xml') }}" title="Hasjob Search" />
  {% block pageheaders %}{% endblock %}
  {%- block twittercards %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@hasjob" />
  {%- endblock %}
{%- endblock %}

{% block headerbox -%}
<header>
  {% block networkbar -%}
    {% if not g.kiosk %}
      {% with links = [] %}
        {%- if g.user and g.user.flags.has_jobpost_unconfirmed_month %}
          {% set links = links + [{'title': "Drafts", 'url': url_for('browse_drafts')}] %}
        {%- endif %}
        {{ responsive_networkbar(siteid=config['SITE_ID'], login=true, links=links) }}
      {% endwith %}
    {%- endif %}
  {%- endblock %}
  <div class="container">
    <h1><a href="{{ url_for('index') }}">
      {%- if g.board -%}
        {{ g.board.title }} <small>
          {%- if g.board.caption -%} {{ g.board.caption }} {%- else -%} Powered by Hasjob {%- endif -%}
        </small>
      {%- else -%}
        Hasjob <small>The HasGeek Job Board</small>
      {%- endif -%}
    </a></h1>
  </div>
  {% block filters %}{% endblock %}
</header>
{%- endblock %}

{% block messages %}
  {%- for category, msg in get_flashed_messages(with_categories=true) %}
    <div class="info-box info-box--{{ category }}"><p>{{ msg }}</p></div>
  {%- endfor %}
{% endblock %}

{% block basecontent -%}
  {%- if header_campaign %}<div id="header-campaign"></div>{% endif %}
  {% block content %}{% endblock %}
  {%- if header_campaign %}{{ campaign_header(g, header_campaign) }}{% endif %}
{%- endblock %}

{% block footer %}
<p>
  {%- if g.kiosk %}
    Hasjob is a service of HasGeek. You are in kiosk mode with a limited view of posts.
  {%- elif g.board and g.board.not_root %}
    Powered by <a href="https://hasjob.co/">Hasjob</a>, a service of <a href="https://hasgeek.com/">HasGeek</a>.
    Subscribe to <a href="{{ url_for('feed') }}">the feed</a> or follow
    <a href="https://twitter.com/hasjob">@hasjob on Twitter</a>
    to find out when new jobs are posted. Hosted by
    <a href="http://e2enetworks.com/">E2E Networks</a>.
  {%- else %}
    Hasjob is a service of <a href="https://hasgeek.com/">HasGeek</a>.
    Subscribe to <a href="{{ url_for('feed') }}">the feed</a> or follow
    <a href="https://twitter.com/hasjob">@hasjob on Twitter</a>
    to find out when new jobs are posted. Hosted by
    <a href="http://e2enetworks.com/">E2E Networks</a>.
  {%- endif %}
  {%- if not g.user and not g.anon_user %}
    <img src="{{ url_for('sniffle') }}" width="1" height="1" alt=""/>
  {%- endif %}
</p>
{% endblock %}

{% block layoutscripts %}
  {%- if header_campaign %}{{ campaign_script() }}{% endif %}
  {% block footerscripts %}{% endblock %}
{% endblock %}
