{%- macro stickie(post, url, pinned, groupedunder=false, dataurl=none, is_siteadmin=false) %}
  {%- if groupedunder %}
    <div class="stickie {%- if post.is_announcement() %} announcement{% endif %} grouped under" {%- if dataurl %} data-href="{{ dataurl }}"{% endif %}>
  {%- else %}
    <a class="stickie {%- if post.is_announcement() %} announcement{% endif %}" href="{{ url }}" rel="bookmark" {%- if dataurl %} data-href="{{ dataurl }}"{% endif %}>
  {%- endif %}
    {%- if pinned %}<span class="pinned">Pinned!</span>{% endif %}
    <span class="annotation top-left">{{ post.location }}</span>
    <span class="annotation top-right">{{ post.datetime|shortdate }}</span>
    <span class="headline">{{ post.headline }}</span>
    {% if is_siteadmin %}<span class="count">{{ post.viewcounts['viewed'] }}&middot;{{ post.viewcounts['opened'] }}&middot;{{ post.viewcounts['applied'] }} &middot; {{ post.viewcounts['pay_label'] }}</span>{% endif %}
    <span class="annotation bottom-right">{{ post.company_name }}</span>
    {%- if post.is_new() -%}
      <span class="new annotation bottom-left">New!</span>
    {%- endif %}
  {%- if groupedunder %}
    </div>
  {%- else %}
    </a>
  {%- endif %}
{%- endmacro %}

{%- macro joblocation(post) %}
  {%- if post.parsed_location %}
    {%- for token in post.parsed_location.get('tokens', []) -%}
      {%- if token['geoname'] -%}
        <a href="{{ url_for('browse_by_location', location=token['geoname'].get('name') or token['geoname'].get('geonameid')) }}">{{ token['token'] }}</a>
      {%- elif token['remote'] -%}
        <a href="{{ url_for('browse_by_anywhere') }}">{{ token['token'] }}</a>
      {%- else -%}
        {{ token['token'] }}
      {%- endif %}
    {%- endfor -%}
  {%- else -%}
    {{ post.location }}
  {%- endif -%}
{%- endmacro %}

{%- macro jobheader(post, kiosk=false, return=false) %}
  {%- if post.company_logo %}
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-sm-push-9 post-company-logo">
        <img alt="Logo" src="{{ url_for('logoimage', hashid=post.hashid) }}"/>
      </div>
      <div class="col-xs-12 col-sm-9 col-sm-pull-3">
  {%- endif %}
    <h1>{{ post.headline }}</h1>
    <p class="post-date">Posted <time datetime="{{ post.datetime.isoformat() }}Z">{{ post.datetime|longdate }}</time>
      {%- if post.user %} by {{ post.user.pickername }}{% endif %}</p>
    <p>
      {% if return %}<a href="{{ post.url_for() }}"><i class="fa fa-angle-left"></i> Post</a> &middot; {% endif -%}
      <a href="{{ post.url_for('browse') }}"><strong>{{ post.company_name }}</strong></a>,
      {% if post.relocation_assist -%}
        <span id="post-location" data-toggle="tooltip" data-placement="bottom" title="Relocation assistance available">{{ joblocation(post) }} <i class="fa fa-truck fa-flip-horizontal"></i></span>
      {%- else -%}
        {{ joblocation(post) }}
      {%- endif %}
      {%- if post.company_url %}
        &middot; {% if kiosk %}{{ post.company_url|cleanurl }}{% else %}<a href="{{ post.company_url }}" target="_blank" rel="nofollow">{{ post.company_url|cleanurl }}</a>{% endif %}
      {%- endif %}
      {% if not post.is_announcement() %}
        &middot; <a href="{{ url_for('browse_by_type', name=post.type.name) }}">{{ post.type.title }}</a>
        &middot; <a href="{{ url_for('browse_by_category', name=post.category.name) }}">{{ post.category.title }}</a>
      {%- endif %}
    </p>
  {%- if post.company_logo %}
      </div>
    </div>
  {%- endif %}
{%- endmacro %}
