{% extends "inc/layout.html" %}
{% from "inc/forms.html" import renderfield %}
{% block title %}{{ post.headline|e }}{% endblock %}
{% block content %}
<div id="sheet">
  <div class="section first">
    <h1>One last step&hellip;</h1>
    <p>
      We sent you an email to confirm your email address.
      Please click on the link within and your job will
      be published. The email also contains information
      on how you may edit or withdraw the job listing.
    </p>
  </div>
  <div class="section">
    <a href="http://metarefresh.in/2013/" title="Meta Refresh 2013"><img id="banner-bottom" src="{{
      url_for('static', filename='img/banner.png') }}" width="170" height="156" alt="Meta Refresh" align="right" /></a>
    <h2>Meet great designers and developers in real life</h2>
    <p>
      Are you hiring a frontend designer or developer?
      <a href="http://metarefresh.in/">Meta Refresh</a>, HasGeek’s annual conference on
      the design and engineering behind great UI on the web is this February. Sponsor
      the event to get your name in front of hundreds of great designers and developers.
    </p>
    <p>
      Sponsorship details are at <a href="http://metarefresh.in/">metarefresh.in</a>.
    </p>
  </div>
</div>
{% endblock %}
