{% extends "layout.html" %}
{% from "inc/forms.html" import renderfield %}
{% block title %}{{ post.headline|e }}{% endblock %}
{% block content %}
<div id="sheet">
  <div class="section first">
    <h1>One last step&hellip;</h1>
    <p>
      We sent you an email to confirm your email address.
      Please click on the link within and your job will
      be published. The email also contains information
      on how you may edit or withdraw the job listing.
    </p>
  </div>
  <div class="section">
    <p>
      Does your organization build mobile apps? Please take our
      <a href="https://survey.hasgeek.com/survey/index?sid=842153&amp;lang=en">survey on intellectual property rights</a>.
    </p>
  </div>
{#
  <div class="section">
    <a href="https://droidcon.in/2013/" title="Droidcon India 2013"><img id="banner-bottom" src="{{
      url_for('static', filename='img/banner.png') }}" width="170" height="156" alt="Droidcon India" align="right" /></a>
    <h2>Meet Android developers in real life</h2>
    <p>
      Are you hiring an Android developer?
      <a href="https://droidcon.in/2013/">Droidcon India</a>, HasGeek’s annual conference on 
      Android is this November. Droidcon is India’s largest gathering of Android enthusiasts.
    </p>
  </div>
#}
</div>
{% endblock %}
