{
  "name": {% if g.board %}"{{ g.board.title }}"{% else %}"Hasjob"{% endif %},
  "short_name": {% if g.board %}"{{ g.board.title}}"{% else %}"Hasjob"{% endif %},
  "description": {% if g.board and g.board.description %}"{{ g.board.description|firstline }}"{% else %}"Hasjob is India’s best job board for tech startups"{% endif %},
  "scope":"/",
  "theme_color": "#816894",
  "background_color": "#FFFFFF",
  "display": "standalone",
  "orientation": "portrait",
  "start_url": "/",
  "icons": [
    {
      "src": "/static/img/android-chrome-192x192.png",
      "sizes": "192x192",
      "type": "image/png"
    },
    {
      "src": "/static/img/android-chrome-512x512.png",
      "sizes": "512x512",
      "type": "image/png"
    }
  ]
}
