{% extends "inc/email_layout.html.jinja2" %}
{% block innercontent %}
  <div itemscope itemtype="http://schema.org/EmailMessage">
  	<div itemprop="action" itemscope itemtype="http://schema.org/ViewAction">
  		<meta itemprop="name" content="Edit Job Post"/>
  		<link itemprop="url" href="{{ post.url_for(_external=true) }}"/>
  	</div>
  	<meta itemprop="description" content="Your post has been temporarily de-listed by a moderator. Please edit your job post."/>
  	<div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
  	    <meta itemprop="name" content="Hasjob"/>
  	    <link itemprop="url" href="{{ url_for('index', subdomain=none, _external=true) }}"/>
  	</div>
  </div>
  <p>Hi {{ post.company_name }},</p>
  <p>This is regarding your job post on Hasjob titled "<strong><a href='{{ post.url_for(_external=true) }}'>{{ post.headline }}</a></strong>".</p>
  <p>Your post has been temporarily de-listed by moderator {{ post.reviewer.fullname }}, who left the following comment. Please <a href="{{ post.url_for('edit', _external=true) }}">edit the post</a> and correct the indicated issue. A warning notice will appear on your post until you edit it:</p>
  <hr>
  <p>{{ post.review_comments }}</p>
  <hr>
  <p><a href="{{ url_for('index', subdomain=none, _external=true) }}">Hasjob</a> is a service of <a href="https://hasgeek.com/">HasGeek</a>. Write to us at <a href="mailto:{{ config['SUPPORT_EMAIL'] }}">{{ config['SUPPORT_EMAIL'] }}</a> if you have suggestions or questions on this service.</p>
{% endblock %}
