{% extends "layout.html.jinja2" %}
{% block title %}Not Implemented{% endblock %}
{% block pageheaders %}
{% endblock %}
{%block content %}
  <div id="main-40x">
    <div class="stickie" id="stickie-40x">
      <a href="{{ url_for('index') }}">
        <div id="i40x-message">
          Sorry, that feature is yet to be implemented.
        </div>
      </a>
    </div>
  </div>
{% endblock %}