{% extends "layout.html.jinja2" %}
{% block title %}Offline{% endblock %}
{% block pageheaders %}
{% endblock %}
{%block content %}
  <div id="main-40x">
    <div class="stickie" id="stickie-40x">
  	  <div id="i40x" class="offline">
  	    <span class="i4">o</span><span class="i0">f</span><span class="i4">f</span><span class="i0">l</span><span class="i4">i</span><span class="i0">n</span><span class="i4">e</span>
  	  </div>
  	  <div id="i40x-message">
  	    Oops, looks like you're offline!
  	  </div>
    </div>
  </div>
{% endblock %}