{% extends "layout.html.jinja2" %}
{% block title %}Offline{% endblock %}
{% block pageheaders %}
{% endblock %}
{%block content %}
  <ul id="stickie-area" class="row">
	<li class="col-xs-12 col-md-3 col-sm-4">
		<span class="stickie special">Oops, looks like you're offline!</span>
	</li>
  </ul>
{% endblock %}