{% extends "inc/layout.html" %}
{% from "inc/forms.html" import renderfield %}
{% block title %}List a job{% endblock %}
{% block content %}
<div id="sheet">
  <div class="section first">
    <h1>
      {{ self.title()|e }}
    </h1>
    <p class="caption">
      HasGeek reaches out to thousands of developers via events, blogs and discussion groups.
      Job listings made here will be shown across the network. Listings are valid for 30 days.
      Each job listing must be for <strong>one position only</strong> and must comply with the
      <a href="{{ url_for('terms_of_service') }}" target="_blank">terms of service</a>.
    </p>
  </div>
  <form id="newjob" enctype="multipart/form-data" method="POST">
    <input type="hidden" name="_charset_"/>
    <input type="hidden" name="form.id" value="newjob"/>
    {{ form.hidden_tag() }}
    <div class="section">
      {% if form.csrf_token.errors %}
        <div class="error">This page timed out. Please submit again to confirm everything is all right</div>
      {% endif %}
      <h2>First, tell us about the position</h2>
      {{ renderfield(form.job_headline, "small", autofocus=True) }}
      {{ renderfield(form.job_type, "small") }}
      {{ renderfield(form.job_category, "small") }}
      {{ renderfield(form.job_location, "small") }}
      {{ renderfield(form.job_relocation_assist, "small") }}
      {{ renderfield(form.job_description, "wide", widget_css_class="tinymce") }}
      {{ renderfield(form.job_perks, "check") }}
      {{ renderfield(form.job_perks_description, "wide", widget_css_class="tinymce") }}
      {{ renderfield(form.job_how_to_apply, "wide") }}
    </div>
    <div class="section">
      <h2>Next, tell us about your company</h2>
      {{ renderfield(form.company_name, "small") }}
      {{ renderfield(form.company_logo, "small") }}
      {% if not no_removelogo %}{{ renderfield(form.company_logo_remove, "small") }}{% endif %}
      {{ renderfield(form.company_url, "small") }}
      {%- if not no_email %}
        {#{{ renderfield(form.poster_name, "small") }}-#} {# Deprecated 2013-11-20 -#}
        {{ renderfield(form.poster_email, "small") }}
      {%- endif %}
      {{ renderfield(form.collaborators, "wide") }}
      {{ renderfield(form.hr_contact, "widelist") }}
      <p>
        <strong>Warning:</strong> Many recruiters will ignore your preference and contact you anyway.
        Do not reveal your phone number in the listing. If you receive an email, please report it
        and we will block their account
      </p>
      <input type="submit" value="Review your job listing &rarr;"/>
    </div>
  </form>
</div>
{% endblock %}
{% block footerscripts %}
  {% assets "js_tinymce" %}<script src="{{ ASSET_URL }}" type="text/javascript"></script>{% endassets %}
  <script type="text/javascript">
    $(function() {
      if (! $("#job_perks").is(":checked")) {
        $("#field-job_perks_description").hide();
      };
      $("#job_perks").click(function() {
        if ($(this).is(":checked")) {
          $("#field-job_perks_description").slideDown();
        } else {
          $("#field-job_perks_description").slideUp();
        };
      });
      radioHighlight('job_type', 'selected');
      radioHighlight('job_category', 'selected');
      radioHighlight('hr_contact', 'selected');
    });
    {% include "inc/tinymce.js" %}

    $("#collaborators").select2({
      placeholder: "Search for a user",
      multiple: true,
      minimumInputLength: 2,
      ajax: {
        url: {{ getuser_autocomplete|tojson }},
        dataType: "jsonp",
        data: function(term, page) {
          return {
            q: term
          };
        },
        results: function(data, page) {
          var rdata = [];
          if (data.status == 'ok') {
            for (var i=0; i < data.users.length; i++) {
              rdata.push({
                id: data.users[i].buid, text: data.users[i].label
              });
            };
          };
          return {more: false, results: rdata};
        }
      },
      initSelection: function(element, callback) {
        var val = $(element).val();
        if (val != '') {
          var qs = '?userid=' + val.replace(/,/g, '&userid=');
          $.ajax({{ getuser_userids|tojson }} + qs, {
            accepts: "application/json",
            dataType: "jsonp",
          }).done(function(data) {
            $(element).val('');  // Clear it in preparation for incoming data
            var rdata = [];
            if (data.status == 'ok') {
              for (var i=0; i < data.results.length; i++) {
                rdata.push({
                  id: data.results[i].buid, text: data.results[i].label
                });
              };
            };
            callback(rdata);
          });
        }
      }
    });
  </script>
{% endblock %}
