{% extends "inc/layout.html" %}
{% from "inc/forms.html" import renderfield %}
{% block title %}List a job{% endblock %}
{% block content %}
<div id="sheet">
  <div class="section first">
    <h1>
      {{ self.title()|e }}
    </h1>
    <p class="caption">
      HasGeek reaches out to thousands of developers via events, blogs and discussion groups.
      Job listings made here will be shown across the network. Listings are valid for 30 days.
      Each job listing must be for <strong>one position only</strong> and must comply with the
      <a href="{{ url_for('terms_of_service') }}" target="_blank">terms of service</a>.
    </p>
  </div>
  <form id="newjob" enctype="multipart/form-data" method="POST">
    <input type="hidden" name="_charset_"/>
    <input type="hidden" name="form.id" value="newjob"/>
    {{ form.hidden_tag() }}
    <div class="section">
      {% if form.csrf_token.errors %}
        {% for error in form.csrf_token.errors %}<div class="error">{{ error }}</div>{% endfor %}
      {% endif %}
      <h2>First, tell us about the position</h2>
      {{ renderfield(form.job_headline, "small", autofocus=True) }}
      {{ renderfield(form.job_type, "small") }}
      {{ renderfield(form.job_category, "small") }}
      {{ renderfield(form.job_location, "small") }}
      {{ renderfield(form.job_relocation_assist, "small") }}
      {{ renderfield(form.job_description, "wide", widget_css_class="tinymce") }}
      {{ renderfield(form.job_perks, "check") }}
      {{ renderfield(form.job_perks_description, "wide", widget_css_class="tinymce") }}
      {{ renderfield(form.job_how_to_apply, "wide") }}
    </div>
    <div class="section">
      <h2>Tell us about your company</h2>
      {{ renderfield(form.company_name, "small") }}
      {{ renderfield(form.company_logo, "small") }}
      {% if not no_removelogo %}{{ renderfield(form.company_logo_remove, "small") }}{% endif %}
      {{ renderfield(form.company_url, "small") }}
      {{ renderfield(form.hr_contact, "widelist") }}
      <p>
        <strong>Warning:</strong> Many recruiters will ignore your preference and contact you anyway.
        DO NOT reveal phone numbers or your own email address. Use an alias such as jobs@ or hr@ that
        you can filter to ignore pesky recruiters
      </p>
      {%- if not no_email %}
        </div>
        <div class="section">
          <h2>A little about yourself</h2>
          {{ renderfield(form.poster_name, "small") }}
          {{ renderfield(form.poster_email, "small") }}
      {%- endif %}
      <input type="submit" value="Review your job listing &rarr;"/>
    </div>
  </form>
</div>
{% endblock %}
{% block footerscripts %}
{% assets "js_tinymce" %}<script src="{{ ASSET_URL }}" type="text/javascript"></script>{% endassets %}
<script type="text/javascript">
  $(function() {
    if (! $("#job_perks").is(":checked")) {
      $("#field-job_perks_description").hide();
    };
    $("#job_perks").click(function() {
      if ($(this).is(":checked")) {
        $("#field-job_perks_description").slideDown();
      } else {
        $("#field-job_perks_description").slideUp();
      };
    });
    radioHighlight('job_type', 'selected');
    radioHighlight('job_category', 'selected');
    radioHighlight('hr_contact', 'selected');
  });

  {%- if config['TYPEKIT_CODE'] %}
  // From https://gist.github.com/Zae/3742398
  (function() {
    tinymce.create('tinymce.plugins.typekit', {
      init: function(ed, url) {
        ed.onPreInit.add(function(ed) {

          // Get the DOM document object for the IFRAME
          var doc = ed.getDoc();

          // Create the script we will add to the header asynchronously
          var jscript = "(function() {\n\
            var config = {\n\
              kitId: '{{ config['TYPEKIT_CODE'] }}'\n\
            };\n\
            var d = false;\n\
            var tk = document.createElement('script');\n\
            tk.src = '//use.typekit.com/' + config.kitId + '.js';\n\
            tk.type = 'text/javascript';\n\
            tk.async = 'true';\n\
            tk.onload = tk.onreadystatechange = function() {\n\
              var rs = this.readyState;\n\
              if (d || rs && rs != 'complete' && rs != 'loaded') return;\n\
              d = true;\n\
              try { Typekit.load(config); } catch (e) {}\n\
            };\n\
            var s = document.getElementsByTagName('script')[0];\n\
            s.parentNode.insertBefore(tk, s);\n\
          })();";

          // Create a script element and insert the TypeKit code into it
          var script = doc.createElement("script");
          script.type = "text/javascript";
          script.text = jscript;

          // Add the script to the header
          doc.getElementsByTagName('head')[0].appendChild(script);

        });

      },
      getInfo: function() {
        return {
          longname: 'TypeKit For TinyMCE',
          author: 'Tom J Nowell',
          authorurl: 'http://tomjn.com/',
          infourl: 'http://twitter.com/tarendai',
          version: "1.1"
        };
      }
    });
    tinymce.PluginManager.add('typekit', tinymce.plugins.typekit);
  })();
  {%- endif %}

  $(function() {
  	tinymce.init({
      selector: 'textarea.tinymce',
      {#
      // Location of TinyMCE script
      script_url : '{{ url_for("baseframe.static", filename="js/tiny_mce/tiny_mce.js") }}',
      #}

      // General options
      theme : "advanced",
      plugins : "typekit",

  		// Theme options
      theme_advanced_buttons1 : "bold,italic,|,bullist,numlist,|,outdent,indent,|,link,unlink",
      theme_advanced_buttons2 : "",
      theme_advanced_buttons3 : "",
      theme_advanced_toolbar_location : "top",
      theme_advanced_toolbar_align : "left",
      theme_advanced_statusbar_location : "bottom",
      theme_advanced_resizing : true,
      theme_advanced_path : false,

      valid_elements : "p,br,strong/b,em/i,ul,ol,li,a[!href|title|target]",
      width: "730",
      height: "400",
  		// Content CSS
      content_css : "{{ url_for('static', filename='css/editor.css') }}"
      
  	});
  });
</script>
{% endblock %}
