{% extends "sheet.html" %}
{% from "baseframe/forms.html" import renderfield, rendersubmit, widgetscripts %}
{% block title %}List a job{% endblock %}
{% block content %}
  <div class="sheet">
    <div class="section first">
      <div class="page-header"><h1>
        {{ self.title()|e }}
      </h1></div>
      {% if g.board and g.board.newjob_blurb %}
        {{ g.board.newjob_blurb|safe }}
      {%- else %}
        <p>
          Hasjob is visited by thousands of developers every month. Posts are valid for 30 days.
        </p>
        <p>
          <strong>Attention, recruiters:</strong> You may NOT use this site to post
          jobs on behalf of your clients. We accept posts for your own firm only. Please read the
          <a href="{{ url_for('terms_of_service') }}" target="_blank">terms of service</a> and ask your
          clients to list for themselves.
        </p>
      {%- endif %}
    </div>
    <form id="newjob" class="form-horizontal" enctype="multipart/form-data" method="POST">
      <input type="hidden" name="_charset_"/>
      <input type="hidden" name="form.id" value="newjob"/>
      {{ form.hidden_tag() }}
      <div class="section">
        <h2>First, tell us about the position</h2>
        {{ renderfield(form.job_headline, widget_css_class="field-title", autofocus=true) }}
        {{ renderfield(form.job_type) }}
        {{ renderfield(form.job_category) }}
        {{ renderfield(form.job_location) }}
        {{ renderfield(form.job_relocation_assist) }}
        {{ renderfield(form.job_description, style="wide") }}
        {{ renderfield(form.job_perks, style="wide") }}
        {{ renderfield(form.job_perks_description, style="wide") }}
        <div class="row">
          <div class="col-xs-7 col-sm-6">
            {{ renderfield(form.job_pay_type, style="horizlist") }}
          </div>
          <div class="col-xs-5 col-sm-6">
            {{ renderfield(form.job_pay_currency, style="horizlist") }}
          </div>
        </div>
        <div id="nopay-alert" class="alert alert-warning hidden">
          We’ll let candidates know there is no cash compensation
        </div>
        <div id="field-cashslider">
          <div id="recurring-alert" class="alert alert-info hidden">
            For recurring pay (a salary), please specify an <strong>annual</strong> range
          </div>
          <div class="row form-group">
            <div class="col-xs-3 col-sm-2">{{ form.job_pay_cash_min(class="form-control input-xs-small") }}</div>
            <div class="col-xs-6 col-sm-8 sliderholder"><div id="cashslider"></div></div>
            <div class="col-xs-3 col-sm-2">{{ form.job_pay_cash_max(class="form-control input-xs-small") }}</div>
          </div>
          {% for error in form.job_pay_cash_min.errors %}<div class="help-error">{{ error }}</div>{% endfor %}
          {% for error in form.job_pay_cash_max.errors %}<div class="help-error">{{ error }}</div>{% endfor %}
        </div>
        
        {{ renderfield(form.job_pay_equity, style="wide") }}
        <div id="field-equityslider">
          <div class="row form-group">
            <div class="col-xs-3 col-sm-2">{{ form.job_pay_equity_min(class="form-control") }}</div>
            <div class="col-xs-6 col-sm-8 sliderholder"><div id="equityslider"></div></div>
            <div class="col-xs-3 col-sm-2">{{ form.job_pay_equity_max(class="form-control") }}</div>
          </div>
          {% for error in form.job_pay_equity_min.errors %}<div class="help-error">{{ error }}</div>{% endfor %}
          {% for error in form.job_pay_equity_max.errors %}<div class="help-error">{{ error }}</div>{% endfor %}
        </div>
        <p class="help-block">
          Pay data is <em>not</em> revealed to candidates. This data is for an upcoming feature to
          promote this job to relevant candidates
        </p>
        {{ renderfield(form.job_how_to_apply, style="wide") }}
      </div>
      <div class="section">
        <h2>Next, tell us about your organization</h2>
        {{ renderfield(form.company_name, widget_css_class="field-title") }}
        {{ renderfield(form.company_logo) }}
        {% if not no_removelogo %}{{ renderfield(form.company_logo_remove) }}{% endif %}
        {{ renderfield(form.company_url) }}
        {%- if no_email %}
          <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="poster_email">Email</label>
            <div class="col-xs-12 col-sm-9 col-md-10 controls">
              <input class="form-control" id="poster_email" type="text" value="{{ form.poster_email.data }}" disabled />
              <p class="help-block">You cannot change the email address of a published post</p>
            </div>
          </div>
        {%- else %}
          {#{{ renderfield(form.poster_name) }}-#} {# Deprecated 2013-11-20 -#}
          {{ renderfield(form.poster_email) }}
          {%- if g.user %}
            <p>
              Only you, <strong>{{ g.user.fullname }}</strong>, will be able to respond to candidates.
              To allow others to respond, add them as a collaborator.
            </p>
          {%- endif %}
        {%- endif %}
        {{ renderfield(form.collaborators) }}
        {{ renderfield(form.hr_contact, style="widelist") }}
        <p>
          <strong>Warning:</strong> Many recruiters will ignore your preference and contact you anyway.
          Do not reveal your phone number in the post. If you receive an email, please report it
          and we will block their account
        </p>
        {{ rendersubmit([(None, "Review your post…", 'btn-primary')], style="wide", csrf_error=form.csrf_token.errors) }}
      </div>
    </form>
  </div>
{% endblock %}
{% block footerscripts %}
  {% assets "js_tinymce" %}<script src="{{ ASSET_URL }}" type="text/javascript"></script>{% endassets %}
  <script type="text/javascript">
    $(function() {
      $('textarea').autosize();
      if (! $("#job_perks").is(":checked")) {
        $("#field-job_perks_description").hide();
      };
      $("#job_perks").click(function() {
        if ($(this).is(":checked")) {
          $("#field-job_perks_description").slideDown();
        } else {
          $("#field-job_perks_description").slideUp();
        };
      });
      var removeLineBreaks = function(text) {
        return text.replace(/(\r\n|\n|\r)/gm," ").replace(/\s+/g," ");
      };
      $("#job_how_to_apply").keypress(function(event) {
        if(event.which == '13') {
          return false;
        }
      }).blur(function() {
        $(this).val(removeLineBreaks($(this).val()));
      });
      var cashslider = $("#cashslider").noUiSlider({
        start: [{{ (form.job_pay_cash_min.data or 0)|tojson }}, {{ (form.job_pay_cash_max.data or 10000000)|tojson }}],
        step: 1,
        connect: true,
        behaviour: "tap",
        range: {
          'min': [0, 5000],
          '5%':  [100000, 10000],
          '80%': [1000000, 50000],
          '90%': [2000000, 100000],
          'max': [10000000, 1000000],
        },
        format: wNumb({
          decimals: 0,
          thousand: ',',
          prefix: '¤'
        })
      });
      cashslider.Link('lower').to($('#job_pay_cash_min'))
      cashslider.Link('upper').to($('#job_pay_cash_max'))
      /*
        serialization: {
          lower: [
            new $.noUiSlider.Link({
              target: $("#job_pay_cash_min")
            })
          ],
          upper: [
            new $.noUiSlider.Link({
              target: $("#job_pay_cash_max")
            })
          ],
          format: {
            decimals: 0,
            thousand: ',',
            prefix: '¤'
          }
        }
      */

      var equityslider = $("#equityslider").noUiSlider({
        start: [{{ (form.job_pay_equity_min.data or 0)|tojson }}, {{ (form.job_pay_equity_max.data or 100)|tojson }}],
        step: 0.1,
        connect: true,
        behaviour: "tap",
        range: {
          'min': 0,
          'max': 100
        },
        format: wNumb({
          decimals: 1,
          postfix: '%'
        })
      });
      $('#equityslider').Link('lower').to($('#job_pay_equity_min'));
      $('#equityslider').Link('upper').to($('#job_pay_equity_max'));
      /*
        serialization: {
          lower: [
            new $.noUiSlider.Link({
              target: $("#job_pay_equity_min")
            })
          ],
          upper: [
            new $.noUiSlider.Link({
              target: $("#job_pay_equity_max")
            })
          ],
          format: {
            decimals: 1,
            postfix: '%'
          }
        }
      */
      $("#job_pay_cash_min").keydown(function(e) {
        // Convert the string to a number.
        var value = Number(cashslider.val()[0].slice(1).replace(',', ''));
        console.log(value);
        // 38 is key up,
        // 40 is key down.
        switch ( e.which ) {
          case 38:
            cashslider.val([value + 10, null]);
            e.preventDefault();
            break;
          case 40:
            cashslider.val([value - 10, null]);
            e.preventDefault();
            break;
        };
      });
      $("#job_pay_cash_max").keydown(function(e) {
        // Convert the string to a number.
        var value = Number(cashslider.val()[1].slice(1).replace(',', ''));
        console.log(value);
        // 38 is key up,
        // 40 is key down.
        switch ( e.which ) {
          case 38:
            cashslider.val([null, value + 10]);
            e.preventDefault();
            break;
          case 40:
            cashslider.val([null, value - 10]);
            e.preventDefault();
            break;
        };
      });
      $("#job_pay_equity_min").keydown(function(e) {
        // Convert the string to a number.
        var value = Number(equityslider.val()[0].slice(0, -1));
        // 38 is key up,
        // 40 is key down.
        switch ( e.which ) {
          case 38:
            equityslider.val([value + 0.1, null]);
            e.preventDefault();
            break;
          case 40:
            equityslider.val([value - 0.1, null]);
            e.preventDefault();
            break;
        };
      });
      $("#job_pay_equity_max").keydown(function(e) {
        // Convert the string to a number.
        var value = Number(equityslider.val()[1].slice(0, -1));

        // 38 is key up,
        // 40 is key down.
        switch ( e.which ) {
          case 38:
            equityslider.val([null, value + 0.1]);
            e.preventDefault();
            break;
          case 40:
            equityslider.val([null, value - 0.1]);
            e.preventDefault();
            break;
        };
      });

      var indian_rupee_encoder = function(value) {
        value=value.toString();
        value = value.replace(/[^0-9.]/g, '');  // Remove non-digits, assume . for decimals
        var afterPoint = '';
        if (value.indexOf('.') > 0)
          afterPoint = value.substring(value.indexOf('.'), value.length);
        value = Math.floor(value);
        value = value.toString();
        var lastThree = value.substring(value.length - 3);
        var otherNumbers = value.substring(0, value.length - 3);
        if (otherNumbers != '')
            lastThree = ',' + lastThree;
        var res = '₹' + otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree + afterPoint;
        return res;
      }

      var currency_options = function(currency) {
        var start = cashslider.val()[0].slice(1).replace(',', ''),
          end = cashslider.val()[1].slice(1).replace(',', ''),
          prefix = '¤',
          thousand = ',',
          encoder = null;
        switch(currency.val()) {
          case 'INR':
            prefix = '₹';
            // thousand = '';
            encoder = indian_rupee_encoder;
            break;
          case 'USD':
          case 'SGD':
            prefix = '$';
            break;
          case 'EUR':
            prefix = '€';
            break;
          case 'GBP':
            prefix = '£';
            break;
        };
        if (encoder === null) {
          cashslider.noUiSlider({
            start: [start, end],
            format: wNumb({
              decimals: 0,
              thousand: thousand,
              prefix: prefix,
            })
          }, true);
        } else {
          cashslider.noUiSlider({
            start: [start, end],
            format: wNumb({
              decimals: 0,
              thousand: thousand,
              prefix: prefix,
              edit: encoder
            })
          }, true);
        }
        cashslider.Link('lower').to($('#job_pay_cash_min'))
        cashslider.Link('upper').to($('#job_pay_cash_max'))
        /*
          serialization: {
            lower: [
              new $.noUiSlider.Link({
                // TODO: Figure out encoder+decoder at http://refreshless.com/nouislider/number-formatting
                target: $("#job_pay_cash_min")
                // target: function(val) {
                //   $("#job_pay_cash_min").val(val.lastIndexOf('₹', 0) === 0 ? indian_rupee_encoder(val.substr(1)) : val);
                // }
              })
            ],
            upper: [
              new $.noUiSlider.Link({
                target: $("#job_pay_cash_max")
                // target: function(val) {
                //   $("#job_pay_cash_max").val(val.lastIndexOf('₹', 0) === 0 ? indian_rupee_encoder(val.substr(1)) : val);
                // }
              })
            ],
        */
      };
      currency_options($("input[type=radio][name=job_pay_currency]:checked"));
      $("input[type=radio][name=job_pay_currency]").on('change', function() {
        currency_options($(this));
      })
      // Set initial state of pay currency
      $(".alert.hidden").hide().removeClass('hidden');
      switch($("input[type=radio][name=job_pay_type]:checked").val()) {
        case '-1':
          $("#nopay-alert").hide();
          $("#field-job_pay_currency").hide();
          $("#field-cashslider").hide();
          break;
        case '0':
          $("#nopay-alert").show();
          $("#field-job_pay_currency").hide();
          $("#field-cashslider").hide();
          break;
        case undefined:
          $("#field-job_pay_currency").hide();
          $("#field-cashslider").hide();
          break;
        case '1':
          $("#nopay-alert").hide();
          $("#recurring-alert").hide();
          $("#field-job_pay_currency").show();
          $("#field-cashslider").show();
          break;
        case '2':
          $("#nopay-alert").hide();
          $("#recurring-alert").show();
          $("#field-job_pay_currency").show();
          $("#field-cashslider").show();
          break;
      };
      // Update pay currency
      $("input[type=radio][name=job_pay_type]").on('change', function() {
        switch($(this).val()) {
          case '-1':
            $("#nopay-alert").slideUp();
            $("#recurring-alert").slideUp();
            $("#field-job_pay_currency").hide();
            $("#field-cashslider").slideUp();
            break;
          case '0':
            $("#nopay-alert").slideDown();
            $("#recurring-alert").slideUp();
            $("#field-job_pay_currency").hide();
            $("#field-cashslider").slideUp();
            break;
          case '1':
            $("#nopay-alert").slideUp();
            $("#recurring-alert").slideUp();
            $("#field-job_pay_currency").show();
            $("#field-cashslider").slideDown();
            break;
          case '2':
            $("#nopay-alert").slideUp();
            $("#recurring-alert").slideDown();
            $("#field-job_pay_currency").show();
            $("#field-cashslider").slideDown();
            break;
        };
      });
      if (! $("#job_pay_equity").is(":checked")) {
        $("#field-equityslider").hide();
      };
      $("#job_pay_equity").click(function() {
        if ($(this).is(":checked")) {
          $("#field-equityslider").slideDown();
        } else {
          $("#field-equityslider").slideUp();
        };
      });
      {{ widgetscripts(form, script=false) }}
    });
  </script>
{% endblock %}
