{% extends "inc/email_layout_lite.html" %}

{% block content %}
  <p>Hi {{ post.company_name }},</p>
  <p>This is regarding your job post on Hasjob titled "<strong>{{ post.headline }}</strong>". Unfortunately, your post is in violation of our <a href="{{ url_for('terms_of_service', _external=true) }}">Terms of Service</a> and has been <strong>banned</strong>. As a result all the job posts under the same domain has been taken down and your user account has been banned too. Your post was reviewed by {{ post.reviewer.fullname }}, who left the following comment:</p>
  <p>"<strong>{{ post.review_comments }}</strong>"</p>
  <p>Here is a list of all the jobs posts that have been taken down:</p>
  <ul>
    {% for jobpost in post.domain.jobposts %}
    <li>{{ jobpost.headline }}</li>
    {% endfor %}
  </ul>
  <hr>
  <p><a href="{{ url_for('index', subdomain=none, _external=true) }}">Hasjob</a> is a service of <a href="https://hasgeek.com/">HasGeek</a>. Write to us at <a href="mailto:{{ config['SUPPORT_EMAIL'] }}">{{ config['SUPPORT_EMAIL'] }}</a> if you have suggestions or questions on this service.</p>
{% endblock %}
