{% extends "sheet.html" %}
{% from "baseframe/forms.html" import renderfield %}
{% block title %}{{ post.headline|e }}{% endblock %}
{% block content %}
  <div class="sheet">
    <div class="section first">
      <h1>Reopen job post?</h1>
      <h2>{{ post.headline }}</h2>
      <p>
        {{ post_status_msg }}
        This post is currently closed but publicly viewable. Reopening the job post will let it resume accepting applications.
      </p>
      <form method="POST" class="form-horizontal">
        <input type="hidden" name="_charset_"/>
        {{ form.hidden_tag() }}
        <button type="submit" class="btn btn-primary">Reopen job post</button>
        <a class="btn btn-default" href="{{ post.url_for() }}">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
