{% extends "inc/email_layout_lite.html.jinja2" %}

{% block content -%}
  <div itemscope itemtype="http://schema.org/EmailMessage">
    <div itemprop="action" itemscope itemtype="http://schema.org/ViewAction">
      <meta itemprop="name" content="View Employer Response"/>
      <link itemprop="url" href="{{ post.url_for(_external=true) }}"/>
    </div>
    {%- if job_application.response.REPLIED %}
      <meta itemprop="description" content="Employer has responded to your application."/>
    {%- elif job_application.response.REJECTED %}
      <meta itemprop="description" content="Employer has declined your application."/>
    {%- endif %}
    <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="Hasjob"/>
      <link itemprop="url" href="{{ url_for('index', subdomain=none, _external=true) }}"/>
    </div>
  </div>
  <p>
  {%- if job_application.response.REPLIED %}
    <em>{{ g.user.fullname if post.admin_is(g.user) else post.fullname or post.company_name }} has responded to your application for <a href="{{ post.url_for(_external=true) }}">{{ post.headline }}</a>. You can reply to this email to continue the conversation</em>
  {%- elif job_application.response.REJECTED %}
    <em>{{ g.user.fullname if post.admin_is(g.user) else post.fullname or post.company_name }} has declined your application for <a href="{{ post.url_for(_external=true) }}">{{ post.headline }}</a></em>
  {%- endif %}
  </p>
  <hr>
  {{ job_application.response_message|safe }}
  <hr>
  <p>
    <em>Your application on {{ job_application.created_at|longdate }}:</em>
  </p>
  {{ job_application.message|safe }}
{%- endblock %}
