{% extends "inc/email_layout.html" %}

{% block title %}Regarding your job application for {{ post.headline }}{% endblock %}

{% block preview -%}
  {%- if job_application.is_replied() %}
    {{ post.fullname or post.company_name }} has responded to your application for <a href="{{ url_for('jobdetail', hashid=post.hashid) }}">{{ post.headline }}</a>
  {%- elif job_application.is_rejected() %}
    {{ post.fullname or post.company_name }} has declined your application for <a href="{{ url_for('jobdetail', hashid=post.hashid) }}">{{ post.headline }}</a>
  {%- endif %}
{%- endblock %}

{% block content -%}
  <p>
    <em>{{ self.preview() }}:</em>
  </p>
  {{ job_application.response_message|safe }}
  <hr>
  <p>
    <em>Your application on {{ job_application.created_at|longdate }}:</em>
  </p>
  {{ job_application.message|safe }}
{%- endblock %}
