{% extends "layout.html" %}
{% block title %}Search results{% endblock %}
{% block content %}
<ul id="stickie-area" class="row">
  <li class="col-xs-12 col-md-3 col-sm-4">
    <a href="{{ url_for('index') }}" id="filtered" class="stickie special">
      {{ ngettext("You are viewing a search result for “%(query)s”. View all jobs?",
        "You are viewing %(num)d search results for “%(query)s”. View all jobs?",
        results|count, query=request.args.get('q')) }}
    </a>
  </li>
  {%- for result in results['job_filters'] -%}
  <li class="col-xs-12 col-md-3 col-sm-4">
    <a href="{{ result|urlfor }}" class="stickie {%- if result.idref in ['type', 'category'] %} special{% endif %}">
      {% if result.idref == 'type' %}
        <span class="annotation top-left">Job Type</span>
        {{ result.title }}
      {% elif result.idref == 'category' %}
        <span class="annotation top-left">Job Category</span>
        {{ result.title }}
      {% endif %}
    </a>
  </li>
  {% endfor %}
  {%- for result in results['job_posts'] -%}
  <li class="col-xs-12 col-md-3 col-sm-4">
    <a href="{{ result|urlfor }}" class="stickie {%- if result.idref in ['type', 'category'] %} special{% endif %}">
      <span class="annotation top-left">{{ result.location }}</span>
      <span class="annotation top-right">{{ result.datetime|shortdate }}</span>
      <span class="headline">{{ result.headline }}</span>
      <span class="annotation bottom-right">{{ result.company_name }}</span>
      {% if now - result.datetime < newlimit -%}
        <span class="new annotation bottom-left">New!</span>
      {%- endif %}
    </a>
  </li>
  {%- else -%}
  <li class="col-xs-12 col-md-3 col-sm-4">
    <span id="nojobs" class="stickie special">
      No jobs found.
    </span>
  </li>
  {% endfor %}
</ul>
{% endblock %}
