{% extends "layout.html" -%}
{% from "macros.html" import campaign_header, campaign_script with context %}
{% block messages %}{% endblock %}
{% block basecontent %}
  {{ campaign_header() }}
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
      {%- for category, msg in get_flashed_messages(with_categories=true) %}
        <div class="flash flash-{{ category }}"><p>{{ msg }}</p></div>
      {%- endfor %}
      {% block content %}{% endblock %}
    </div>
  </div>
  {% block postcontent %}{% endblock %}
{% endblock %}

{% block layoutscripts %}
  {{ campaign_script() }}
  {% block footerscripts %}{% endblock %}
{% endblock %}
