{% extends "layout.html.jinja2" -%}
{% from "macros.html.jinja2" import campaign_header, campaign_script %}
{% block messages %}{% endblock %}
{% block basecontent %}
  {%- if header_campaign %}<div id="header-campaign"></div>{% endif %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
      {%- for category, msg in get_flashed_messages(with_categories=true) %}
        <div class="flash flash-{{ category }}"><p>{{ msg }}</p></div>
      {%- endfor %}
      {% block content %}{% endblock %}
    </div>
  </div>
  {% block postcontent %}{% endblock %}
  {%- if header_campaign %}{{ campaign_header(g, header_campaign) }}{% endif %}
{% endblock %}

{% block layoutscripts %}
  {%- if header_campaign %}{{ campaign_script() }}{% endif %}
  {% block footerscripts %}{% endblock %}
{% endblock %}
