{% extends "sheet.html" %}
{% from "baseframe/forms.html" import renderfield %}
{% block title %}Job post statistics{% endblock %}
{% block content %}
  <div class="sheet">
    <div class="sheet__section--first">
      <h1>
        {{ self.title()|e }}
      </h1>
      <p class="caption">
        Nice charts on jobs listed on this site.
      </p>
    </div>
    <div class="sheet__section">
      <h2>Posts by date</h2>
      <div class="chart" id="posts-by-date" style="height: 300px">
      </div>
    </div>
    <div class="sheet__section">
      <h2>Posts by type</h2>
      <div class="chart" id="posts-by-type" style="height: 300px">
      </div>
    </div>
  </div>
{% endblock %}
{% block footerscripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery.flot.min.js') }}"></script>
<script type="text/javascript">
  $(function () {

    var onPostsByDate = function (source) {
      $.plot($("#posts-by-date"), source.data, source.options);
    };

    $.ajax({
      url: '{{url_for("stats_posts_by_date") }}',
      method: 'GET',
      dataType: 'json',
      success: onPostsByDate
    });

    var onPostsByType = function (source) {
      console.log(source.data);
      $.plot($("#posts-by-type"), source.data, source.options);
    };

    $.ajax({
      url: '{{url_for("stats_posts_by_type") }}',
      method: 'GET',
      dataType: 'json',
      success: onPostsByType
    });

  });
</script>

{% endblock %}