{% extends "sheet.html.jinja2" %}
{% from "baseframe/forms.html.jinja2" import renderfield %}
{% block title %}{{ post.headline|e }}{% endblock %}
{% block content %}
    <div class="section first">
      <h1>Withdraw job post?</h1>
      <h2>{{ post.headline }}</h2>
      <p>
        Please confirm that you wish to withdraw this job post.
        It will no longer be available to anyone including you.
        <strong>You will not be able to re-post this job or a similarly worded job
        until {{ post.after_expiry_date|longdate }}.</strong>
      </p>
      <form method="POST" class="form-horizontal">
        <input type="hidden" name="_charset_"/>
        <input type="hidden" name="form.id" value="withdrawjob"/>
        {{ form.hidden_tag() }}
        {{ renderfield(form.really_withdraw, style="wide") }}
        <button type="submit" class="btn btn-danger">Withdraw job post</button>
        <a class="btn btn-default" href="{{ post.url_for() }}">Cancel</a>
      </form>
    </div>
{% endblock %}
