// Define all colours here

$color-title-has: #df5e0e;
$color-title-geek: #816894;
$color-title-jobs: #f0a40c;

$color-stickie: #ffffa2;
$color-stickie-pinned: #ffffa2;
$color-stickie-date: #816894;
$color-stickie-location: #816894;
$color-stickie-new: #df5e0e;

$color-stickie-info: #f6f6f6;
$color-stickie-announcement: #ffff2c;
$color-stickie-fulltime: #ffffa2;
$color-stickie-parttime: #ffffa2;//#df5e0e;
$color-stickie-volunteer: #ffffa2;//#f0a40c;
$color-stickie-main-text: rgb(51, 51, 51);

$color-shadow: rgba(0, 0, 0, 0.4);
$color-header: #DDF7F5;
$color-sheet: #fff;
$color-sheet-border: #afafaf;
$color-post-date: gray;

$color-outline: #ddd; // #b7b7b7;
$color-outline-thin: #ddd;

$color-radio-selected: $color-title-jobs;

$color-listing-background: $color-outline-thin;
$color-listing-outline: $color-outline-thin;
$color-listing-even: #f6f6f6;
$color-listing-hover: #D9E8F0; //rgba(232, 232, 232, 0.8);
