$font-default: "Fira Sans", arial, sans-serif;
$font-site-title: "Fira Sans", arial, sans-serif;
$font-stickie-headline: "McLaren", sans-serif;
$font-post-date: "McLaren", sans-serif;
$font-button: $font-default;
$font-input: $font-default;
$body-line-height: 24px;
