$font-default: "Fira Sans", arial, sans-serif;
$font-site-title: "Fira Sans", arial, sans-serif;
$font-stickie-header: "Walter Turncoat", sans-serif;
$font-stickie-date: "Walter Turncoat", sans-serif;
$font-stickie-location: "Walter Turncoat", sans-serif;
$font-stickie-new: "Walter Turncoat", sans-serif;
$font-stickie-info: "Walter Turncoat", sans-serif;
$font-stickie-headline: "McLaren", sans-serif;
$font-post-date: "Walter Turncoat", sans-serif;
$font-button: $font-default;
$font-input: $font-default;
