body
  font-family: $font-default
  background: #e8e7e6 image-url("canvas.jpg")

header
  padding-top: 50px // For banner on mobile
  margin-bottom: 0
  background: #ebe7e4
  border-bottom: none
  +box-shadow(0 1px 5px $color-shadow)

  h1
    color: $color-title-has
    font-size: 30px
    margin-top: 12px
    margin-bottom: 0
    small
      display: inline-block
      color: $color-title-geek
      font-size: 70%
      font-weight: bold

    a, a:hover, a:focus, a:active, a:visited
      color: inherit
      text-decoration: none
      border-bottom: none

    a:hover, a:focus, a:active
      // background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 8px, $color-title-jobs 8px, $color-title-jobs 13px, rgba(0, 0, 0, 0) 13px)
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 12%, $color-title-jobs 12%, $color-title-jobs 23%, rgba(0, 0, 0, 0) 23%)

.header-section
  +box-shadow(inset 0 2px 5px -2px rgba(0,0,0,0.1))

#page-header
  border-bottom: none

#logo
  +replace-text-with-dimensions('logo-star.png')

#hg-networkbar.navbar .navbar-brand
  padding: 0
  display: block
  +replace-text-with-dimensions('logo-star.png')
  height: 48px
  background-position: left center
  background-size: auto 100%
  background-repeat: none
  text-indent: -1000px

@media screen and (min-width: 768px)
  header
    padding-top: 0 // Remove padding on non-mobile
    margin-bottom: 12px
    h1 small
      display: inline

.header-section
  padding: 10px 0

.header-section .dropdown-menu
  padding: 5px 10px
  width: 100%
  max-height: 300px
  overflow-y: scroll

.header-section .dropdown-menu label
  font-weight: normal

.header-section .dropdown-menu>.active>a
  color: #333
  background-color: transparent

.header-section .btn-default
  background-color: #fff
  width: 100%
  text-align: left
  color: #999
  border-bottom: 1px solid #ccc

.header-section .submit-btn
  text-align: center

.header-section .open>.dropdown-toggle.btn-default
  background-color: transparent

.header-section .dropdown-menu
  margin: 0

.pay-filter-dropdown
  display: none

.pay-btn-group
  width: 100%

.pay-filter-dropdown label
  margin-left: 3px

.salary-filter-dropdown
  margin-left: 5%

.salary-filter-dropdown input
  margin-left: 5%

.pay-filter-slider
  margin: 5px 15px 15px

#filter_pay_cash_max
  float: right
  margin-right: 15px

#pay-filter-btn .caret
  margin-left: 4px

.salary-filter-dropdown
  display: none
  font-size: 11px 

.pay-filter-slider
  display: none
  font-size: 11px 

.keyword-search
  width: 100%
  border-radius: 4px
  border: 1px solid #ccc
  padding: 6px 12px
  line-height: normal

@media (min-width: 768px) and (max-width: 1023px)
  .header-section .dropdown-toggle
    font-size: 12px
  
  .header-section .dropdown-menu
    font-size: 11px

  .keyword-search
    font-size: 11px
    margin-top: 2px
    padding: 7px 12px

  .submit-btn
    font-size: 11px
    padding: 7px
    margin-top: 2px

@media screen and (max-width: 767px)
  .header-section .filters
    margin-bottom: 5px
