/* Background textures by Rüdiger Appel from http://www.3quarks.com/en/BackgroundPattern/ */

body {
    font-family: $font-default;
    background: image-url("canvas.jpg");
}

/* Header area */

header {
    @include pie-clearfix;
    padding-bottom: 10px;
    background: image-url("paper.jpg");
    border-bottom: 1px solid $color-sheet-border;
    @include single-box-shadow($color-shadow, 0, 1px, 5px);

    #sections {
        li {
            float: left;
            list-style-image: none;
            list-style-type: none;
            border: 1px solid black;
            margin: 0.25em;
            padding: 0.5em;
        }
    }
    #pitch {
        max-width: 60em;
    }
}

#hg-bar {
    margin-bottom: 20px;
    @include single-box-shadow($color-shadow, 0, 1px, 5px);
}

.header-content {
  @include pie-clearfix;
  padding: 0 20px;
}

#logo {
    @include replace-text-with-dimensions("logo-star.png", 0, 0);
    float: left;
}

#logo a, #logo a:hover, #logo a:active, #logo a:visited {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

#site-title {
    font-family: $font-site-title;
    float: left;
    padding-right: 0.5em;
    font-size: 30px;
    font-weight: bold;
    .has {
        color: $color-title-has;
    }
    .geek {
        color: $color-title-geek;
    }
    .jobs {
        color: $color-title-jobs;
    }
    .subtitle {
        font-size: 70%;
    }
    a, a:hover, a:focus, a:active, a:visited {
        text-decoration: none;
        border-bottom: 5px solid transparent;
        @include transition-property(border-bottom);
        @include transition-duration(1s);
    }
    a:hover, a:focus, a:active {
        border-bottom: 5px solid $color-title-jobs;
        @include transition-property(border-bottom);
        @include transition-duration(1s);
    }
}

#main {
    @include clearfix;
}

@include sticky-footer(40px, "#container", "#main_footer", "footer");
footer {
    background: image-url("paper.jpg");
    @include single-box-shadow($color-shadow, 0, -1px, 5px);
    font-size: 100%;
    background-color: white;
    text-align: center;
    .bp & p, p {
        border-top: 1px solid $color-sheet-border;
        padding: 10px 20px;
        margin: 0;
    }
}

.flash, #guide {
    background: $color-sheet;
    max-width: 860px;
    font-size: 120%;
    position: relative;
    margin: {
        left: auto;
        right: auto;
        top: 2em;
        bottom: 1em;
    }
    border: 1px solid $color-sheet-border;
    @include border-radius(4px);
    div.flashmessage, div.guidecontent {
        margin: 1em 2em;
    }
    p, blockquote, ul, ol {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    form {
        margin-bottom: 2em;
    }
    @include single-box-shadow($color-shadow, 0, 2px, 10px);
//    -webkit-box-shadow: 0 2px 10px $color-shadow, 0 0 10px rgba(0, 0, 0, 0.1) inset;
//       -moz-box-shadow: 0 2px 10px $color-shadow, 0 0 10px rgba(0, 0, 0, 0.1) inset;
//            box-shadow: 0 2px 10px $color-shadow, 0 0 10px rgba(0, 0, 0, 0.1) inset;
}

.flash-interactive:before, #guide:before {
    content: "";
    display: block; /* reduce the damage in FF3.0 */
    position: absolute;
    bottom: -21px; /* value = - border-top-width - border-bottom-width */
    left: 30px; /* controls horizontal position */
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: $color-sheet-border;
}

/* creates the smaller  triangle */
.flash-interactive:after, #guide:after {
    content: "";
    display: block; /* reduce the damage in FF3.0 */
    position: absolute;
    bottom: -20px; /* value = - border-top-width - border-bottom-width */
    left: 30px; /* value = (:before left) + (:before border-left) - (:after border-left) */
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: $color-sheet;
}

#sheet {
    @include pie-clearfix;
    background: $color-sheet;
    max-width: 860px;
    font-size: 120%;
    margin: {
        left: auto;
        right: auto;
        top: 2em;
        bottom: 2em;
    }
    padding: 1em 0;
    border: 1px solid $color-sheet-border;
    word-wrap: break-word;
    @include border-radius(4px);
    //@include single-box-shadow($color-shadow, 0, 2px, 10px);
    @include box-shadow(0 2px 10px $color-shadow, 0 0 10px rgba(0, 0, 0, 0.1) inset);
    //-webkit-box-shadow: 0 2px 10px $color-shadow, 0 0 10px rgba(0, 0, 0, 0.1) inset;
    //   -moz-box-shadow: 0 2px 10px $color-shadow, 0 0 10px rgba(0, 0, 0, 0.1) inset;
    //        box-shadow: 0 2px 10px $color-shadow, 0 0 10px rgba(0, 0, 0, 0.1) inset;
    .section {
        @include pie-clearfix;
        padding: 0 2em;
        border-top: 1px solid $color-outline-thin;
    }
    .section.first {
        border-top: 0;
    }
    .section.columns {
        padding-left: 2em;
        padding-right: 0;
    }
    .post-date {
        margin-top: 0.5em;
        font-size: 80%;
        color: #666; //$color-title-jobs;
    }
    .post-company-name {
        font-weight: bold;
    }
    .post-company-logo {
        float: right;
    }
    p, blockquote, ul, ol {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    /* Form elements */
    div.field {
        @include pie-clearfix;
        margin-top: 1em;
        margin-bottom: 1em;
        .checkbox label {
            padding-left: 0.5em;
        }
        &.small div.label {
            float: left;
            clear: left;
            width: 5em;
            padding-top: 6px; // Make label align with text in fields
            label {
                font-weight: bold;
            }
        }
        &.widelist div.label, &.horizlist div.label {
            padding-bottom: 0.2em;
            label {
                font-weight: bold;
            }
        }
        &.widelist div.control, &.horizlist div.control {
            // padding-left: 5em;
        }
        &.small div.control {
            float: left;
            width: 35em;
        }
        &.widelist div.control ul, &.small div.control ul {
            -moz-column-count: 2;  // Only in Mozilla. WebKit/Blink still buggy
        }
        &.widelist div.control, &.small div.control, &.horizlist div.control {
            ul {
                list-style: none;
                margin: 0;
                li {
                    padding: 0.2em 0;
                    label {
                        padding-left: 0.5em;
                    }
                }
                li.selected {
                    font-weight: bold;
                }
            }
        }
        &.horizlist div.control ul li {
            display: inline;
            padding-left: 0;
            padding-right: 1em;
        }
        &.check div.label {
            display: none;
        }
        &.wide div.label {
            float: none;
            clear: left;
            label {
                font-weight: bold;
            }
        }
        &.wide div.control {
            margin-top: 0.25em;
            float: none;
            clear: left;
        }
    }
    div.error {
        position: relative;
        background-color: $color-title-has;
        color: #fff;
        margin: 1em 0;
        padding: 0.5em 1em;
        @include border-radius(3px);
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -19px;
            left: 6em;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top-color: $color-title-has;
        }
    }

    span.description {
        font-size: 90%;
        color: #666;
    }
    form {
        margin-bottom: 1em;
    }
    input, textarea {
        font-family: $font-input;
    }
    fieldset {
        @include pie-clearfix;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    textarea {
        width: 100%;
        height: 10em;
        @include box-sizing(border-box);
    }

    textarea, input[type="text"], input[type="password"], input[type="email"], input[type="url"], select {
        //display: block;
        padding: 5px;
        color: #444;
        border: 1px solid $color-outline;
        @include border-radius(3px);
    }

    textarea, input[type="text"], input[type="password"], input[type="email"], input[type="url"], .select2-container-multi .select2-choices {
        @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset);
        //-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
        //   -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
        //        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
        }

    input[type="text"], input[type="email"], input[type="password"], input[type="url"] {
        width: 250px;
        height: 20px;
        margin-bottom: 5px;
        background: #fff;
    }

    #job_headline {
        width: 95%;
        font-size: 120%;
        font-weight: bold;
    }

    .slider-left, .slider-middle, .slider-right {
        @include box-sizing(border-box);
        float: left;
    }
    .slider-left, .slider-right {
        width: 15%;
        input[type="text"] {
            width: 100%;
            height: 32px;
            @include box-sizing(border-box);
        }
    }
    .slider-left {
        padding-right: 1.5em;
    }
    .slider-right {
        padding-left: 1.5em;
    }
    .slider-middle {
        width: 70%;
        margin-top: 7px;
    }
    .margin-collapse {
        margin-top: 1em;
        margin-bottom: 1em;
        div.field {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

input[type="submit"], a.btn, button {
    height: 27px;
    border: 1px solid $color-outline;
    font-family: $font-button;
    font-size: 14px;
    @include border-radius(3px);
    padding: 0 12px;
    background: #e6e6e6;
    @include background-image(linear-gradient(#e6e6e6, #d6d6d6));
    font-weight: bold;
    text-decoration: none;
    color: #444;
    // vertical-align: text-bottom;
    vertical-align: baseline;
    &:hover {
        //text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        background: #d6d6d6;
        @include background-image(linear-gradient(#d6d6d6, #c6c6c6));
        //color: #fff;
    }
}
button:disabled {
    color: #999;
}

button:disabled:hover {
    background-color: inherit;
    background: #e6e6e6;
    @include background-image(linear-gradient(#e6e6e6, #d6d6d6));
}

a.btn {
    padding: 3px 5px 0px;
}

hr {
    border-top: 1px solid $color-outline-thin;
}

#company-info {
    color: $color-title-geek;
    margin: 1em 0;
}

#post-meta {
    color: $color-title-geek;
}

#apply-info {
    line-height: 1.5;
}

#detailed-info {
    float: left;
    max-width: 600px;
    line-height: 1.5;
    //font-family: "MetaPlus", sans-serif;
    padding-right: 1em;
}

#detail-sidebar {
    float: right;
    width: 200px;
    font-size: 90%;
    ul {
        list-style: none;
        margin: 0 0 -1px 0;
        padding: 0;
        li {
            position: relative;
            border-bottom: 1px solid $color-outline-thin;
            & > a, & > a:link, & > a:hover, & > a:focus, & > a:active, & > a:visited {
                display: block;
                padding: 1em 2em 1em 1em;
                text-decoration: none;
            }
            #sidebar-email {
                background: transparent image-url("email.png") no-repeat 15px center;
                padding-left: 40px;
            }
            #sidebar-tweet {
                background: transparent image-url("twitter.png") no-repeat 15px center;
                padding-left: 40px;
            }
            #sidebar-share {
                background: transparent image-url("share.png") no-repeat 15px center;
                padding-left: 40px;
            }
            #sidebar-report {
                background: transparent image-url("flag.png") no-repeat 15px center;
                padding-left: 40px;
            }
            .sidebar-blank {
                padding-left: 40px !important;
            }
        }
    }
    .popup-box {
        background: $color-sheet;
        border: 1px solid $color-sheet-border;
        @include border-radius(4px);
        position: absolute;
        width: 20em;
        left: -(20em+3em);
        top: -3em;
        margin: 0;
        padding: 1em;
        @include single-box-shadow($color-shadow, 0, 2px, 10px);
        .close-popup {
            display: none;
        }
        .no-js & .close-popup {
            display: inline;
            position: absolute;
            top: 2px;
            right: 4px;
            margin: 0;
            padding: 0;
        }
        h2 {
            margin-top: 0;
        }
        form {
            margin-bottom: 0;
            div.field {
                margin: 0.5em 0;
            }
            ul {
                margin: 0;
                li {
                    padding: 0.25em 0.5em;
                    border-bottom: 0;
                    @include border-radius(3px);
                    label {
                        padding-left: 0.25em;
                    }
                }
                li.selected {
                    background-color: $color-radio-selected;
                }
            }
        }
        &:before {
            content: "";
            display: block; /* reduce the damage in FF3.0 */
            position: absolute;
            right: -21px;
            top: 4em;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-left-color: $color-sheet-border;
        }

        /* creates the smaller  triangle */
        &:after {
            content: "";
            display: block; /* reduce the damage in FF3.0 */
            position: absolute;
            right: -20px;
            top: 4em;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-left-color: $color-sheet;
        }        
    }
}

#report, #reject, #makesticky {
    display: none;
}

#report:target, #reject:target, #makesticky:target {
    display: block;
}

#banner {
    margin: 2em 0;
}

#banner-bottom {
    margin: 2em 0 1em 0;
}

#statsline {
    margin: 1em 0;
}

#search {
    float: right;
    padding-left: 1.2em;
    margin-top: 0.25em;
    position: relative;

    input {
        padding: 0 5px;
        margin: 0;
        font-size: 14px;
        @include border-radius(0);
        border: none;
    }

    input[type="text"] {
        border: 1px solid $color-outline;
        font-family: $font-input;
        background: white image-url('search.png') 4px center no-repeat;
        padding-left: 20px;
        padding-right: 43px;
        @include border-radius(3px);
        width: 12em;
        height: 25px;
    }

    input[type="submit"] {
        border: 1px solid $color-outline;
        border-left: 0;
        font-family: $font-button;
        @include border-top-right-radius(3px);
        @include border-bottom-right-radius(3px);
        padding: 0 12px;
        background: #e6e6e6;
        @include background-image(linear-gradient(#e6e6e6, #d6d6d6));
        font-weight: bold;
        color: #666;
        width: 40px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        &:hover {
            background: #d6d6d6;
            @include background-image(linear-gradient(#d6d6d6, #c6c6c6));
        }
    }
}


h1 {
    font-size: 200%;
    color: $color-title-has;
    margin: 0;
}

h2 {
    font-size: 150%;
    color: $color-title-geek;
    margin: 1em 0 0;
}

h3 {
    color: $color-title-geek;
    margin: 1em 0 0;
}

.chart {
     margin: 1em 0;
}

#newpost_headline:hover {
    @include border-radius(2px);
    @include box-shadow(#ccf 0 0 5px, #ccf 0 0 5px 0 inset);
}

iframe {
    max-width: 100%;
}

// Select2 styling
#sheet {
    ul.select2-choices {
        margin-top: 0;
        margin-bottom: 0;
    }

    .select2-container-multi .select2-choices .select2-search-field input {
        padding: 5px;
        border: 0;
        @include box-shadow(none);
    }

    .select2-container-multi .select2-choices {
        border: 1px solid $color-outline;
        @include border-radius(3px);
        @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset);
        margin-bottom: 5px;
    }

}

#sheet #pay-slider {
    width: 92%;
    padding-top: 40px;
    margin-bottom: 40px;
}

.floatleft {
    float: left;
    padding-right: 1em;
}

/* Spam protection */
.z {display: none;}
