#stickie-area
  margin-top: 12px
  padding-left: 0
  list-style: none
  margin-bottom: 0

  & > li
    margin-bottom: 20px
    float: none
    display: block
    vertical-align: top

.stickie
  background: $color-stickie
  position: relative
  vertical-align: top
  display: block
  font-family: $font-stickie-headline
  overflow: visible  // To make shadow visible
  padding: 24px 18px
  word-wrap: break-word
  +box-sizing(border-box)
  +border-radius(2px)
  +box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset)

  /* Make stickies clickable */
  &,  &:active, &:hover, &:visited, &:focus
    text-decoration: none
    color: inherit
    border-bottom: 0

  label
    font-weight: normal

  .count
    font-size: 90%
    color: $color-stickie-location
    // font-family: $font-stickie-location
    display: block

  .annotation
    font-size: 90%
    display: block
    position: absolute
    color: $color-stickie-location
    font-family: $font-stickie-location
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    height: 1.2em

  .top-right
    top: 0.1em
    right: 0.5em

  .top-left
    top: 0.1em
    left: 0.5em
    width: 75%

  .bottom-right
    right: 0.5em
    bottom: 0.25em
    width: 75%
    text-align: right

  .bottom-left
    left: 0.5em
    bottom: 0.25em

  .new
    color: $color-stickie-new
    font-family: $font-stickie-new
    text-transform: lowercase

  .pinned
    text-indent: -10000px
    display: block
    position: absolute
    top: -4px
    left: 135px
    left: calc(50% - 5px)
    width: 10px
    height: 10px
    +border-radius(5px)
    background: $color-title-has
    +box-shadow(0 2px 2px rgba(0, 0, 0, 0.2))

.stickie.grouped.under
  position: absolute
  top: -5px
  left: 10px
  right: 20px
  bottom: 5px
  z-index: -3
  overflow: hidden
  +transition-duration(0.1s)
  +transition-property(top, left, bottom, right)
  +transition-timing-function(ease-out)
  &:before, &:after
    +box-shadow(none)

  .headline
    display: block
    overflow: hidden
    position: absolute
    top: 1.5em
    bottom: 1.5em
    left: 1.5em
    right: 1.5em

  // Extra stickies, beyond those specified below.
  // Keep in same position
  .no-touch li:hover > &
    top: 0px
    left: 15px
    right: 15px
    bottom: 0px
    +transition-duration(0.1s)
    +transition-property(top, left, bottom, right)
    +transition-timing-function(ease-out)

  // Top left
  .no-touch li:hover > &:nth-of-type(1)
    top: -15px
    left: 0px
    right: 30px
    bottom: 15px

  // Bottom right
  .no-touch li:hover > &:nth-of-type(2)
    top: 15px
    left: 30px
    right: 0px
    bottom: -15px

  // Top right
  .no-touch li:hover > &:nth-of-type(3)
    top: -10px
    left: 20px
    right: 5px
    bottom: 10px

  // Bottom left
  .no-touch li:hover > &:nth-of-type(4)
    top: 10px
    left: 5px
    right: 25px
    bottom: -10px

  // Top
  .no-touch li:hover > &:nth-of-type(5)
    top: -25px
    left: 15px
    right: 15px
    bottom: 25px

  // Right
  // Bottom
  // Left

.stickiead
  padding: 0
  text-align: center

.stickie.special
  background-color: $color-stickie-info

.stickie.announcement
  background-color: $color-stickie-announcement

.stickie .pstar
  color: $color-title-has
  cursor: pointer
  +transition(opacity 0.2s ease-in-out)

.stickie .pstar.fa-star-o
  opacity: 0.1

.stickie:hover .pstar.fa-star-o
  opacity: 0.3

.stickie .pstar.fa-star-o:hover
  opacity: 1.0

.stickie .pstar.fa-spin
  opacity: 1.0

#newpost
  font-family: inherit

#newpost_headline
  font-family: $font-stickie-headline
  width: 100%
  border: 0
  background-color: $color-stickie-info
  resize: none
  min-height: 0
  padding: 0
  +box-shadow(none)
  +transition(border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, height 0.2s ease-in-out)
  &:hover, &:focus
    border-color: #66afe9
    outline: 0
    +box-shadow(0 0 8px rgba(102,175,233,0.6))
    +transition(border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, height 0.2s ease-in-out)

#newpost_headline::-webkit-input-placeholder
  color: $color-stickie-main-text
  opacity: 1.0
  +transition(opacity 0.2s ease-in-out)

#newpost_headline:focus::-webkit-input-placeholder
  opacity: 0.4
  +transition(opacity 0.2s ease-in-out)

#newpost_headline::-moz-placeholder
  color: $color-stickie-main-text
  opacity: 1.0
  +transition(opacity 0.2s ease-in-out)

#newpost_headline:focus::-moz-placeholder
  opacity: 0.4
  +transition(opacity 0.2s ease-in-out)

#newpost_headline:-ms-input-placeholder
  color: $color-stickie-main-text
  opacity: 1.0
  +transition(opacity 0.2s ease-in-out)

#newpost_headline:focus:-ms-input-placeholder
  opacity: 0.4
  +transition(opacity 0.2s ease-in-out)

#newpost_details
  // position: relative
  // top: 10px
  margin-top: 12px
  margin-bottom: -12px
  text-align: right

#loadmore
  margin-bottom: $body-line-height
  text-align: center

@media screen and (min-width: 768px)
  #stickie-area > li
    display: inline-block
    margin-bottom: 30px

  // Shadows only on larger screens (make mobile rendering lighter)
  .stickie
    &:before, &:after
      content: ""
      position: absolute
      z-index: -2
      bottom: 15px
      left: 10px
      width: 50%
      height: 20%
      max-width: 300px
      +box-shadow(0 15px 10px $color-shadow)
      +rotate(-3deg)

    &:after
      right: 10px
      left: auto
      +rotate(3deg)
