@import "colors";
@import "fonts";
@import url("//fonts.googleapis.com/css?family=Walter+Turncoat|McLaren|Source+Sans+Pro:400,600");

body {
    font-family: $font-default;
    font-size: 100%;
    color: #444;
}
