{% extends "inc/layout.html" %}
{% from "inc/forms.html" import ajaxform %}
{% block title %}{{ post.headline|e }}{% endblock %}
{% block content %}
{% if post.status == 0 %}
<div id="guide">
  <div class="guidecontent">
    <h2>Review this listing</h2>
    <p>
      This is a preview. It is only visible to you. You may <a href="{{ url_for('editjob', hashid=post.hashid, key=post.edit_key) }}">edit again</a> or confirm this listing.
    </p>
    <form action="{{ url_for('confirm', hashid=post.hashid) }}" method="POST">
      <input type="submit" value="This looks good, confirm it"/>
    </form>
  </div>
</div>
{% endif %}

<div id="sheet">
  <div class="section first">
    <h1>{{ post.headline }}</h1>
    {% if post.company_logo %}<img class="post-company-logo" alt="Logo" src="{{ url_for('logoimage', hashid=post.hashid) }}"/>{% endif %}
    <p class="post-date">Posted {{ post.datetime|longdate }}</p>
    <p id="company-info">
      <span class="post-company-name">{{ post.company_name }}</span><br/>
      <span class="post-location">{{ post.location }}{% if post.relocation_assist %}
        <em>(relocation assistance available)</em>{% endif %}</span><br/>
      {%- if post.company_url -%}
        <span class="post-company-url">
          <a href="{{ post.company_url }}" rel="nofollow">{{ post.company_url|cleanurl }}</a>
        </span>
      {%- endif %}
    </p>
    <p id="post-meta">
      <a href="{{ url_for('browse_by_type', slug=post.type.slug) }}">{{ post.type.title }}</a> /
      <a href="{{ url_for('browse_by_category', slug=post.category.slug) }}">{{ post.category.title }}</a>
    </p>
  </div>
  <div class="section columns">
    <div id="detailed-info">
      {{ post.description|safe }}
      {% if post.perks %}
        <h2>Job Perks</h2>
        {{ post.perks|safe }}
      {% endif %}
    </div>
    <div id="detail-sidebar">
      <ul> <!-- TODO -->
        <li><a id="sidebar-email" href="mailto:?subject=Job%3A%20{{ post.headline|urlquote }}&amp;body={{ request.url|urlquote }}">Email this</a></li>
        <li><a id="sidebar-tweet" target="_blank" href="http://twitter.com/?status=Job%3A%20{{ post.headline|urlquote }}%20{{ request.url|urlquote }}%20%23hasjob">Tweet this</a></li>
        {#<li><a id="sidebar-share" href="#share">Share this</a></li>#}
        <li>
          <a id="sidebar-report" href="#report">Report this</a>
          <div class="popup-box" id="report">
            <a class="close-popup" href="#">&#10005;</a>
            <h2>What’s wrong with it?</h2>
            {% include "inc/reportform.html" %}
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="section">
    <h2>Apply for this position</h2>
    <p>{{ post.how_to_apply|scrubemail(('z', 'y')) }}</p>
  </div>
</div>
{% endblock %}
{% block footerscripts %}
<script type="text/javascript">
  $(function() {
    $("a.rot13").each(function() {
      if ($(this).attr('data-href')) {
        var decoded = $(this).attr('data-href').replace(/[a-zA-Z]/g, function(c) {
          return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);
          });
        $(this).attr('href', decoded);
        $(this).removeAttr('data-href');
        $(this).removeClass('rot13');
      };
    });
  });
  $(function() {
    radioHighlight('report_code', 'selected');
    $("body").click(function() {
      // Hide popups
      $("#report").fadeOut("fast");
    });
    $("#report").click(function(event) {
      // Prevent clicks within popup from hiding it
      event.stopPropagation();
    });
    $("#sidebar-report").click(function() {
      $("#report").fadeToggle("fast");
      return false;
    });
  });
</script>
{{ ajaxform('reportform') }}
{% endblock %}
