{% extends "inc/layout.html" %}
{% from "inc/forms.html" import renderfield %}
{% block title %}Post a job{% endblock %}
{% block content %}
<div id="sheet">
  <div class="section first">
    <h1>
      Post a job listing
    </h1>
    <p class="caption">
      HasGeek reaches out to thousands of developers via events, blogs and discussion groups.
      Job listings made here will be shown across the network.
    </p>
  </div>
  <form id="newjob" enctype="multipart/form-data" method="POST">
    <input type="hidden" name="_charset_"/>
    <input type="hidden" name="form.id" value="newjob"/>
    {{ form.csrf() }}
    <div class="section">
      {% if form.csrf.errors %}
        {% for error in form.csrf.errors %}<div class="error">{{ error }}</div>{% endfor %}
      {% endif %}
      <h2>First, tell us about the position</h2>
        {{ renderfield(form.job_headline, "small", True) }}
        {{ renderfield(form.job_type, "small") }}
        {{ renderfield(form.job_category, "small") }}
        {{ renderfield(form.job_location, "small") }}
        {{ renderfield(form.job_relocation_assist, "small") }}
        {{ renderfield(form.job_description, "wide") }}
        {{ renderfield(form.job_perks, "check") }}
        {{ renderfield(form.job_perks_description, "wide") }}
        {{ renderfield(form.job_how_to_apply, "wide") }}
    </div>
    <div class="section">
      <h2>Tell us about your company</h2>
        {{ renderfield(form.company_name, "small") }}
        {{ renderfield(form.company_logo, "small") }}
        {{ renderfield(form.company_url, "small") }}
        {{ renderfield(form.poster_email, "small") }}
        <input type="submit" value="Review your job listing &rarr;"/>
    </div>
  </form>
</div>
{% endblock %}
{% block footerscripts %}
<script type="text/javascript">
  $(function() {
    if (! $("#job_perks").is(":checked")) {
      $("#field-job_perks_description").hide();
    };
    $("#job_perks").click(function() {
      if ($(this).is(":checked")) {
        $("#field-job_perks_description").slideDown();
      } else {
        $("#field-job_perks_description").slideUp();
      };
    });
    radioHighlight('job_type', 'selected');
    radioHighlight('job_category', 'selected');
  });
</script>
{% endblock %}
