{% from "baseframe/forms.html" import renderfield, rendersubmit, ajaxform %}
<form id="applyform" method="POST" class="form-horizontal" action="{{ post.url_for('apply') }}">
  <input type="hidden" name="_charset_"/>
  <input type="hidden" name="form.id" value="applyform"/>
  {{ applyform.hidden_tag() }}
  {%- if applyform.apply_fullname %}
    {{ renderfield(applyform.apply_fullname) }}
  {%- else %}
    <div class="form-group">
      <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="apply_name">Name</label>
      <div class="col-xs-12 col-sm-9 col-md-10 controls">
        <input class="form-control" id="apply_name" type="text" value="{{ g.user.fullname }}" disabled />
        <p class="help-block">You may edit your name from <a href="{{ g.user.profile_url }}" target="_blank">your profile</a></p>
      </div>
    </div>
  {%- endif %}
  {{ renderfield(applyform.apply_email) }}
  {{ renderfield(applyform.apply_phone) }}
  {{ renderfield(applyform.apply_message, style="wide", widget_css_class="tinymce") }}
  {{ renderfield(applyform.apply_optin, style="wide") }}
  {{ rendersubmit([(None, "Apply", 'btn-primary')], style='wide') }}
  <p>
    <strong>Note:</strong> Be selective about the jobs you apply for and mindful of the employer’s time.
    If too many employers report you for wasting their time with an irrelevent application, you will be barred
    from applying to more jobs. Employers can see how many other jobs you are applying to simultaneously
    and your status with them, but not which jobs you are applying to.
  </p>
</form>
{%- if request.is_xhr %}
  {{ ajaxform("applyform", request) }}
  <script type="text/javascript">
    tinymce.editors[0].remove(); {#- FIXME: Do this right with Baseframe’s richtext editor #}
    {% include "inc/tinymce.js" %}
  </script>
{%- endif %}
