{% block stylesheet -%}
<style type="text/css">
  @import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600); 
  p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Fira Sans', Arial, sans-serif;
  }
  .btn, a.btn:link, a.btn:visited {
    background: #7a6891;
    padding: 12px 12px 10px 12px;
    font-family: 'Fira Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    border-bottom: 3px solid #554562;
    color: #fff;
    margin-bottom: 15px;
  }
  @media screen and (max-width:599px) {
    .board-title {
      display: inline-block;
      vertical-align: top;
      color: #df5e0e;
      font-size: 20px;
      font-weight: bold;
    }
    .board-caption {
      display: block;
      color: #816894;
      font-size: 12px;
      margin-top: -16px;
      margin-left: 43px;
      font-weight: bold;
    }
  }
  @media (min-width:600px) {
    .board-title {
      display: inline-block;
      vertical-align: top;
      color: #df5e0e;
      font-size: 25px;
      margin-top: 9px;
      font-weight: bold;
    }
    .board-caption {
      display: inline-block;
      vertical-align: top;
      color: #816894;
      font-size: 17px;
      margin-top: 16px;
      font-weight: bold;
    }
  }
  .wrapper {
    background-color: #F9FAFC;
    padding: 15px;
  }
  .title {
    display: block;
    width: 70%;
    margin: 0 auto 12px;
    text-decoration: none;
  }
  .hasjob-logo {
    height: 38px;
    margin: 0 5px 0 0;
  }
  .box {
    width: 70%;
    padding: 15px;
    border-radius: 2px;
    background-color: #ffffff;
    margin: auto;
  }
  .separator {
    border-bottom: 2px solid #dddddd;
    border-top: 0
  }
  .address,
  .copyright {
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #666666;
  }
  .center {
    text-align: center;
  }
  table {
    width: 100%;
    border: 0;
  }
</style>
{%- endblock %}

{% block content %}
  <div class="wrapper">
    <a href="{{ url_for('index', _external=true) }}" class="title">
      <img src="{{ url_for('static', filename='img/android-chrome-192x192.png', _external=true) }}" class='hasjob-logo' alt="hasjob">
      {%- if g.board -%}
        <span class="board-title">{{ g.board.title }}</span> <span class="board-caption">{%- if g.board.caption -%} {{ g.board.caption }} {%- else -%} Powered by Hasjob {%- endif -%}</span>
      {%- else -%}
        <span class="board-title">Hasjob</span> <span class="board-caption">The HasGeek Job Board</span>
      {%- endif -%}
    </a>
    <div class="box">
      {% block innercontent %}
      {% endblock %}
    </div>
    <p class="address">Our mailing address is:<br>
      HasGeek, #2699, 5th Cross, HAL 2nd Stage, Indira Nagar, Bangalore, 560008, India</p>
    <p class="copyright">Copyright © 2018 HasGeek, All rights reserved.</p>
  </div>
{% endblock %}
