{% block stylesheet -%}
<style type="text/css">
  .btn, a.btn:link, a.btn:visited {
    background-color: #816894;
    padding: 6px 12px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    border-bottom: 3px solid #554562;
  }
  .board-title {
    display: inline-block;
    color: #df5e0e;
    font-size: 25px;
    vertical-align: top;
    margin-top: 9px;
  }
  .board-caption {
    display: inline-block;
    color: #816894;
    font-size: 17px;
    vertical-align: top;
    margin-top: 16px;
  }
  .wrapper {
    background-color: #F9FAFC;
    padding: 30px;
  }
  .title {
    display: block;
    min-width: 250px;
    width: 70%;
    margin: 0 auto 12px;
    text-decoration: none;
  }
  .hasjob-logo {
    height: 38px;
    margin: 0 5px 0 0;
  }
  .box {
    min-width: 250px;
    width: 70%;
    padding: 30px;
    border-radius: 2px;
    background-color: #ffffff;
    margin: auto;
  }
  .separator {
    border-bottom: 2px solid #dddddd;
    border-top: 0
  }
  .address,
  .copyright {
    font-size: 12px;
    text-align: center;
    color: #666666;
  }
  .center {
    text-align: center;
  }
</style>
{%- endblock %}

{% block content %}
  <div class="wrapper">
    <a href="{{ url_for('index', _external=true) }}" class="title">
      <!-- <img src="{{ url_for('static', filename='img/android-chrome-192x192.png', _external=true) }}" class='hasjob-logo' alt="hasjob"> -->
      <img src="https://images.hasgeek.com/embed/file/c45fde85b3344aa3a4fc6431f317e2e2" class='hasjob-logo' alt="hasjob">
      {%- if g.board -%}
        <span class="board-title">{{ g.board.title }}</span> <small class="board-caption">{%- if g.board.caption -%} {{ g.board.caption }} {%- else -%} Powered by Hasjob {%- endif -%}</small>
      {%- else -%}
        <span class="board-title">Hasjob</span> <small>The HasGeek Job Board</small>
      {%- endif -%}
    </a>
    <div class="box">
      {% block innercontent %}
      {% endblock %}
    </div>
    <p class="address">Our mailing address is:<br>
      HasGeek, #2699, 5th Cross, HAL 2nd Stage, Indira Nagar, Bangalore, 560008, India</p>
    <p class="copyright">Copyright © 2018 HasGeek, All rights reserved.</p>
  </div>
{% endblock %}
