{% block stylesheet -%}
<style type="text/css">
  .btn, a.btn:link, a.btn:visited {
    padding: 6px 12px;
    color: #fff;
    background-color: #428bca;
    border: 1px solid #357ebd;
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 5px;
  }
</style>
{%- endblock %}
{% block content %}{% endblock %}
