{% macro renderfield(field, css_class="", widget_css_class=None, autofocus=False, nolabeldesc=False) -%}
{% if field.errors -%}
  {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor %}
{% endif %}
<div class="field{% if css_class %} {{ css_class}}{% endif %}" id="field-{{ field.id }}">
  {% if field.widget.input_type == 'checkbox' %}
    <div class="label">&nbsp;</div><div class="control checkbox">{% if widget_css_class %}{{ field(class=widget_css_class) }}{% else %}{{ field }}{% endif %} {{ field.label }}</div>
    {%- if field.description %}
      <div class="control"><span class="description">{{ field.description }}</span></div>
    {%- endif %}
  {% else %}
    {% if not nolabeldesc %}<div class="label">{{ field.label }}</div>{% endif %}
    <div class="control"><div>{% if autofocus %}{% if widget_css_class %}{{ field(autofocus="autofocus", class=widget_css_class) }}{% else %}{{ field(autofocus="autofocus") }}{% endif %}{% else %}{% if widget_css_class %}{{ field(class=widget_css_class) }}{% else %}{{ field }}{% endif %}{% endif %}</div>
    {% if not nolabeldesc %}
      <span class="description">{{ field.description }}</span>
    {% endif %}</div>
  {% endif %}
</div>
{% endmacro %}

{% macro ajaxform(formid) -%}
<script type="text/javascript">
  $(function() {
    $("#{{ formid }}").ajaxForm({
      target: '#{{ formid }}',
      replaceTarget: true,
    });
    $('#{{ formid }} button, #{{ formid }} input[type="submit"]').click(function() {
      $('#{{ formid }}').find('.loading').removeClass('hidden');
      if (tinymce !== undefined) {
        $(tinymce.get()).each(function(i, el) {
          el.save();
        });
      };
    });
  });
</script>
{%- endmacro %}
