{% from "baseframe/forms.html.jinja2" import renderfield, ajaxform %}
<form id="moderateform" method="POST" action="{{ post.url_for('moderate') }}" class="form-horizontal">
  <input type="hidden" name="_charset_"/>
  <input type="hidden" name="form.id" value="moderateform"/>
  {{ moderateform.hidden_tag() }}
  {{ renderfield(moderateform.reason, rows=6, style="wide", nolabel=true) }}
  <button type="submit" name="submit" class="btn btn-primary btn-sm" value="moderate">Moderate</button>
</form>
{%- if request.is_xhr %}
  {{ ajaxform("moderateform", request) }}
{%- endif %}
