{% from "inc/forms.html" import renderfield, ajaxform %}
<form id="rejectform" method="POST" action="{{ url_for('rejectjob', hashid=post.hashid) }}">
  <input type="hidden" name="_charset_"/>
  <input type="hidden" name="form.id" value="rejectform"/>
  {{ rejectform.hidden_tag() }}
  {{ renderfield(rejectform.reason) }}
  <button type="submit" name="submit" value="reject">Reject</button>
  <button type="spam" name="submit" value="spam">Spam</button>
</form>
{% if ajaxreg %}{{ ajaxform("rejectform") }}{% endif %}
