{% from "baseframe/forms.html.jinja2" import renderfield, ajaxform %}
<form id="rejectform" method="POST" action="{{ post.url_for('reject') }}" class="form-horizontal" accept-charset="UTF-8">
  <input type="hidden" name="form.id" value="rejectform"/>
  {{ rejectform.hidden_tag() }}
  {{ renderfield(rejectform.reason, style="wide", nolabel=true) }}
  <button type="submit" name="submit" class="btn btn-primary btn-sm" value="reject">Reject</button>
  <button type="submit" name="submit" class="btn btn-danger btn-sm" value="spam">Spam</button>
  <button type="submit" name="submit" class="btn btn-danger btn-sm" value="ban">Ban</button>
</form>
{%- if request_is_xhr() %}
  {{ ajaxform("rejectform", request) }}
{%- endif %}
