{% from "baseframe/forms.html.jinja2" import renderfield %}
<form id="replyform" method="POST" class="form-horizontal" action="{{ job_application.url_for('process') }}" accept-charset="UTF-8">
  <input type="hidden" name="form.id" value="response_form"/>
  {{ response_form.hidden_tag() }}
  {{ renderfield(response_form.response_message, style="wide", widget_css_class="tinymce", nolabel=true) }}
  <button id="appl-send" class="btn btn-primary" type="submit" name="action" value="">Send</button>
  <button id="appl-cancel" class="btn btn-default">Cancel</button>
  <span class="loading hidden">&nbsp;</span>
  {%- if response_form.csrf_token.errors -%}
    <div><p class="help-error">{% trans -%}
      This form has timed out. Please submit again to confirm
    {%- endtrans %}</p></div>
  {%- endif %}
</form>
