{% from "baseframe/forms.html.jinja2" import renderfield, ajaxform %}
<form id="reportform" method="POST" class="form-horizontal" accept-charset="UTF-8">
  <input type="hidden" name="form.id" value="reportform"/>
  {{ reportform.hidden_tag() }}
  {{ renderfield(reportform.report_code, style="wide", nolabel=True) }}
  <input type="submit" class="btn btn-primary btn-sm" value="Report this"/>
</form>
{%- if request.is_xhr %}
  {{ ajaxform("reportform", request) }}
{%- endif %}
