<p>
  I understand that my listing may be removed if it
</p>
<ol>
  <li>Is for a position that involves adult content,</li>
  <li>Is an illegitimate work opportunity,</li>
  <li>Is an incorrect job type (full time when it should be contract, etc),</li>
  <li>Is factually incorrect, incomplete or misleading,</li>
  <li>Is posted by an intermediary instead of the actual organization where the position is,</li>
  <li>Includes multiple jobs in one listing (four positions available, etc), or</li>
  <li>Uses sexist, racist or misogynist language.</li>
</ol>
<p>
  I further assert that I am solely responsible for the content of my listing.
</p>
<p>
  Listings are valid for 30 days only. They will be shown on the home page in reverse
  chronological order, with the most recent first. Editing a listing will not move it
  back to the top. Listings are automatically removed from the home page after 30 days
  but will continue to appear at the permanent link unless manually withdrawn or removed
  by a moderator as per the conditions specified above.
</p>
<p>
  HasGeek may change the nature of the job board service, revise the terms of service,
  or discontinue the service without prior notice at any time. If the listing is removed,
  and involved a payment, a credit note will be issued. <em>Listings are free during the
  initial testing period.</em>
</p>
