<p>
  You understand that this post may be removed if it:
</p>
<ol>
  <li>Is for a position that involves adult content,</li>
  <li>Is an illegitimate work opportunity,</li>
  <li>Is an incorrect job type (full time when it should be contract, etc),</li>
  <li>Is factually incorrect, incomplete or misleading,</li>
  <li>Is posted by an intermediary instead of the actual organization where the position is,</li>
  <li>Includes multiple jobs in one post (four positions available, etc),</li>
  <li>Uses sexist, racist or misogynist language,</li>
  <li>Discriminates among candidates on the basis of their age, sex, educational institution or any other factor unrelated to their skills, or</li>
  <li>Specifies a pay budget that is different from what candidates can expect to be offered.</li>
</ol>
<p>
  You further assert that you are solely responsible for the content of this post.
</p>
<p>
  Posts are valid for 30 days only and are automatically removed from the home page
  after that period, but will continue to appear at the permanent link unless manually
  withdrawn or removed by a moderator as per the conditions specified above.
</p>
<p>
  HasGeek may change the nature of the job board service,
  revise the terms of service, or discontinue the service without prior notice at any time.
  By posting on the job board, you assign to HasGeek perpetual worldwide rights to use
  all submitted data for any purpose whatsoever, including assigning such rights to third
  parties and successors. HasGeek will endeavour to protect your privacy and use your data
  for your good, but you agree to indemnify HasGeek from all liabilities that may arise now
  or in future in relation to this data.
</p>
<p>
  If the post is removed, and involved a payment, a credit note will be issued.
</p>
