/*  HTML5 ✰ Boilerplate  */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

body, select, input, textarea {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

html {
  overflow-y: scroll;
}

a:hover, a:active {
  outline: none;
}

a, a:active, a:visited {
  color: #607890;
}

a:hover {
  color: #036;
}

ul, ol {
  margin-left: 1.8em;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: baseline;
}

input[type="checkbox"] {
  vertical-align: baseline;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* Background textures by Rüdiger Appel from http://www.3quarks.com/en/BackgroundPattern/ */
body {
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, arial, sans-serif;
  background: url('../img/canvas.jpg?1343882941');
}

/* Header area */
header {
  *zoom: 1;
  padding-bottom: 10px;
  background: url('../img/paper.jpg?1343882941');
  border-bottom: 1px solid #afafaf;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
header:after {
  content: "";
  display: table;
  clear: both;
}
header #sections li {
  float: left;
  list-style-image: none;
  list-style-type: none;
  border: 1px solid black;
  margin: 0.25em;
  padding: 0.5em;
}
header #pitch {
  max-width: 60em;
}

#hg-bar {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.header-content {
  *zoom: 1;
  padding: 0 20px;
}
.header-content:after {
  content: "";
  display: table;
  clear: both;
}

#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/logo-star.png?1343882941');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 170px;
  height: 170px;
  float: left;
}

#logo a, #logo a:hover, #logo a:active, #logo a:visited {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

#site-title {
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, arial, sans-serif;
  float: left;
  padding-right: 0.5em;
  font-size: 30px;
  font-weight: bold;
}
#site-title .has {
  color: #df5e0e;
}
#site-title .geek {
  color: #816894;
}
#site-title .jobs {
  color: #f0a40c;
}
#site-title a, #site-title a:hover, #site-title a:focus, #site-title a:active, #site-title a:visited {
  text-decoration: none;
  border-bottom: 5px solid transparent;
  -webkit-transition-property: border-bottom;
  -moz-transition-property: border-bottom;
  -o-transition-property: border-bottom;
  transition-property: border-bottom;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
#site-title a:hover, #site-title a:focus, #site-title a:active {
  border-bottom: 5px solid #f0a40c;
  -webkit-transition-property: border-bottom;
  -moz-transition-property: border-bottom;
  -o-transition-property: border-bottom;
  transition-property: border-bottom;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

#main {
  overflow: hidden;
  *zoom: 1;
}

html, body {
  height: 100%;
}

#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
}
#container #main_footer {
  height: 40px;
}

footer {
  clear: both;
  position: relative;
  height: 40px;
}

footer {
  background: url('../img/paper.jpg?1343882941');
  -webkit-box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.4);
  font-size: 100%;
  background-color: white;
  text-align: center;
}
.bp footer p, footer p {
  border-top: 1px solid #afafaf;
  padding: 10px 20px;
  margin: 0;
}

.flash, #guide {
  background: white;
  max-width: 860px;
  font-size: 120%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  border: 1px solid #afafaf;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
.flash div.flashmessage, .flash div.guidecontent, #guide div.flashmessage, #guide div.guidecontent {
  margin: 1em 2em;
}
.flash p, .flash blockquote, .flash ul, .flash ol, #guide p, #guide blockquote, #guide ul, #guide ol {
  margin-top: 1em;
  margin-bottom: 1em;
}
.flash form, #guide form {
  margin-bottom: 2em;
}

.flash-interactive:before, #guide:before {
  content: "";
  display: block;
  /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -21px;
  /* value = - border-top-width - border-bottom-width */
  left: 30px;
  /* controls horizontal position */
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #afafaf;
}

/* creates the smaller  triangle */
.flash-interactive:after, #guide:after {
  content: "";
  display: block;
  /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -20px;
  /* value = - border-top-width - border-bottom-width */
  left: 30px;
  /* value = (:before left) + (:before border-left) - (:after border-left) */
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: white;
}

#sheet {
  *zoom: 1;
  background: white;
  max-width: 860px;
  font-size: 120%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em 0;
  border: 1px solid #afafaf;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  /* Form elements */
}
#sheet:after {
  content: "";
  display: table;
  clear: both;
}
#sheet .section {
  *zoom: 1;
  padding: 0 2em;
  border-top: 1px solid #e8e8e8;
}
#sheet .section:after {
  content: "";
  display: table;
  clear: both;
}
#sheet .section.first {
  border-top: 0;
}
#sheet .section.columns {
  padding-left: 2em;
  padding-right: 0;
}
#sheet p.post-date {
  margin-top: 0.5em;
  font-size: 80%;
  color: #666;
}
#sheet .post-company-name {
  font-weight: bold;
}
#sheet .post-company-logo {
  float: right;
}
#sheet p, #sheet blockquote, #sheet ul, #sheet ol {
  margin-top: 1em;
  margin-bottom: 1em;
}
#sheet div.field {
  *zoom: 1;
  margin-top: 1em;
  margin-bottom: 1em;
}
#sheet div.field:after {
  content: "";
  display: table;
  clear: both;
}
#sheet div.field .checkbox label {
  padding-left: 0.5em;
}
#sheet div.field.small div.label {
  float: left;
  clear: left;
  width: 5em;
  padding-top: 6px;
}
#sheet div.field.small div.label label {
  font-weight: bold;
}
#sheet div.field.widelist div.label {
  padding-bottom: 0.2em;
}
#sheet div.field.widelist div.label label {
  font-weight: bold;
}
#sheet div.field.small div.control {
  float: left;
  width: 35em;
}
#sheet div.field.widelist div.control ul, #sheet div.field.small div.control ul {
  -moz-column-count: 2;
  list-style: none;
  margin: 0;
}
#sheet div.field.widelist div.control ul li, #sheet div.field.small div.control ul li {
  padding: 0.2em 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#sheet div.field.widelist div.control ul li label, #sheet div.field.small div.control ul li label {
  padding-left: 0.5em;
}
#sheet div.field.widelist div.control ul li.selected, #sheet div.field.small div.control ul li.selected {
  font-weight: bold;
}
#sheet div.field.check div.label {
  display: none;
}
#sheet div.field.wide div.label {
  float: none;
  clear: left;
}
#sheet div.field.wide div.label label {
  font-weight: bold;
}
#sheet div.field.wide div.control {
  margin-top: 0.25em;
  float: none;
  clear: left;
}
#sheet div.error {
  position: relative;
  background-color: #df5e0e;
  color: #fff;
  margin: 1em 0;
  padding: 0.5em 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#sheet div.error:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -19px;
  left: 6em;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #df5e0e;
}
#sheet span.description {
  font-size: 90%;
  color: #666;
}
#sheet form {
  margin-bottom: 1em;
}
#sheet input, #sheet textarea {
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, arial, sans-serif;
}
#sheet fieldset {
  *zoom: 1;
  margin-top: 1em;
  margin-bottom: 1em;
}
#sheet fieldset:after {
  content: "";
  display: table;
  clear: both;
}
#sheet textarea {
  width: 90%;
  height: 10em;
}
#sheet textarea, #sheet input[type="text"], #sheet input[type="password"], #sheet input[type="email"], #sheet input[type="url"], #sheet select {
  padding: 5px;
  color: #444;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#sheet textarea, #sheet input[type="text"], #sheet input[type="password"], #sheet input[type="email"], #sheet input[type="url"] {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
#sheet input[type="text"], #sheet input[type="email"], #sheet input[type="password"], #sheet input[type="url"] {
  width: 250px;
  height: 20px;
  margin-bottom: 5px;
  background: #fff;
}
#sheet #job_headline {
  width: 95%;
  font-size: 120%;
  font-weight: bold;
}

#sheet input[type="submit"], #sheet a.btn, #sheet button, #guide input[type="submit"], #guide a.btn, #guide button {
  height: 27px;
  border: 1px solid #b7b7b7;
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, arial, sans-serif;
  font-size: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 12px;
  background: #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -moz-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -o-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: linear-gradient(#e6e6e6, #d6d6d6);
  font-weight: bold;
  text-decoration: none;
  color: #444;
  vertical-align: text-bottom;
}
#sheet input[type="submit"]:hover, #sheet a.btn:hover, #sheet button:hover, #guide input[type="submit"]:hover, #guide a.btn:hover, #guide button:hover {
  background: #d6d6d6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d6d6d6), color-stop(100%, #c6c6c6));
  background-image: -webkit-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -moz-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -o-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: linear-gradient(#d6d6d6, #c6c6c6);
}
#sheet a.btn, #guide a.btn {
  padding: 3px 5px 2px;
}

#company-info {
  color: #816894;
  margin: 1em 0;
}

#post-meta {
  color: #816894;
}

#apply-info {
  line-height: 1.5;
}

#detailed-info {
  float: left;
  max-width: 600px;
  line-height: 1.5;
  padding-right: 1em;
}

#detail-sidebar {
  float: right;
  width: 200px;
  font-size: 90%;
}
#detail-sidebar ul {
  list-style: none;
  margin: 0 0 -1px 0;
  padding: 0;
}
#detail-sidebar ul li {
  position: relative;
  border-bottom: 1px solid #e8e8e8;
}
#detail-sidebar ul li a, #detail-sidebar ul li a:link, #detail-sidebar ul li a:hover, #detail-sidebar ul li a:focus, #detail-sidebar ul li a:active, #detail-sidebar ul li a:visited {
  display: block;
  padding: 1em 2em 1em 1em;
  text-decoration: none;
}
#detail-sidebar ul li #sidebar-email {
  background: transparent url('../img/email.png?1343882941') no-repeat 15px center;
  padding-left: 40px;
}
#detail-sidebar ul li #sidebar-tweet {
  background: transparent url('../img/twitter.png?1343882941') no-repeat 15px center;
  padding-left: 40px;
}
#detail-sidebar ul li #sidebar-share {
  background: transparent url('../img/share.png?1343882941') no-repeat 15px center;
  padding-left: 40px;
}
#detail-sidebar ul li #sidebar-report {
  background: transparent url('../img/flag.png?1343882941') no-repeat 15px center;
  padding-left: 40px;
}
#detail-sidebar .popup-box {
  background: white;
  border: 1px solid #afafaf;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  width: 20em;
  left: -23em;
  top: -3em;
  margin: 0;
  padding: 1em;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  /* creates the smaller  triangle */
}
#detail-sidebar .popup-box .close-popup {
  display: none;
}
.no-js #detail-sidebar .popup-box .close-popup {
  display: inline;
  position: absolute;
  top: 2px;
  right: 4px;
  margin: 0;
  padding: 0;
}
#detail-sidebar .popup-box h2 {
  margin-top: 0;
}
#detail-sidebar .popup-box form {
  margin-bottom: 0;
}
#detail-sidebar .popup-box form div.field {
  margin: 0.5em 0;
}
#detail-sidebar .popup-box form ul {
  margin: 0;
}
#detail-sidebar .popup-box form ul li {
  padding: 0.25em 0.5em;
  border-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#detail-sidebar .popup-box form ul li label {
  padding-left: 0.25em;
}
#detail-sidebar .popup-box form ul li.selected {
  background-color: #f0a40c;
}
#detail-sidebar .popup-box:before {
  content: "";
  display: block;
  /* reduce the damage in FF3.0 */
  position: absolute;
  right: -21px;
  top: 4em;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #afafaf;
}
#detail-sidebar .popup-box:after {
  content: "";
  display: block;
  /* reduce the damage in FF3.0 */
  position: absolute;
  right: -20px;
  top: 4em;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: white;
}

#report, #reject, #makesticky {
  display: none;
}

#report:target, #reject:target, #makesticky:target {
  display: block;
}

#banner {
  margin: 2em 0;
}

#banner-bottom {
  margin: 2em 0 1em 0;
}

#search {
  float: right;
  padding-left: 1.2em;
  position: relative;
}
#search input {
  padding: 0 5px;
  margin: 0;
  font-size: 14px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none;
}
#search input[type="text"] {
  border: 1px solid #b7b7b7;
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, arial, sans-serif;
  background: white url('../img/search.png?1343882941') 4px center no-repeat;
  padding-left: 20px;
  padding-right: 43px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width: 12em;
  height: 25px;
}
#search input[type="submit"] {
  border: 1px solid #b7b7b7;
  border-left: 0;
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, arial, sans-serif;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0 12px;
  background: #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -moz-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -o-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: linear-gradient(#e6e6e6, #d6d6d6);
  font-weight: bold;
  color: #666;
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
#search input[type="submit"]:hover {
  background: #d6d6d6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d6d6d6), color-stop(100%, #c6c6c6));
  background-image: -webkit-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -moz-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -o-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: linear-gradient(#d6d6d6, #c6c6c6);
}

h1 {
  font-size: 200%;
  color: #df5e0e;
  margin: 0;
}

h2 {
  font-size: 150%;
  color: #816894;
  margin: 1em 0 0;
}

.chart {
  margin: 1em 0;
}

#newpost_headline:hover {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: #ccccff 0 0 5px, #ccccff 0 0 5px 0 inset;
  -moz-box-shadow: #ccccff 0 0 5px, #ccccff 0 0 5px 0 inset;
  box-shadow: #ccccff 0 0 5px, #ccccff 0 0 5px 0 inset;
}

iframe {
  max-width: 100%;
}

#sheet #pay-slider {
  width: 92%;
  padding-top: 40px;
  margin-bottom: 40px;
}

/* Spam protection */
.z {
  display: none;
}

table.listing {
  width: 100%;
  border-collapse: collapse;
  font-size: 85%;
  margin: 1em 0;
}

.listing th, .listing td {
  padding: 0.2em 1em;
  text-align: left;
  vertical-align: top;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

.listing th:first-child, .listing td:first-child {
  border-left: 0;
}

.listing th:last-child, .listing td:last-child {
  border-right: 0;
}

.listing td.separator {
  border-bottom: 1px solid #e8e8e8;
}

.listing td.nowrap {
  white-space: nowrap;
}

.listing tr:nth-of-type(even) {
  background: #f6f6f6;
}

.listing thead th {
  background: #e8e8e8;
  padding: 0.4em 1em 0.2em;
}

.listing tfoot th, .listing tfoot td {
  background: #e8e8e8;
}

.listing th.num, .listing td.num {
  text-align: right;
}

.listing tr.link a {
  text-decoration: none;
  border-bottom: 0;
  display: block;
  margin: -0.2em -1em;
  padding: 0.2em 1em;
  color: inherit;
}

.listing tr.link:hover {
  background: #d9e8f0;
}

#stickie-area {
  margin: 0;
  padding: 10px;
  list-style: none;
  font-size: 130%;
}

.stickie {
  width: 240px;
  background: #ffffa2;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 1.2em;
  margin: 10px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
}
.stickie:before, .stickie:after {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.stickie:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.stickie a, .stickie a:hover, .stickie a:active, .stickie a:visited, .stickie a:focus {
  /* Make stickies clickable */
  text-decoration: none !important;
  color: black !important;
  color: inherit !important;
  display: block;
  width: 100%;
  height: 100%;
  margin: -1em;
  padding: 1.5em 1em;
  border-bottom: 0;
  overflow-x: hidden;
}
header .stickie {
  width: 120px;
  margin: 10px;
  font-family: "Walter Turncoat", sans-serif;
}
.stickie .headline {
  font-family: "McLaren", sans-serif;
}
.stickie .date {
  font-size: 90%;
  color: #816894;
  font-family: "Walter Turncoat", sans-serif;
  position: absolute;
  top: 0.25em;
  right: 0.5em;
}
.stickie .location, .stickie .company, .stickie .count {
  font-size: 90%;
  color: #816894;
  font-family: "Walter Turncoat", sans-serif;
  position: absolute;
  height: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.stickie .location {
  top: 0.25em;
  left: 0.5em;
  width: 75%;
}
.stickie .company {
  right: 0.5em;
  bottom: 0.25em;
  width: 80%;
  text-align: right;
}
.stickie .new {
  font-size: 90%;
  color: #df5e0e;
  font-family: "Walter Turncoat", sans-serif;
  text-transform: lowercase;
  position: absolute;
  left: 0.5em;
  bottom: 0.25em;
}
.stickie .count {
  bottom: 0.25em;
  left: 0.5em;
  bottom: 0.25em;
}
.stickie .sticky {
  text-indent: -10000px;
  display: block;
  position: absolute;
  top: -4px;
  left: 135px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #df5e0e;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.stickie.grouped.under {
  position: absolute;
  top: -15px;
  left: -15px;
  bottom: -5px;
  right: -5px;
  width: auto;
  z-index: -3;
  overflow: hidden;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: top, left, bottom, right;
  -moz-transition-property: top, left, bottom, right;
  -o-transition-property: top, left, bottom, right;
  transition-property: top, left, bottom, right;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.stickie.grouped.under:before, .stickie.grouped.under:after {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.stickie:hover .stickie.grouped.under {
  top: -25px;
  left: -25px;
  right: 5px;
  bottom: 5px;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: top, left, bottom, right;
  -moz-transition-property: top, left, bottom, right;
  -o-transition-property: top, left, bottom, right;
  transition-property: top, left, bottom, right;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.stickie:hover .stickie.grouped.under:nth-of-type(2) {
  top: 5px;
  left: 5px;
  right: -25px;
  bottom: -25px;
}
.stickie:hover .stickie.grouped.under:nth-of-type(3) {
  top: -20px;
  left: 0;
  right: -20px;
  bottom: 0px;
}
.stickie:hover .stickie.grouped.under:nth-of-type(4) {
  top: 0;
  left: -20px;
  right: 0;
  bottom: -20px;
}
.stickie:hover .stickie.grouped.under:nth-of-type(5) {
  top: -30px;
  left: -10px;
  right: -10px;
  bottom: 10px;
}

#newpost, #filtered, #nojobs, #stickiead, #loginformore {
  font-family: "Walter Turncoat", sans-serif;
  background-color: #f6f6f6;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  /* &:focus, &:hover {
      background-color: $color-stickie-fulltime;
      @include transition-property(background-color);
      @include transition-duration(0.5s);
      textarea {
          background-color: $color-stickie-fulltime;
          @include transition-property(background-color);
          @include transition-duration(0.5s);
      }
  } */
}

#stickiead a {
  text-align: center;
}

.stickie.special {
  font-family: "Walter Turncoat", sans-serif;
  background-color: #f6f6f6;
}

#newpost textarea {
  font-family: "McLaren", sans-serif;
  width: 100%;
  border: 0;
  background-color: #f6f6f6;
  resize: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#newpost #newpost_details {
  margin-top: 0.5em;
  text-align: right;
}
#newpost input[type="submit"] {
  height: 27px;
  border: 1px solid #b7b7b7;
  font-family: ff-meta-web-pro-1, ff-meta-web-pro-2, arial, sans-serif;
  font-size: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0 12px;
  background: #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -moz-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: -o-linear-gradient(#e6e6e6, #d6d6d6);
  background-image: linear-gradient(#e6e6e6, #d6d6d6);
  font-weight: bold;
  color: #444;
}
#newpost input[type="submit"]:hover {
  background: #d6d6d6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d6d6d6), color-stop(100%, #c6c6c6));
  background-image: -webkit-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -moz-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: -o-linear-gradient(#d6d6d6, #c6c6c6);
  background-image: linear-gradient(#d6d6d6, #c6c6c6);
}

.stickie.info {
  font-family: "Walter Turncoat", sans-serif;
  background-color: #f6f6f6;
}

#main-40x {
  text-align: center;
}

#stickie-40x {
  background-color: #ffffa2;
  float: none;
  display: inline-block;
  text-align: center;
  width: auto;
  margin-top: 2em;
}

#i40x {
  font-size: 150px;
  font-weight: bold;
  letter-spacing: -0.2em;
  margin-left: -0.2em;
}

#i40x:after {
  display: block;
  color: #f0a40c;
  content: "︵";
  margin-top: -0.75em;
}

.i4 {
  color: #df5e0e;
  position: relative;
}

.i0 {
  color: #f0a40c;
  z-index: -1;
}

.i5 {
  color: #816894;
  position: relative;
}

#i40x-message {
  font-family: 'Walter Turncoat', sans-serif;
  color: #816894;
}

@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  a:after {
    content: " (" attr(href) ")";
  }

  abbr:after {
    content: " (" attr(title) ")";
  }

  .ir a:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
