<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% block titletags -%}
  <title>{% block title %}{% endblock %} — {{ config['SITE_TITLE'] }}</title>
  <meta name="DC.title" content="{{ self.title()|e }}"/>
  {%- endblock %}
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="author" content="{% block author %}{% endblock %}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/logo-star.png') }}"/>
  <!-- Fonts -->
  <link href="//fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" type="text/css">

  <!-- Stylesheets -->
  <link href="{{ url_for('static', filename='css/screen.css') }}?v=9" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static', filename='css/print.css') }}?v=1" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="{{ url_for('static', filename='css/ie.css') }}?v=3" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <script src="{{ url_for('static', filename='js/libs/modernizr-1.6.min.js') }}"></script>

  <!-- Feed and search -->
  <link rel="alternate" type="application/atom+xml"  title="All jobs – {{ config['SITE_TITLE']|e }}" href="{{ url_for('feed') }}" />
  <link rel="search" type="application/opensearchdescription+xml" href="{{ url_for('static', filename='opensearch.xml') }}" title="HasGeek Job Search" />

  {%- if config['TYPEKIT_CODE'] %}
    <script type="text/javascript" src="//use.typekit.com/{{ config['TYPEKIT_CODE'] }}.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  {% endif -%}
  {% block pageheaders %}{% endblock %}
</head>
<body>
  <div id="container" class="container">
    <header>
      <div id="site-title"><a href="{{ url_for('index') }}"><span class="has">Has</span><span class="geek">Geek</span> <span class="jobs">Job Board</span> <small class="has">β</small></a></div>
      <form id="search" action="{{ url_for('search') }}">
        <input type="text" placeholder="Find a job..." name="q"/>
        <input type="submit" value="Go"/>
      </form>
      {% block header %}{% endblock %}
    </header>
    <div id="main">
      <div id="flash-messages">
        {%- for category, msg in get_flashed_messages(with_categories=true) %}
          <div class="flash flash-{{ category }}"><div class="flashmessage">{{ msg }}</div></div>
        {%- endfor %}
      </div>
      {% block content %}{% endblock %}
    </div>
    <div id="main_footer"></div>
  </div> <!-- end of #container -->
  <footer>
    {% block footer %}
    <p>
      The HasGeek Job Board is a service of <a href="http://hasgeek.com/">HasGeek</a>.
      Subscribe to <a href="{{ url_for('feed') }}">the feed</a> or follow
      <a href="http://twitter.com/hasjob">@hasjob on Twitter</a>
      to find out when new jobs are posted. Hosted by
      <a href="http://e2enetworks.com/">E2E Networks</a>.
    </p>
    {% endblock %}
  </footer>

  {% assets "js_all" -%}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets -%}

  <!--[if lt IE 7 ]>
    <script src="{{ url_for('static', filename='js/libs/dd_belatedpng.js') }}"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

  {% if config['DEBUG'] %}
    <!-- yui profiler and profileviewer - remove for production -->
    <script src="{{ url_for('static', filename='js/profiling/yahoo-profiling.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/profiling/config.js') }}"></script>
    <!-- end profiling code -->
  {% endif %}

  {% if config['GA_CODE'] and not config['DEBUG'] %}
    <script type="text/javascript">
     var _gaq = [['_setAccount', '{{ config['GA_CODE'] }}'], ['_trackPageview']];
     (function(d, t) {
      var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      g.async = true;
      g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s);
     })(document, 'script');
    </script>
  {% endif -%}

  {% block footerscripts %}{% endblock %}

</body>
</html>
