<p>
  I understand that my listing may be removed if it
</p>
<ul>
  <li>Is adult content,</li>
  <li>Is an incorrect classified,</li>
  <li>Is factually incorrect, incomplete or misleading,</li>
  <li>Is posted by an intermediary instead of the actual person, or</li>
</ul>
<p>
  I further assert that I am solely responsible for the content of my listing.
</p>
<p>
  Listings are valid for 30 days only. They will be shown on the home page in reverse
  chronological order, with the most recent first. Editing a listing will not move it
  back to the top. Listings are automatically removed from the home page after 30 days
  but will continue to appear at the permanent link unless manually withdrawn or removed
  by a moderator as per the conditions specified above.
</p>
