#main-40x {
  text-align: center;
}
#stickie-40x {
  background-color: $color-stickie-fulltime;
  float: none;
  display: inline-block;
  text-align: center;
  width: auto;
  margin: 24px 0;
  padding: 24px 18px;
}
#i40x {
  font-size: 150px;
  font-weight: bold;
  letter-spacing: -0.2em;
  margin-left: -0.2em; // This must match letter-spacing
}
#i40x.offline {
  font-size: 80px;
  letter-spacing: 0;
  margin-left: 0em;
  margin-right: 0;
}
#i40x:after {
  display: block;
  color: $color-title-jobs;
  content: "︵";
  margin-top: -0.75em;
}
.i4 {
  color: $color-title-has;
  position: relative;
}
.i0 {
  color: $color-title-jobs;
  z-index: -1;
}
.i5 {
  color: $color-title-geek;
  position: relative;
}
#i40x-message {
  color: #816894;
  max-width: 400px;
}
